[2019-05-20 12:22] rejas commented on #2450
In Firefox it's still supported and doesnt fail. Or do I get somethign wrong here?

[2019-05-21 14:29] meowsus commented on #2450
@rejas you're right, it passes in Firefox since it's a Gecko-based browser.

[2019-05-22 18:30] thommcgrath opened #2451 "indexedDB doesn't appear to function"
I have my webpack config as such:

[code]

Yet `Modernizer.indexeddb` is undefined. As seen in the debugger, it's as if the test is not being run. The rest are executed correctly:

<img width="242" alt="Screen Shot 2019-05-22 at 2 19 08 PM" src="https://user-images.githubusercontent.com/12851521/58199086-baf77500-7c9d-11e9-9a47-2bc249c96ee6.png">

I imagine this is user error in some way, but I ca

[2019-05-22 21:29] thommcgrath commented on #2451
Figured it out. I was trying to detect the feature too early. Using Modernizer.on does the trick.

[2019-05-22 21:29] #2451 closed

[2019-05-24 14:33] Minilfat commented on #1805
This test fails on mobile Chrome 74 as well. In my case it was Honor 10 which had "height" equal to 337px and "compStyle" equal to 365px. I guess it was caused by the same issue: 100vh = innerHeight + the browser's address bar

[2019-05-27 14:19] horprogs commented on #2434
Hi! I prepared my first PR to Modernizr about this issue. Please could you check it?

https://github.com/Modernizr/Modernizr/pull/2453

[2019-05-27 15:08] ayumihamsaki opened #2454 "Moderizr 3.7.1 Fails Basic CSP Rules"
Hi,

I built the latest version and see that there are now many `data:audio` and `data:video` elements in the code, please see here: https://raw.githubusercontent.com/octobercms/october/30f2755f37ebf9fb9ebd9d4c7723d63c5534cb06/modules/system/assets/ui/vendor/modernizr/modernizr.js

I get the following when testing:

![csp](https://user-images.githubusercontent.com/17784082/58427791-89651c00-8098-1

[2019-05-27 15:13] ayumihamsaki commented on #2454
Ah ok sorry will make a note of that for future issues.

[2019-05-27 15:15] rejas commented on #2454
As for your question: those data:audio and data:video elements are used in the `audio\autoplay`, `audio\preload` and `video\autoplay` tests. So if you want to get rid of them, just exclude those tests from your build.

[2019-05-27 15:16] ayumihamsaki commented on #2454
ok thanks.

[2019-05-27 15:16] #2454 closed

[2019-05-28 07:10] #2434 closed

[2019-06-06 11:16] Minilfat opened #2455 "Modernizr.oninput detection false positive for Edge 44.17763.1.0"
Modernizr.oninput on Edge 44.17763.1.0 returns false. But this feature is fully [supported](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/oninput) on all versions of Edge.

Problem might be in the following check:

[code]

 For some reason _**"typeof input.oninput"**_ returns undefined.

[2019-06-09 16:20] Ferroin opened #2456 "Modernizr.cssvh returns false negative on Chrome on Android."
Most recently seen on Chrome version 74.0.3729.157 for Android.  I've also seen this on the past few versions too, but didn't have conclusive evidence yet that Modernizr was wrong (I now have checked a couple of ways, and all indications show that the `vh` unit works).

Possible sticking point here, Chrome on Android resizes the view-port when the on-screen keyboard pops up, and then again when it

[2019-06-10 09:39] rejas commented on #2456
Hi @Ferroin could you test if https://github.com/Modernizr/Modernizr/pull/2452 fixes this issue for you?

[2019-06-12 11:34] rejas commented on #2445
hi @wisniewskit thanks for the report and your investigation into a fix. WOuld you like to write a PR for this so we can test and check it?

[2019-06-12 12:22] jakepeyser opened #2458 "FR: Detect Proxy compatibility"
Most modern browsers support the ES6 [`Proxy` object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy), but there are some old versions/browsers that do not. It would be great to add a check for the existence of this object.

[2019-06-12 13:13] TomDeSmet commented on #2118
This doesn't seem to work anymore on Chrome for Android.

[2019-06-13 05:08] rejas commented on #2458
hi @jakepeyser care to make a PR for this?

[2019-06-13 05:10] rejas commented on #2118
@TomDeSmet any idea on how to fix this for CfA? Or is this FR not relevant anymore?

[2019-06-13 05:21] TomDeSmet commented on #2118
It's still relevant but I wouldn't know how to fix this unfortunately.

[2019-06-13 12:57] jakepeyser commented on #2458
I can try when I have some time :)

Opted for a simpler solution with checking browsers/versions bc I needed this in a crunch.

[2019-06-13 17:01] StormBlade97 commented on #1052
Confirmed that this is a thing. I was thinking that it was a backdoor for admin or something... 🤔

[2019-06-13 17:41] rejas commented on #1052
@StormBlade97 what version of modernizr are you experiencing this with?

[2019-06-16 09:44] TomMettam commented on #2118
I could investigate this if there is genuine interest.

What version of chrome for android is not working?

[2019-06-16 10:34] TomDeSmet commented on #2118
I tested the latest chrome version.

[2019-06-16 16:04] TomMettam commented on #2118
Could you give me the exact version on your device please?

[2019-06-16 16:08] TomDeSmet commented on #2118
74.0.3729.157

[2019-06-18 20:46] #2419 closed

[2019-06-24 20:58] BrockBeaudry commented on #2458
I need this as well; here's a PR for it: https://github.com/Modernizr/Modernizr/pull/2459

[2019-06-24 22:11] #2343 closed

[2019-06-27 16:38] PatOnTheBack opened #2460 "Incorrect Regular Expression in `/lib/build.js`"
Line 42 and 43 of `/lib/build.js` says:

[code]

[lgtm spotted a duplicate r](https://lgtm.com/projects/g/Modernizr/Modernizr/snapshot/8b121bd16ccc619bef5060e78eccb6420c4e7b87/files/lib/build.js?sort=name&dir=ASC&mode=heatmap) inside `[^return]`.

Should the lines be like this instead?

[code]

[2019-06-29 08:11] rejas commented on #2460
This proposed new line looks overly complicated. Why is the old one a problem?

[2019-06-29 13:36] PatOnTheBack commented on #2460
@rejas The old line is a problem because 'r' is repeated inside of the negated list `[^return]*$`. With the way the regular expression is written, the final asterisk allows the negated set to be ignored completely.
The old regular expression matches:

- "return apple"
- "return return" // This should not be matched.
- "return alert"

I don't think my proposed regular expression fixed the problem,

[2019-06-30 07:29] rejas commented on #2460
Thx for the info. Would you be willing to help and to create a PR for this?

[2019-06-30 14:59] #2458 closed

[2019-06-30 15:36] rejas commented on #2374
pinging @jlchereau :-)

[2019-06-30 23:23] Ferroin commented on #2456
Sorry about taking so long to get back with you about this.  #2452 does indeed appear to fix the issue for me.

[2019-07-01 11:46] PatOnTheBack commented on #2460
@Rejas I am willing to help with a PR. To know how to best write the regex, I need to understand why the matching needed to be performed in the first place. The code was not commented, so I wasn't entirely sure what the regex was for.

[2019-07-10 00:00] AlexTr commented on #2172
I confirm the above issue - with `input[type="number"] Localization` detection

[2019-07-16 13:05] webfacer opened #2462 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/modernizr) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2019-07-19 06:51] rejas commented on #2462
not sure @webfacer which file should be the default file set?

[2019-07-19 17:16] webfacer commented on #2462
i got this automated generated issue comment i didn´t create it. This means for instead copy pasting your library from the cdn provider "jsdelivr"

[2019-07-19 17:17] webfacer commented on #2462
also could you add an integrity for security reason?

[2019-07-19 17:31] rejas commented on #2462
where did you get the issue comment from?

[2019-07-19 18:52] webfacer commented on #2462
the main js i think modernizer it is described on the link of "default file"

[2019-07-19 19:44] vagnerbefore opened #2463 "What's the last stable version?"

[2019-07-19 20:24] rejas commented on #2463
3.7.1

[2019-07-19 20:24] #2463 closed

[2019-07-19 20:38] rejas commented on #2462
there is a main field in the package json:
[code]
so I guess this issue is not on our side.

[2019-07-19 20:39] rejas commented on #2462
I'll add the js extension to the entry, maybe that helps....

[2019-07-19 21:59] vagnerbefore opened #2464 "How can i use custom builder?"
How can I use the custom builder (https://modernizr.com/download?setclasses)  to make a file with 3.7.1 version?

[2019-07-20 07:18] rejas commented on #2464
Unfortunatly I am not able to update the homepage myself with the latest custom builder. Still waiting for @patrickkettner to do that :-(
You can still build one yourself by downloading this repo and running the command-line tool mentioned in the README.

[2019-07-20 07:18] #2464 closed

[2019-07-22 07:17] niksy commented on #2464
@vagnerbefore if you wish to use only set of tests with smallest output, you can try ESM version of Modernizr: https://github.com/niksy/modernizr-esm

[2019-07-28 18:58] BasJan81 opened #2465 "Expired Certificate - Let's Encrypt"
🚨 PLEASE 🚨

![CleanShot 2019-07-28 at 20 49 43](https://user-images.githubusercontent.com/10583358/62011502-6f6bb680-b179-11e9-906f-9908d9c26671.png)

[2019-07-29 12:47] zupo commented on #2415
Seems to have resurfaced. I get the following:

<img width="1170" alt="Screenshot 2019-07-29 at 14 47 14" src="https://user-images.githubusercontent.com/311580/62049555-c6bc6600-b20f-11e9-850a-8f6f22d15fab.png">

[2019-07-29 19:55] rcdeoliveira commented on #2465
Is this related with the following error on bower install?:
`bower modernizr#*            CERT_HAS_EXPIRED certificate has expired`

[2019-07-30 05:53] manojkamothi commented on #2465
I got same error

       bower modernizr#*              CERT_HAS_EXPIRED certificate has expired

       npm ERR! code ELIFECYCLE

       npm ERR! errno 1

       npm ERR! portal@0.1.0 postinstall: `bower install`

       npm ERR! Exit status 1

       npm ERR!

       npm ERR! Failed at the portal@0.1.0 postinstall script.

       npm ERR! This is probably not a problem with npm. There is likely

[2019-07-30 11:50] Neurozone commented on #2465
Yup same error, can't access the website

[2019-07-30 12:39] rejas commented on #2465
Again I have to hope @patrickkettner  reads this since he seems to be the only one with the keys to that page :-(

[2019-07-30 12:49] roblarsen commented on #2465
Who owns the domain? At this point it seems like the only way to solve these issues long-term is to move the site.

[2019-07-30 13:30] rejas commented on #2465
I dont know who actually owns itbut @patrickkettner was always able to fix issues with the certificate
As for a move: Would the github.io page (https://modernizr.github.io/Modernizr/) be a valid replacement spot ?

[2019-07-30 15:16] corykeane commented on #2465
Same error here. Hopefully they update the cert soon...

[2019-08-01 16:25] 190n commented on #2465
It's working now for me.

<img width="600" alt="image" src="https://user-images.githubusercontent.com/7763597/62310370-3a43ba80-b43e-11e9-8280-3b1425976bdc.png">

[2019-08-08 12:25] #2465 closed

[2019-08-31 07:56] rejas commented on #2462
Fixed with https://github.com/Modernizr/Modernizr/commit/377a6303b3b6d400979eeae351e1dcf43972eef4

[2019-08-31 07:56] #2462 closed

[2019-09-05 09:54] liviascapin opened #2468 "Unicode detection in Chrome 76"
I'm using Google Chrome version 76.0.3809.132 (64-Bit) and modernizr 3.6.0 with Unicode-Character detection (https://modernizr.com/download/?-unicode-setclasses)

And modernizr is telling me that unicode is not 'supported'.
I tried debugging a bit and checked `missingGlyph.offsetWidth` and `star.offsetWidth` and they really seem to be the same now... I tried another unicode symbol (I randomly pick

[2019-09-05 23:34] shockthetoast commented on #2468
We have run into the exact same issue. Our current solution is also to remove the unicode checks - hopefully a browser that passes any of the others has unicode support.

It worked fine in 76.0.3809.100, and failed for the first time (on release) in 76.0.3809.132.

I actually ran into this for the first time when testing the developer preview of Microsoft Edge, which is switching to use Chromium f

[2019-09-08 13:38] rejas commented on #2468
Thx for your inout you two. I tried to fix this in #2470 could you try it out and report back if that fixes it for you too?

[2019-09-08 13:46] #2374 closed

[2019-09-08 13:46] #2375 closed

[2019-09-10 00:08] shockthetoast commented on #2468
@rejas It's still failing for us. Interestingly, if I add some console output, Chrome shows the offsetWidth for both characters as 2250. If I run it in Firefox, I get the offset widths as 883 for missingGlyph and 1820 for the unicode comet character.

My first thought was that Chrome is setting some maximum offsetWidth, but when comparing with Firefox it's reporting an offsetWidth many times large

[2019-09-10 00:26] shockthetoast commented on #2468
This is an interesting development. I've created a fiddle to reproduce the Modernizr test.

https://jsfiddle.net/shockthetoast/fLnr7azb/

In Firefox it shows a placeholder characters, then the comet character.
In Chrome it shows two placeholder characters.

If I only append the comet glyph, it's fine. But it seems that when the invalid and valid characters are both appended, it treats them both as

[2019-09-10 03:06] shockthetoast commented on #2468
I've submitted a bug report to Google. If anyone with this issue could star it, it might help us get some attention on the problem:
https://bugs.chromium.org/p/chromium/issues/detail?id=1002338

I was able to get the reproduction steps down to an HTML file like the following. It seems no Javascript is even required, merely having the two character added to the dom in that order causes the issue.

[2019-09-11 06:50] shockthetoast commented on #2468
The good news is that the issue has been acknowledged as reproducible. They did make some font handling changes on purpose, but it looks like there is a bug that they will fix.

The bad news is that the priority was downgraded after declaring that the test modernizr uses isn't a good test and won't work... which is odd, since it's been in the library since 2012, and we've been successfully using i

[2019-09-11 07:30] shockthetoast commented on #2468
@rejas Over at that bug request they are asking for some feedback from the Modernizr team. Is this feedback you could provide?

Thanks!

[2019-09-14 09:35] rejas commented on #2468
@shockthetoast took me a while but I replied :-)

[2019-09-14 11:58] #2130 closed

[2019-09-14 12:11] #2275 closed

[2019-09-14 12:13] rejas commented on #2263
Closing since no further info was given.

[2019-09-14 12:13] #2263 closed

[2019-09-17 18:37] paulirish commented on #2468
@liviascapin btw do you currently rely on this test?

(I have the feeling like no one knows what this test indicates)

cc @ZeeDev @ZeeAgency  .. do you recall what the motivation behind this [test](https://gist.github.com/ZeeAgency/1437455) was? was there a browser who failed it at the time?

[2019-09-17 18:50] liviascapin commented on #2468
We did use the test (we just added some tests to our site and if any of them fail we suggest the user download another browser). But, since it's broken, I temporarily removed the test from the list of required browser-features as all browsers should support unicode anyway. So we do not need the test necessarily.

I think even if this issue is resolved I might not add the test again since it doesn'

[2019-09-17 18:53] paulirish commented on #2468
As someone who worked on Modernizr and now works on Chromium, yes, this is accurate. ;)

[2019-09-17 19:42] shockthetoast commented on #2468
@rejas Thanks!

I wonder if it should just be removed. I think the reason I started using it in the first place was that it was there. The fact that it was there probably made me wonder if there was a browser that might fail it, and since we need Unicode support we might as well test for it.

It doesn't help our current issue - content out in the wild on clients' systems now failing the test - but

[2019-09-19 22:44] rejas commented on #2468
@shockthetoast as far as I know there is no policy (yet) for deprecating tests.

And yes, after reading @paulirish comment I would also put this test up for deprecation. If I find the time this weekend I whip up a proposal for that, maybe in the spirit of https://github.com/Modernizr/Modernizr/pull/2432 which I think is a candidate for deprecation too)

In short: a test like this would get removed

[2019-09-21 14:06] ppiyush13 opened #2473 "FR: Add detection for flexbox {column|row}-gap"
I really likes Modernizr library, thanks everyone to make it excellent.

I am requesting a new feature detection in Modernizr.
According to [CSS Align 3 specs](https://www.w3.org/TR/css-align-3/#gaps) the gap property, and its row-gap and column-gap sub-properties, are being extended to Flex layout as well.
As of today only [Firefox 63+](https://developer.mozilla.org/en-US/docs/Web/CSS/gap#Support

[2019-09-25 11:49] rejas commented on #2473
Hi @ppiyush13 might be useful, would you like to write a test yourself with some help?

[2019-09-25 13:02] ppiyush13 commented on #2473
Hi @rejas, I can contribute. Please provide me some help on how should I begin

[2019-10-01 22:10] starionjames commented on #2262
I face the same challenge, and I have not been able to find anything with regard to how to properly use Modernizr to specifically detect object-fit for video.

I am currently thinking that perhaps the addTest() route would be the way to go, just not sure what logic I would use to return the proper result.

I am going to see if I can come up with a good idea by looking at the current implementation

[2019-10-04 15:20] Adstokoe19 opened #2476 "CSS position sticky returns true for Edge browsers despite partial support"
Modernizr detects all versions of Edge as supporting css position sticky despite partial support: https://caniuse.com/#search=sticky

If sticky is used on elements other than `th`, there is a known big with Edge which causes a flicker effect upon scroll.

[2019-10-05 10:36] rejas commented on #2476
Well, I asked caniuse how they define "partial support" lets see what they say.
I personally dont see it like that but rather as a bug... Would be hard to implement anyway sicne Modenrizr doesnt has the concept of "partial" support...

[2019-10-05 10:41] rejas commented on #2473
I'd take a look at https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/flexwrap.js
Your test should be very similiar to that one :-)

[2019-10-05 11:26] rejas commented on #2450
Closing this since the test doesnt harm anyone :-)

[2019-10-05 11:26] #2450 closed

[2019-10-07 10:40] yogibear1990 opened #2477 "Objectfit always not supported"
Im trying to get a fallback for object-fit working but in all browsers I get not supported in the console from the simplest bit of code.

[code]

Im using the latest version of Modernizr... 3.6.0

[2019-10-07 18:29] rejas commented on #2477
hi @yogibear1990 could you tell me how you build your modernizr version? or did you get it from the modernizr build page? if so, what options did you select? (those can be found on the start of the js file like that:
`/*! modernizr 3.6.0 (Custom Build) | MIT *
 * https://modernizr.com/download/?-objectfit-setclasses !*/`

[2019-10-07 18:30] rejas commented on #2477
Also, is it a specific browser where this occurs?

[2019-10-07 18:38] rejas commented on #1095
hi @rezaamya which version of modernizr are you using? because that code you posted is not in our current codebase...

[2019-10-07 19:51] rezaamya commented on #1095
Hi @rejas, Thanks for your reply. I am not using any version of modernizr!. I just have used the snippet code that @paulorely mentioned 2 years ago.

[2019-10-08 14:00] yogibear1990 commented on #2477
/*!
 * modernizr v3.6.0
 * Build https://modernizr.com/download?-objectfit-setclasses-dontmin
 *
 * Copyright (c)
 *  Faruk Ates
 *  Paul Irish
 *  Alex Sexton
 *  Ryan Seddon
 *  Patrick Kettner
 *  Stu Cox
 *  Richard Herrera

 * MIT License
 */

Ive only tried it in the latest Chrome

[2019-10-08 14:50] rejas commented on #2477
Works on my machine :-) Could be how you load Modernizr into your page/app
What's the output when you only do a `console.log(Modernizr)` in your page/app code?

[2019-10-23 11:47] #2358 closed

[2019-10-23 12:40] #1781 closed

[2019-10-24 16:01] #1805 closed

[2019-10-24 16:01] rejas commented on #2468
Closing this sicne we deprecated the test now

[2019-10-24 16:01] #2468 closed

[2019-10-24 16:02] rejas commented on #2431
Closing this since we deprecated the test with v3.8.0

[2019-10-24 16:02] #2431 closed

[2019-10-31 20:54] taseenb commented on #1095
Maybe someone already pointed to this article:
**Autoplay Policy Changes**
https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

Basically for the detection to work, the video:
- Must be visible (no display:none, visibility:hidden, less than opacity:1)
- Minimum 200x140 px
- MUST BE MUTED! `elem.setAttribute('muted', '')`

This way the detection works.

To hide the video I gue

[2019-11-25 09:43] odysseuscm commented on #2040
It looks like command line also fails for all css tests that have more than one property (where property is an array instead of a string):
e.g.:
$ ./node_modules/.bin/modernizr -f hyphens
$ ./node_modules/.bin/modernizr -f cssgrid

Or maybe I have to write it differently?

[2019-11-25 10:13] rejas opened #2479 "Command Line fails for nested properties"
It looks like command line also fails for all css tests that have more than one property (where property is an array instead of a string):
e.g.:
[code]
The culprit is this line:
https://github.com/Modernizr/Modernizr/blob/39bb2bff4d799185a94e2193c774c107a67b9c94/bin/modernizr#L123
which isnt able to handle the nested property like
`property: [ 'cssgrid', 'cssgridlegacy' ],`

[2019-11-25 10:15] rejas commented on #2040
You are correct @odysseuscm this is indeed broken. I opened a ticket #2479 for this in case you want to work on a fix ;)

[2019-11-25 15:08] odysseuscm commented on #2040
Thanks. I tried to give it a shot but I understand too little of the inner workings of NodeJS to get to the bottom of it. I did hack my way around it by creating and testing a second object where the property value is an array;
`var obj2 = _.find(source,{property: [prop]});`
But this of course is no fix ...

[2019-11-27 13:46] rejas commented on #2040
I whipped up a little fix over in #2480 if you want to take a look :-)

[2019-11-27 14:27] odysseuscm commented on #2040
Thanks, works great. And certainly more elegant than my "solution".

[2019-12-01 07:12] rejas commented on #2456
Fixed with v3.8.0 since #2452 got merged

[2019-12-01 07:12] #2456 closed

[2019-12-06 10:26] #2479 closed

[2019-12-06 16:29] AnderssonChristian opened #2482 "Incorrect behavior of media query test?"
I'm not sure if this is the expected behavior or if I am simply misunderstanding something. The `mq` function is defined as follows in 3.8.0:

[code]
On the 6th line in the snippet above, it seems like the function is checking whether or not the document matches the MediaQueryList. For example, on phones, it is expected that `matchmedia('(hover: hover)')` would give `matches: false` because there

[2019-12-08 21:11] isubasinghe opened #2483 "Modernizr CLI fails to find getusermedia.js"
Steps to reproduce:

1. Download modernizr 3.8.0
2. Use the following JSON config
[code]

3. Run `modernizr -c ,.modernizr.config.json -d ./m.js -u`

Then this error comes up:
{ Error: Error: ENOENT: no such file or directory, open '/Users/isubasinghe/Documents/Work/react_app/node_modules/modernizr/lib/../feature-detects/getusermedia.js'

I believe the problem is because getusermedia.js seems to b

[2019-12-09 09:45] rejas commented on #2483
You are referencing the getusermedia test wrong, your config is missing the directory. It should read

See https://github.com/Modernizr/Modernizr/blob/master/lib/config-all.json

[2019-12-09 09:45] #2483 closed

[2019-12-09 16:49] chris13524 commented on #2473
Looks like there may be an issue detecting this one. Reason being is that `row-gap` *is* valid for grid layouts but not flex layouts on Chrome. So running `Modernizr.testProp("row-gap", undefined)` returns true. We need some way to clarify that `display:flex`. Though I don't know much about this, so maybe I'm wrong.

[2019-12-10 09:53] jamierumbelow opened #2484 "<a ping=""> detection"
Quick note here as I don't have time to write this up into a proper PR yet.

[Hyperlink auditing](https://html.spec.whatwg.org/multipage/links.html#hyperlink-auditing) allows for a parallel background request to be made on a hyperlink click, often used for tracking and click-detection. It is currently not supported by modernizr.

According to [this SO post](https://stackoverflow.com/questions/5760

[2019-12-10 21:59] chris13524 commented on #2473
See my PR #2485 for an implementation. I tested it and it works in my application.

[2019-12-11 10:14] Slimacik commented on #2209
I can confirm this problem as well on Windows 10 Chrome 78.0.3904.108.
The needed zoom depends on desktop resolution, on some computers we needed to zoom out to 33%, on some 90% was enough. The smaller resolution, the more we need to zoom out.

The pending pull request above (https://github.com/Modernizr/Modernizr/pull/2414) would fix the detection.

[2019-12-16 07:22] buhichan opened #2486 "Missing es6 symbol feature detects"
Global Symbol constructor and well-known symbols are a part of es6 spec, it should be included in es6 feature detects.

[2019-12-16 07:24] buhichan commented on #2486
https://github.com/Modernizr/Modernizr/pull/2487

[2019-12-16 11:34] philwolstenholme commented on #2372
I can [see the custom properties test in the 3.8 codebase](https://github.com/Modernizr/Modernizr/blob/v3.8.0/feature-detects/css/customproperties.js) but it doesn't seem to be listed on https://modernizr.com/docs or in the builder?

[2019-12-16 11:35] philwolstenholme opened #2488 "CSS custom properties appears to be missing from docs and download builder"
I can [see the custom properties test in the 3.8 codebase](https://github.com/Modernizr/Modernizr/blob/v3.8.0/feature-detects/css/customproperties.js) but it doesn't seem to be listed on https://modernizr.com/docs or in the builder.

[2019-12-16 11:57] rejas commented on #2488
Yeah, i know :-) Website is outdated until further notice, sorry. Duplicate of https://github.com/Modernizr/modernizr-neue/issues/140

[2019-12-16 11:57] #2488 closed

[2019-12-16 12:21] philwolstenholme commented on #2488
Ah, thanks for the info. I'm using the CLI now and it all looks okay 👍

[2019-12-30 12:03] #2486 closed

[2020-01-17 10:18] lovetrivedi opened #2489 "http://modernizr.com/ is not working"
http://modernizr.com/ is down

[2020-01-17 16:53] sherbang commented on #2489
Looks like the domain name expired:

[2020-01-17 20:16] rejas commented on #2489
Unfortunatly only @patrickkettner can do something about that and he is very busy otherwise I fear. Even @paulirish couldnt free up some time for him :-(

[2020-01-17 20:19] patrickkettner commented on #2489
Apologies. A incorrect address ended up blocking my bank account from
renewing the domain automatically. I’ve been on the phone with the
registrar and the bank all afternoon. The domain has been renewed, and
should be back online shortly.

On Fri, Jan 17, 2020 at 3:16 PM Veeck <notifications@github.com> wrote:

--
patrick

[2020-01-17 20:24] rejas commented on #2489
Great news. Is it also possible then to update the page with the latest data?

[2020-01-20 19:01] IamManchanda opened #2490 "Modernizr.com is outdated - v3.6 instead of v3.8"
How I reproduced

1. I can't search for [Proxy Object](https://github.com/Modernizr/Modernizr/pull/2459)
2. Created Build on Codepen with the website and the version is 3.6 https://codepen.io/IamManchanda/pen/mdyQjNR

[2020-01-20 19:19] #2489 closed

[2020-01-20 20:02] rejas commented on #2490
Yes, this issue is well known. Unfortunatly the owner of the website isnt updating it anymore although numerous issues are open: https://github.com/Modernizr/modernizr-neue/issues/140 https://github.com/Modernizr/modernizr-neue/issues/141

[2020-01-20 20:02] #2490 closed

[2020-01-20 20:03] rejas commented on #2490
Pinging @patrickkettner one more time about this....

[2020-01-27 18:34] alizain commented on #2172
We're experiencing the same problem with `input[type="number"] Localization` detection

[2020-01-27 18:38] alizain opened #2492 "inputnumber-l10n test causing unintended scrolls"
Building off of the last few comments on #2172, `inputnumber-l10n.js` also has a [`input.focus()`](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/forms/inputnumber-l10n.js#L38) call which is causing unintended scrolls on pages

CC: @ManuelBoucault @AlexTr

[2020-01-27 20:41] rejas commented on #2172
Closing this since
- the `hyphen` test was fixed in https://github.com/Modernizr/Modernizr/pull/2369
- the `input[type="number"] Localization` will be tracked in #2492 thanks to @alizain

Any other test that messes with the focus should get its own isssue...

[2020-01-27 20:41] #2172 closed

[2020-01-27 20:58] rejas commented on #2492
Thx for the report @alizain Do you want to also help out with a PR or testing a possible fix?

[2020-01-28 17:09] JoelFeiner opened #2493 "indexeddbblog test fails to ever run"
I've isolated the issue to this code in the test:
[code]

I'm not sure how the first console statement could show an object with `indexeddb` being true, and the second would show undefined. In any case, because of that, false is returned immediately and the test never seems to produce a result. As such, `Modernizr.on('indexeddbblob', ...)` never actually calls the callback.

I'm using Modernizr vi

[2020-02-01 00:27] Epho opened #2495 "Touchevents not working properly in Chrome"
See https://github.com/Modernizr/Modernizr/blob/master/feature-detects/touchevents.js#L41

`window.TouchEvent` is passing in Chrome desktop Version 79.0.3945.130 (Official Build), as it is still on the window object in desktop, returning native code, where as in Firefox it returns undefined and does not exist on the window object.

[2020-02-03 22:55] GuiMaron commented on #2492
PR with a possible fix: https://github.com/Modernizr/Modernizr/pull/2496

Tested in: IE 11.973..17763.0, EDGE 72.0.2, Chrome 79.0.3945.130, Mozilla Firefox 72.0.2

We were having troubles with a single-spa application in my job, so I focused of finding the origin of the scrollings.

The solution was very simple, using a fixed-position input to test the inputnumber thus avoiding it to be outside th

[2020-02-04 11:31] rejas commented on #2495
The TouchEvent feature detect was marked as deprecated in the latest release due to its unclear nature. For info on why please take a look at https://github.com/Modernizr/Modernizr/pull/2472

[2020-02-04 11:31] #2495 closed

[2020-02-04 13:41] #2492 closed

[2020-02-04 14:00] alizain commented on #2492
thank you folks 👍

[2020-02-04 14:11] GuiMaron commented on #2492
You are welcome ...

Em ter., 4 de fev. de 2020 às 11:00, Alizain Feerasta <
notifications@github.com> escreveu:

[2020-02-04 16:22] #2473 closed

[2020-02-04 19:41] artoodeeto opened #2498 "Question: Does this detect the latest browser version?"
Hello we're trying to solve an issue about browser compatibility. so were trying to  check current browser and if its 2 versions away from the latest browser version.

something like:
[code]

the current version we can get but the latest version is the problem. I'm trying to read thru the documentation and I could find were to get the latest version. thanks for the help

[2020-02-04 20:39] rejas commented on #2498
Hi there. No, Modernizr just detects features, not what browser version it is running in. You probably could try the browserslist tool:
https://github.com/browserslist/browserslist#js-api

[2020-02-04 20:39] #2498 closed

[2020-02-04 20:54] Zoombara opened #2499 "New version is not backwards compatible with older versions of node"
Due to the updated package reference of mkdirp this package no longer works with yarn install on node <10. Since this package is referenced as "modernizr": "^3.5.0" in modernizr-webpack-plugin the breaking change was inherited as this is still version 3.

This was resolved in our application by updating the package.json to include
`"resolutions": {
    "modernizr": "3.8.0"
  }`

[2020-02-04 21:08] artoodeeto commented on #2498
ahhh. thank you.

[2020-02-04 21:58] rejas commented on #2499
This seems to be an issue that modernizr-webpack-plugin should fix, shouldnt it?

Node < 10 is not supported anymore...

[2020-02-04 23:51] Zoombara commented on #2499
While I agree they can update the dependency ref and require up to 3.8.0 instead of the latest minor version, it does not change the fact that the latest minor version is not backwards compatible. If you are fine ending support for Node < 10 then make it a clear and defined breaking change and increment the major version number.

[2020-02-08 08:49] rejas commented on #2499
I guess we will disagree on wether the change to the build infratstructure of this project warrants a major version bump. The API of this library is unchanged and you can user modernizr as usual.
Maybe you would ike to contribute a PR to the  modernizr-webpack-plugin to get it up-to-date with the current environment?

[2020-02-13 23:15] Zoombara commented on #2499
Well I guess we will disagree if you decide not to follow [semver versioning](https://docs.npmjs.com/about-semantic-versioning) as would be expected of a respectable project. I guess anyone who depends on your project should be extra wary about the way you decide to consume breaking changes from projects you depend on into your own. But hey, the original intent was just to inform you and anyone el

[2020-02-14 07:05] rejas commented on #2499
Like I said: The API of this library didnt change (as is mentioned in the original semver document: https://semver.org/), thats why I didnt update the major version. I am sorry if that breaks unmaintained and old projects but I try my best to keep at least this one here and its associated projects up-to-date. I created a PR and asks questions in the other project. Thank you for your constructive f

[2020-02-14 07:05] #2499 closed

[2020-02-17 06:40] DanielRuf commented on #2499
Well, I had a similar case with some other library too. I would also bump the major version as webpack 4 still supports Node 8 and has to.

[2020-02-17 06:41] DanielRuf commented on #2499
I will probably create a fork so people can still use it. Or we should use the mkdirp package.

[2020-02-17 06:49] DanielRuf commented on #2499
I will probably create a fork so people can still use it. Or we should pin the mkdirp package.

[2020-02-17 06:53] DanielRuf commented on #2499
See https://github.com/isaacs/node-mkdirp/issues/2

[2020-02-17 07:20] rejas commented on #2499
Looking at the webpack repo they require for their engine also >= 10.13 How come that works still then?

[2020-02-17 07:23] rejas commented on #2499
Also, why create a fork of this repo when you iMHO should fork the webpack-modernizr plugin and fix that? There you can pin the modernizr version and possibly fix some other stuff too.

[2020-02-17 10:23] DanielRuf commented on #2499
You are looking at the wrong branch ;-)

[2020-02-17 10:25] DanielRuf commented on #2499
Because it seems this package is the one which does not follow SemVer, not the webpack plugin which might not be aware of this issue. ;-)

I will create a fork for Node 8 support which will have all the upstream changes from this here except the version bump of mkdirp.

[2020-02-17 10:27] DanielRuf commented on #2499
Not sure if it is still actively maintained but the change here in this repo breaks all upstream packages which might still require Node 8 ;-)

I will try to contact the maintainers of it to switch to the Node 8 version then.

https://github.com/alexpalombaro/modernizr-webpack-plugin/issues

[2020-02-17 10:37] DanielRuf commented on #2499
Not sure if it is still actively maintained but the change here in this repo breaks all upstream packages which might still require Node 8 (and 6) ;-)

I will try to contact the maintainers of it to switch to the Node 8 version then.

https://github.com/alexpalombaro/modernizr-webpack-plugin/issues

[2020-02-17 11:56] rejas commented on #2499
I just released v3.9.1 that reverts the mkdirp dependency change. No need to fork this actively maintained project and hope that the abandoned project switches to that fork...

[2020-02-17 12:55] DanielRuf commented on #2499
Thank you very much for that =)

For reference (webpack 4 still requires Node 6+):

https://github.com/webpack/webpack/blob/webpack-4/package.json#L87
https://github.com/webpack/webpack/blob/v4.41.6/package.json#L87

Only webpack 5 (which is still not released as final stable release, only available as beta version at this moment) requires a higher version.

[2020-02-17 12:55] DanielRuf commented on #2499
Thank you very much for that =)

For reference (webpack 4 still requires Node 6+):

https://github.com/webpack/webpack/blob/webpack-4/package.json#L87
https://github.com/webpack/webpack/blob/v4.41.6/package.json#L87

Only webpack 5 (which is still not released as final stable release, only available as beta version at this moment) requires a higher Node version.

[2020-02-17 12:57] DanielRuf commented on #2499
I would have created a fork of the other project too and explicitly released it for webpack < 5 plugin and inform upstream packages until I would have gotten the response from the current maintainers of the webpack plugin.

[2020-02-19 12:21] prbt2016 opened #2500 "Modernizr Download builder on official website providing older version i.e 3.6.0"
Hi,

Tried to download Modernizr via Modernizr download builder i.e visiting

https://modernizr.com/download?dontmin-setclasses

( i.e unchecking the minify option) and clicking on Build and then clicking Download button. But it downloads the older build of modernizr-custom.js i.e 3.6.0.

How do i download Modernizr latest build of (modernizr-custom.js) i.e 3.9.1, as latest version here on Github

[2020-02-19 12:26] roblarsen commented on #2500
😭  Modernizr/modernizr-neue#140 Modernizr/modernizr-neue#141

[2020-02-20 09:28] rejas commented on #2500
Closing due to it being a duplicate. Thanks for the info anyway.

[2020-02-20 09:28] #2500 closed

[2020-02-27 19:53] gromovadarya90 opened #2501 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:02] renata2216 opened #2502 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:23] renata7738 opened #2503 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:35] helen798 opened #2505 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:27] helen78989 opened #2506 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-03-02 21:04] ANDYVDL commented on #2209
I have the same issue on Windows 10 Chrome 80.0.3987.122
The test fails only when i'm zoomed in.

[2020-03-05 10:28] jelmerdemaat opened #2507 "No classes on HTML added when testing inputtypes"
When testing for input types it seems no classes are added to the HTML element.

Steps to reproduce
1. Get Modernizr build from url https://modernizr.com/download?-inputtypes-setclasses-dontmin
2. Copy build code
3. Paste it in a Codepen, like I did here: https://codepen.io/jelmerdemaat/pen/YzXrrzP
4. See no classes get added to the HTML element

Tested in Chrome, Safari, iOS Safari, Firefox.

Not

[2020-03-05 14:21] rejas commented on #2507
Not your fault :-) The modernizr.com site is unfortunately only serving an outdated version (v3.6) This was fixed with v3.8.0 which you can build on the temporary "new.modernizr.com" page.

[2020-03-06 10:04] jelmerdemaat commented on #2507
Ah ok, thanks for the quick response!

Though I also tested it user the [customizr](https://github.com/Modernizr/customizr) tool (`npx customizr -c config.json`) and I have the same issue there. Is customizr using the same outdated version?

I used this config:

[code]

[2020-03-06 12:12] rejas commented on #2507
The modernizr version should be written in the comments on the top of the build file. SO, what does customizr say about it?

[2020-03-06 19:34] soccer99 opened #2508 "prefixes is null"
Getting an error that variable prefixes is not defined.

https://modernizr.com/download/?audio-bloburls-canvas-localstorage-promises-requestanimationframe-video-videocrossorigin-webglextensions-setclasses

This is the build link.  The minified version contains this issue.

[2020-03-08 09:49] rejas commented on #2508
Tahnks for your bug report @soccer99 Unfortunatly the modernizr.cm site is outdated (see https://github.com/Modernizr/modernizr-neue/issues/140)
Could you take a look at the temporary page at https://rejas.uber.space/ which serves the latest version 3.9.1 if the bug is still present there?

[2020-03-08 09:50] rejas commented on #2507
I also deployed the latest version (v3.9.1) to https://rejas.uber.space/
Could you check if that version also has the bug?

[2020-03-08 13:31] jelmerdemaat commented on #2507
So I checked several versions:

- [modernizr.com](https://modernizr.com/download/?-inputtypes-setclasses): outputs version 3.6.0, does not add classes
- [new.modernizr.com](https://new.modernizr.com/download/?-inputtypes-setclasses): outputs version 3.6.0, does not add classes
- `npx customizr -c config.json` using the config from [my comment](https://github.com/Modernizr/Modernizr/issues/2507#iss

[2020-03-08 19:36] devprojectsapps opened #2509 "Console node ./bin/modernizr -c ./lib/config-all.json throws out error"
Hi.
I am using version 3.9.0.
I want to create the modernizr.js.
I open a new console and enter this:
node ./bin/modernizr -c ./lib/config-all.json

I am getting this error:
module.js:549
    throw err;
    ^

Error: Cannot find module 'file'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at re

[2020-03-09 09:59] rejas commented on #2209
I updated the PR with a better fix. If some of you want to test it and give me feedback that would be great :-)

[2020-03-09 10:36] rejas commented on #2509
Could you try v3.9.1 which fixed an issued die people running node <= 8 ?Am 08.03.20, 20:36 schrieb devprojectsapps <notifications@github.com>:

  Hi. I am using version 3.9.0. I want to create the modernizr.js. I open a new console and enter this: node ./bin/modernizr -c ./lib/config-all.json
  I am getting this error: module.js:549 throw err; ^
  Error: Cannot find module 'file' at Function.Modu

[2020-03-09 11:12] devprojectsapps commented on #2509
Also i tried this version and get this error :-(

[2020-03-09 11:50] rejas commented on #2509
what node / npm version are you using ?

[2020-03-09 12:00] devprojectsapps commented on #2509
node -v results v8.10.0

[2020-03-09 12:47] rejas commented on #2509
Can't reproduce that with v8.10.0 n my macos. What OS are you using? Have you tried deleting the node_modules dir and the package-lock file and reinstalling your dependencies

[2020-03-09 14:02] devprojectsapps commented on #2509
I am using Ubuntu 18.04.3 LTS.
Yes i deleted the bower_components and node_modules directory and reinstalled both.
The same error :-(

[2020-03-09 20:00] onassar commented on #191
Anyone running into issues with this related to `SameSite` flags? Specifically: this fails when attempting to set a cookie within an iframe, but that's because the `SameSite` isn't set to `none` (which is what I want to test for)

[2020-03-10 13:46] devprojectsapps commented on #2509
What can i do?

[2020-03-11 15:22] rejas commented on #2509
I dont know. The file lib is something that should be there. Maybe something went wrong in your npm isntall?

[2020-03-11 15:23] rejas commented on #2509
Have you run "npm install" in your bower_components/modernizr  directory too?

[2020-03-12 12:40] jimmywarting opened #2510 "file input webkitdirectory on android"
detecting directory support is flaky on mobile.

[code]

my chrome browser on android yields true - but selecting a folder isn't possible.
however it lets me pick files instead.

I would have been fine with a grateful degration or a progressive enhancement. But upon selecting files the `input.files.length` is still 0. So the change event won't even fire.

anyone have any suggestions?

[2020-03-12 12:45] jimmywarting commented on #2510
i figured maybe it wouldn't be possible to alter the filelist somehow if the webkitdirectory was added

[code]

[2020-03-12 14:21] dabretin opened #2511 "ES6 - Rest parameters"
Hi !
Its not an issue but a small question: Is there a feature detection dor ES6 rest parameters ?

Thx :)

[2020-03-12 15:55] dabretin commented on #2376
Hi !
Is this thread dead?

[2020-03-12 15:57] rejas commented on #2376
well @evanrmurphy didnt respond so maybe. do you want / need this feature?

[2020-03-12 16:27] dabretin commented on #2376
Ohhh yes,I need this feature :)
May I try to make a PR ?

[2020-03-12 19:27] hnipps opened #2514 "Feature request: Check for existence of InputEvent"
`InputEvent` isn't defined in Edge 17.

I expected the Modernizr `oninput` check to account for this but it doesn't.

[2020-03-13 11:34] #2376 closed

[2020-03-13 18:03] PavMel opened #2519 "possible missing caniuse mappings"
Hi. there. Thank you for your very nice and helpful project.
I'm not javascript developer, I just noticed that a few modernizr's tests haven't mappings to caniuse db.

Left side    ==>> caniuse
Right side ==>> modernizr

**Possible** mappings:
[code]

[2020-03-14 08:21] rejas commented on #2519
Thanks for the list @PavMel Would you be interested in creating a PR for these?

[2020-03-14 16:15] PavMel commented on #2519
Hi, @rejas. I think that we need javascript programmer for these changes. I have just one month experience with javascript. Therefor coding review of my PR will be very hard for me and for you too.

[2020-03-15 14:45] rejas commented on #2519
Hi @PavMel you dont have to be a javascript programmer to add these infos in the top-comments of the feature-tests. But if you dont want to I can take care of this.

[2020-03-16 12:19] HadadTomer opened #2520 "Changing scriptGlobalName causing an exception - Cannot read property 'position' of undefined"
By default, Modernizr is attached to the window.
I want to attach it to a different variable in order to not pollute the global scope.
When I change `scriptGlobalName` to a different global variable I get the following error during script evaluation:

[code]

I'm using Modernizr version 3.9.1 and building with the following config.json:

[code]

[2020-03-16 13:00] rejas commented on #2520
Does this only happen when you change the `scriptGlobalName` ?
Also, could you check if this happens only with a specific feature-detect enabled?

[2020-03-16 13:08] rejas commented on #2514
oninput seems to be something different than the InputEvent (https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/oninput vs https://developer.mozilla.org/de/docs/Web/API/InputEvent)
would be weird (and quite difficult) to have those feature detects in one.
but would you like to write a PR for a new feature detect for this Event?

[2020-03-16 13:21] HadadTomer commented on #2520
Yes, it only happens when I change `scriptGlobalName`.
It's not related to a specific feature. When I set `scriptGlobalName` configuration, the Modernizr.js script looks like that:
[code]
It gets as a parameter the name of my object and calls it `window` inside the script - what leads to an error when trying to query the actual page window.

[2020-03-16 15:51] rejas commented on #2520
Thanks for the info.
Could you identify if older versions of modernizr didnt have this?

[2020-03-16 15:59] rejas commented on #2520
And: Could you try it just with the test "test/touchevents" compiled into it? I think this is a test that uses the mq class which triggers the call where position isnt found

[2020-03-16 16:19] HadadTomer commented on #2520
According to the changelog, `scriptGlobalName` was first introduced on 3.7.0, so I built the script using Modernizr version 3.7.0 with the following configuration
[code]
Got the same result
The script looks the same as my [previous comment](https://github.com/Modernizr/Modernizr/issues/2520#issuecomment-599532571) and got the error `Cannot read property 'position' of undefined` on the browser.

[2020-03-16 16:39] rejas commented on #2520
Like I said, the error comes from the mq class that is used by the touchevents test.
Alas, this was before my time and I am not so firm with the code to understand it...

More questions:
- What object is your myGlobalObject ? Does it have a getComputedStyle function?
- Does the error also occurs if you ONLY have the subpixelfont compiled into it?

[2020-03-17 00:34] onassar commented on #191
Any thoughts on this @paulirish or @tauren ?

[2020-03-17 07:26] HadadTomer commented on #2520
`myGlobalObject` is an object attached to the window. I can also get it by `window.myGlobalObject`. It doesn't have [getComputedStyle](https://developer.mozilla.org/en-US/docs/Web/API/Window/getComputedStyle) function, but the global `window` object has it.

I believe that the bug is that Modernizr is invoked with `myGlobalObject` as `window` and then tries to invoke methods that belong to `window

[2020-03-17 07:35] rejas commented on #2520
maybe the original author @mreinstein can shed some light on this topic?

[2020-03-17 07:37] rejas commented on #2520
looking at the tests that came with the commit the call to this feature there is
           'scriptGlobalName': 'window.awesomeco',
maybe you have to set it like
[code]
?

[2020-03-17 07:59] HadadTomer commented on #2520
I tried it, no luck :/

[2020-03-17 09:23] rejas commented on #2511
can still be open until the PR is merged

[2020-03-17 16:20] mreinstein commented on #2520
It looks like the PR I developed for `scriptGlobalName` may not work for all feature detects. We didn't catch this at the time when I developed the patch. :(

[2020-03-17 16:25] HadadTomer commented on #2520
Can you give me an access to create a pull request with a fix? I got it ready

[2020-03-17 16:26] mreinstein commented on #2520
You can submit a pull request now, just fork Modernizr and submit a PR from your own copy back here.

[2020-03-17 17:05] rejas commented on #2520
@mreinstein could you give me and @HadadTomer a hand on what or how to fix those tests? what is wrong with the feature detect in this case and how should it be fixed?

[2020-03-17 18:05] mreinstein commented on #2520
my guess is this line is a bug?
 https://github.com/HadadTomer/Modernizr/blob/9aebc1a650abdb195334610d0d800d6382125060/src/generate.js#L79

[2020-03-17 18:11] HadadTomer commented on #2520
I fixed the tests.
updated the PR

[2020-03-17 18:12] mreinstein commented on #1333
It's time to revisit this. In 2014 this was a cool experiment but now that browsers, node and deno have es modules, we really should embrace esm.

[2020-03-17 18:13] mreinstein commented on #2520
really this whole thing is a workaround for the fact that modernizer is still based on an antiquated module format. The more elegant solution would be to embrace esm and cut a 4.x api breaking modernizr release.

@rejas  if you agree maybe we could re-open https://github.com/Modernizr/Modernizr/issues/1333 ?

[2020-03-17 19:54] rejas commented on #2520
@mreinstein I totally agree that modernizr needs to a modern module format for its next major version. will talk about that in the mentioned ticket.
in the meantime abou this bug here: could you check out https://github.com/Modernizr/Modernizr/pull/2521 and give your opinion on it? thanks in advance.

[2020-03-17 20:00] rejas commented on #1333
I am very inclined to re-open this issue BUT there are caveats:
1) I dont have time to work in this myself since it would imply not only reowkring the code but also a lot of the documentation and the website has to be updated too. Thats  more than I alone can do...
2) There was already some work started but I am not sure if they followed it throiugh so one can base his/her work on that:
- @patrick

[2020-03-17 21:07] mreinstein commented on #1333
I think bumping the major version to 4, and then having good docs in the changelog around this and the readme will be sufficient

[2020-03-18 16:52] gharlan opened #2524 "update mkdirp (to not use old version of minimist with security vulnerabilities)"
modernizr [requires mkdirp 0.5.1](https://github.com/Modernizr/Modernizr/blob/0c2381083199c873857e89b27cf880eb961abd01/package.json#L54).
And mkdirp 0.5.1 [requires minimist 0.0.8](https://github.com/isaacs/node-mkdirp/blob/d4eff0f06093aed4f387e88e9fc301cb76beedc7/package.json#L19), which has a security vulnerability: https://snyk.io/vuln/SNYK-JS-MINIMIST-559764

[2020-03-18 21:30] rejas commented on #2524
This dependency wont get updated until the next major version, see https://github.com/Modernizr/Modernizr/issues/2499 on why I reverted that update.
I'll keep this issue open though to have it as a reminder for whenever that next major version will happen.

[2020-03-18 23:49] gharlan commented on #2524
https://github.com/isaacs/node-mkdirp/issues/7

maybe you could update mkdirp from 0.5.1 to 0.5.3?

[2020-03-19 05:28] rejas commented on #2524
ah, true. ok, will do :-)

[2020-03-19 05:28] #2524 closed

[2020-03-19 20:20] #2511 closed

[2020-03-20 07:38] jt3k opened #2525 "Why tooling.js.org does not recommend using modernizr?"
link: https://github.com/slikts/tooling/blob/master/not-recommended.md

Is modernizr really no longer needed in most use cases?

[2020-03-23 10:35] #2520 closed

[2020-03-23 11:11] rejas commented on #2525
Yes, most modern websites dont need Modernizr as a default, but it still has its purpose.
The explanation on that page is rather strange though: I cant just replace it with @babel/preset-env since that transpiles the code but doesnt add detection to it....

[2020-03-23 11:12] rejas commented on #2525
But maybe you should ask that question in the repository of toolings.js. org @jt3k  ?

[2020-03-23 11:12] rejas commented on #2525
Ah, you did via https://github.com/slikts/tooling/issues/6 Sorry didnt see that

[2020-03-23 11:12] #2525 closed

[2020-03-23 12:28] mreinstein commented on #2520
great work everyone!

[2020-04-06 10:12] dabretin opened #2529 "BUG: css/fontdisplay"
Hello !
I think there's a bug in the `feature-detects/css/fontdisplay.js `:

There's no reference to `testProp` so it raise an `Uncaught ReferenceError: testProp is not defined`

May I do a PR ?

[2020-04-06 12:49] rejas commented on #2529
You are right :-)
And you may :-)

[2020-04-06 13:38] dabretin commented on #2529
Done : https://github.com/Modernizr/Modernizr/pull/2530
:-)

[2020-04-06 13:44] #2529 closed

[2020-04-09 22:04] jelmerdemaat commented on #2507
@rejas Have you been able to look at the examples? I'm curious to know what is/was going wrong.

[2020-04-10 15:43] MarkelFe commented on #2519
Wouldn't mind doing it, however, I haven't been able to find a specific file of caniuse mapping, the best that I found is this file from commit a80a7ee which has been deleted since. Do you mean adding the mappings as notes in the feature detections?

[2020-04-11 15:04] rejas commented on #2519
Correct, there is not one single file for that. The mapping is done in each feature-detect file in the caniuse field in the doc like this:
https://github.com/Modernizr/Modernizr/blob/5a784e7978727cc1d37c752544cd3347485fd091/feature-detects/canvas.js#L5

[2020-04-12 13:41] #2231 closed

[2020-04-16 21:04] jhned opened #2536 "Rel Prefetch Support?"
Any chance we could get a detect for rel prefetch? It'd be super-helpful for WebKit browsers. There's a [bug out for it](https://bugs.webkit.org/show_bug.cgi?id=194539) now, but no movement yet.

[2020-04-17 15:43] #2519 closed

[2020-04-17 18:48] roblarsen commented on #2536
I wonder if there's any easy way to test that feature. 🤔

[2020-04-18 07:40] rejas commented on #2536
Maybe there is some similar test in Modenrizr already that can be used as a blueprint?

[2020-04-18 16:47] roblarsen commented on #2536
I'm going to look at it a little bit since I've got a bit more time on my hands and this strikes me as a funny problem to solve (also: potentially impossible?)

[2020-04-18 18:02] patrickkettner commented on #2536
https://github.com/Modernizr/Modernizr/issues/2297

[2020-04-18 18:07] roblarsen commented on #2536
I wouldn't have thought of that, which is funny, because I replied to that other issue. I don't know that I looked after posting the pointer, though. Thanks Patrick

[2020-04-19 14:49] thiagomajesk opened #2537 "Does this support browserlist?"
Hi! I was looking for a way to selectively enable/ disable some features based on browser version and I think it would be very handy to have something like [browserlist](https://github.com/browserslist/browserslist) integrated.

[2020-04-19 15:01] MarkelFe commented on #2537
Could you elaborate please? I mean, you could disable features based on the results of Modernizr tests. Or is that you want to test for different things depending on what browser accesses the website?

[2020-04-19 15:41] thiagomajesk commented on #2537
@MarkelFe Yes of course...
By supporting Browserlist I mean supporting a subset of the notation in [this target list](https://github.com/browserslist/browserslist#full-list). I think it would be very handy to be able to do something like:

[code]

For this specific scenario (using backdrop-filter as an example), the functionality may be supported by some browser and still have weird effects, like

[2020-04-19 16:04] MarkelFe commented on #2537
I think that Modernizr doesn't support Browserlist natively. However, Modernizr supports CSS calls so you can apply different effects depending on if a feature is supported or not. You can check them on the website, select the feature and click on *view examples*.

[code]

[2020-04-19 16:48] rejas commented on #2537
@MarkelFe is correct, Modernizr should be used like that with the css selectors. Modernizr doesnt care about specific browser versions but only about the current browser it is running in. Therefor is can only say: feature is supported OR not (partial support isnt supported).

But if (for eaxmple) you want to have specific feature-tests only run in the last 2 versions of a brwoser family then the a

[2020-04-19 22:00] thiagomajesk commented on #2537
@MarkelFe The problem of just checking if the feature is available is not enough sometimes.
The example I presented before is a real one, some versions of Edge does support `backdrop-filter` but there are rendering bugs and no way to detect that with just checking if its supported.

With something like browserlist we can treat a set of expected functionality instead of cherry-picking specifics (is

[2020-04-19 22:11] MarkelFe commented on #2537
I mean, you could use Modernizr to apply `backdrop-filter` in the browser that support it and apply `background: transparent` in the ones they don't.

Now, to solve the Edge issues. You could use Browserlist to force `background: transparent` in those versions.

It would be like this:

[code]

[2020-04-19 22:27] thiagomajesk commented on #2537
@MarkelFe Yes yes, of course...
But browserlist does not generate CSS classes for its target lists, not by itself and not that I know of.
This last example of yours is precisely the feature I'm proposing to Modernizr API.

I see that there's this utility: https://github.com/browserslist/browserslist-useragent that allows us to match the browser UA with the target list. Provided that I guess it wou

[2020-04-20 08:20] MarkelFe commented on #2537
You can also use Modernizr in JavaScript, I think that it may be easier for what you want to do. I only gave you CSS answers because you gave CSS code 😅.

[2020-04-20 18:40] jhned commented on #2536
Yeah, looks like [this might work](https://github.com/w3c/preload/issues/7#issuecomment-566791118).

[2020-04-20 19:09] rejas commented on #2536
So, feeling ready to do a PR? :-)

[2020-04-21 14:35] theseion commented on #1985
@drjecker I've been using your idea in production for about two years now and it works pretty well. There's one problem in particular I've discovered (and just had to fix) and that is that `document.elementFromPosition()` is not completely reliable. Some combinations of browser / OS / device (e.g. screen resolution) make that function return different results for your check.

Another problem is th

[2020-04-24 11:41] cylott opened #2540 "prefers-color-scheme"
The prefers-color-scheme CSS media query is used to detect if the user has requested the system use a light or dark color theme.

Does Modernizr have a method to detect whether the browser is "Dark Mode" capable? I'm not talking about whether or not dark mode is "on," but whether or not the device/os supports some sort of dark mode. I'd imagine this would be a laundry list of User Agents.

[2020-04-24 16:18] patrickkettner commented on #2540
@cylott it does not. Browsers have built in support for checking if a media query is supported, `matchMedia`

specifically, you would want

[code]

you can easily make that see if it is "on" with

[code]

or more bulletproof

[code]

Modernizr has a helper for media query testing, in `mq`. Like a lot of things here, its built to support browsers you shouldn't have to think about anymore, so I woul

[2020-04-26 09:53] rejas opened #2541 "Remove deprecated tests"
Those are ATM only
- touchevents
- unicode

Looking at @patrickkettner s reqrite I notice we have
`èsy6/templatestrings` and `stringtemplate` feature detects now, maybe one can go too?

[2020-04-26 18:17] MarkelFe commented on #2537
Was your problem solved @thiagomajesk ?

[2020-04-26 20:05] patrickkettner commented on #2537
fundamentally, this is not going to occur in Modernizr. You should not be gating features based on the concept of "a browser that is less than two version old". You should be checking if a browser has the feature you want to use. Modernizr makes this a possibility by bending over backwards to detect "weird side effects" so people get the fastest, most accurate information possible.

If you feel li

[2020-04-26 20:05] #2537 closed

[2020-04-26 20:07] patrickkettner commented on #2541
removed on my branch

[2020-04-27 01:12] thiagomajesk commented on #2537
@MarkelFe Not exactly but thanks for your time, I guess I'll have to look for a different solution elsewhere 🙂.

@patrickkettner Well, tell that to the Babel team, it's just the de-facto standard nowadays. Having to tackle each exceptional case is not practical for a lot of cases and I think it would be a great addition to Modernizr. To be honest, though, I was hoping this was already supported.

[2020-04-27 01:37] patrickkettner commented on #2537
@thiagomajesk they are different projects with different goals. Modernizr is used at run time, babel is used at build time.

No, I am suggesting you build something that fits your needs, since it will not be added to Modernizr.

[2020-04-27 11:38] rejas commented on #2099
since v4 is now on the table, would you visit this ticket again @patrickkettner once your es6 branch is merged?

[2020-04-27 11:40] rejas opened #2544 "Upgrade mkdirp to latest version, drop node8 support."
Node8 is not supported anymore, this is now the time to drop it here too by upgrading to the v1 branch of mkdirp (which requires node10)

[2020-04-27 12:22] MarkelFe opened #2546 "HTTPS certificate expired"
The issue has been solved now, just leaving it here for the few information it can be collected. Close it when it's no use.

Hi, right know [modernizr.com](https://modernizr.com) can't be accessed as the certificate (at least that is the error it is showing me) has expired.
`Not After 4/26/2020, 7:27:08 PM (Central European Summer Time)`

And due to HSTS (a good thing) the server can't be accessed

[2020-04-27 16:06] rejas commented on #2546
Thats for @patrickkettner to fix, maybe he also pushes the blogposts for the past releases while he's there ;-)

[2020-04-27 16:26] patrickkettner commented on #2099
oof.

I removed the stuff got like  ie 5 and opera 6 in my branch already

[2020-04-27 16:26] #2099 closed

[2020-04-27 16:45] #2544 closed

[2020-04-27 18:03] #2541 closed

[2020-04-28 09:57] MarkelFe opened #2548 "Request a minimal amount of metadata"
_Originally posted by @rejas in https://github.com/Modernizr/Modernizr/pull/2547_

Opened an issue to have it separated from the PR. [Related code.](https://github.com/Modernizr/Modernizr/blob/870cf370ab370223199462897abfbf0ec5469878/lib/metadata.js#L69-L71)

At this moment the required values would be the name and property ones.

[2020-04-28 10:08] rejas commented on #2546
Seems to be fixed. Still no blog updates though :-(

[2020-04-28 10:08] #2546 closed

[2020-04-28 10:25] MarkelFe commented on #2548
There would be a couple of ways to do it, as the code takes the `amdPath` in case there is no name metadata if we want to check for name metadata that part should be removed. If we want to maintain it the only check that could be done is the property one.

[2020-04-28 16:08] rejas commented on #2099
in your es6 branch?

[2020-04-28 16:09] patrickkettner commented on #2099
yes. when updating tests

On Tue, Apr 28, 2020 at 12:08 PM Veeck <notifications@github.com> wrote:

--
patrick

[2020-04-28 16:11] rejas commented on #2099
puh, hard to see in there :-) we should add that to the changelog entry (if you can say what brwosers exactly you removed)

[2020-04-28 16:12] patrickkettner commented on #2099
we didn't track support for specific browers in code most of the time, so I
wouldn't be comfortable explicitly listing. The code that was removed was
for Safari 2 and IE 5 because it was impossible to test in a meaningful way

On Tue, Apr 28, 2020 at 12:11 PM Veeck <notifications@github.com> wrote:

--
patrick

[2020-05-03 06:33] #2447 closed

[2020-05-03 07:13] #2548 closed

[2020-05-04 21:09] kaityhallman opened #2556 "Error: ENOENT: no such file or directory - lodash"
hi all,

working on a next.js project using Modernizr for feature detection. we had installed 3.9.1 and all was working fine with our production builds. however upgrading beyond this version (3.10.0+) has started to create this strange error when we run our build step:

[code]

the next.js build step just compiles our code into server and browser code that runs on the server at runtime. however, t

[2020-05-04 21:11] patrickkettner commented on #2556
hi @kaityhallman!
Thanks a lot for the detailed error report!

it looks like the lodash module isn't installed for some reason - can you try deleting the entire node_modules directory, and then reinstall?

[2020-05-04 21:18] kaityhallman commented on #2556
hey @patrickkettner thanks for the quick response!
unfortunately that did not change the outcome and i'm still seeing the error.
i have also previously tried adding lodash as a dependency in my own project, without success

[2020-05-04 22:31] patrickkettner commented on #2556
would you be able to run the following code within a node repl in the projects folder?

[code]

and post the output?

[2020-05-05 12:53] kaityhallman commented on #2556
@patrickkettner for sure!

[code]

interestingly it looks to be pointing to the main node modules folder in the project itself. when the error points to a dependency within node modules nested in the modernizr dependency in my project... not sure if that is significant

[2020-05-05 15:12] patrickkettner commented on #2556
it is! the failure is coming from the requirejs builder, which has a _very_ naive lookup. I submitted  a PR to fix this, and it will hopefully be merged and released soon.

Thanks again for such a detailed report! made figuring this out much simpler

[2020-05-05 15:41] kaityhallman commented on #2556
nice!! thanks so much for looking into this so quickly @patrickkettner 🥳

[2020-05-05 16:00] rejas commented on #2556
Just released v3.11.1 which hopefully fixes this for you.

[2020-05-05 16:59] kaityhallman commented on #2556
hey @rejas, unfortunately i am experiencing a similar, but slightly different error:

[code]

this time it's looking for lodash as a dependency within my own project. which makes sense with the change. but there are a few issues with that. first, i didn't initially have lodash as an explicitly installed dependency in my project, so it wouldn't exist per this lookup.

just for the sake of trying, i

[2020-05-05 17:15] patrickkettner commented on #2556
beh. im sorry, require is appending a .js suffix.

Could you try modifying [this line](https://github.com/Modernizr/Modernizr/blob/b5ea53df824ede3977c0e710ac23d8525b0210af/lib/build.js#L148 node_modules/modernizr/lib/build and change it to be this

[code]

[2020-05-05 17:49] kaityhallman commented on #2556
@patrickkettner tried this- at first i was getting a reference error from `path`:
`ReferenceError: path is not defined`.

however, i added an import for the path module at the top of the file (`var path = require('path')`), and it built! 🎉

[2020-05-05 17:50] patrickkettner commented on #2556
awesome, ill get a patch that uses that idea shortly

cc @rejas

[2020-05-05 18:03] rejas commented on #2556
Shall we unpublish the 3.11.1 version then since it doesnt really fix anything?

[2020-05-05 19:19] MarkelFe commented on #2556
[That wouldn't be semantic versioning 😕](https://semver.org/#spec-item-3), despite making total sense. I leave it just as a note as it may break systems that work with this model 🙃

Extract:

(I would say that deleting a package is modifying it)

[2020-05-05 19:22] rejas commented on #2556
Well, i only meant unpublish it from the npm registry and release a new v3.11.2

[2020-05-05 19:23] patrickkettner commented on #2556
nah. it  isn't a security issue, no PII is being leaked. it _does_ indicate
we have hole in  our tests though.

not that it matters, since lodash and require are out in v4...

On Tue, May 5, 2020 at 3:22 PM Veeck <notifications@github.com> wrote:

--
patrick

[2020-05-05 19:52] MarkelFe commented on #2556
@rejas Yeah just though about it in the shower and read it right now, that makes total sense, sorry for the inconvenience. (What Patrick says also makes sense)

[2020-05-06 16:53] brentfulgham opened #2559 "RTCPeerConnection incorrect for Safari"
Modernizr 3.5.0 believes that WebKit (Safari) does not support RTCPeerConnection because we expose an unprefixed version. Modernizr expects a webkit-prefixed version:

From WebInspector on Safari 13:
[code]
This leads to many sites losing RTC features for Safari/WebKit clients.

[2020-05-07 13:22] rejas commented on #2559
When opening https://modernizr.github.io/Modernizr/test/integration.html (v3.9.1) on my safari 13.1 I see correctly "peerconnection: true" Can you check that page too?

[2020-05-07 16:40] brentfulgham commented on #2559
The test page works correctly. Digging further, it looks like the site I was investigating (https://www.webliero.com) must have configured modernizr to use DOM prefixes. We no longer prefix RTCPeerConnection, so it fails to recognize the support.

The site may be looking for the prefixed version because they are using the deprecated, Chrome-specific callback-based APIs, which we don't support.

I'

[2020-05-07 16:40] #2559 closed

[2020-05-07 18:56] rejas commented on #2559
Ehm, that site you mentioned says to me it is not working because safari is not supporting `datachannel` according to my safari...

[2020-05-07 19:04] rejas commented on #2559
which got fixed in v3.8.0 see https://github.com/Modernizr/Modernizr/issues/2307

so if they upgrade to the latest version all should be well....

[2020-05-12 19:14] kaityhallman commented on #2556
hey @patrickkettner just checkin in! how is the progress going on this? we'd like to update soon if possible. thanks :)

[2020-05-13 13:01] michal1106 opened #2562 "Recognize browsers that disallow sync XHR in page dismissal"
Hi There,

We were wondering if there's a way to know about a browser if it dis/allows sync XHR in page dismissal

Chrome disallows it since v.80 - https://www.chromestatus.com/feature/4664843055398912
Safari start disallowing lately (if we detected correctly, it started on v.13.1)

We couldn't see any documentation about how to check if the disallow is enabled and we struggle with browsers and ve

[2020-05-15 07:13] rejas commented on #2556
hi @kaityhallman patrik provided a new patch which i cannot test at the moment. therefor could you try to change that line 148 again to
[code]
and report back if it fixes that problem of yours?

[2020-05-18 15:23] smares opened #2564 "Form validation lacks some helpfulness"
The check for form validation lacks some helpfulness as it doesn't tell if the browser supports `checkValidity` per form or per form input element, nor does it say anything about the support for `reportValidity`. IE11 for example does support `checkValidity` for forms, but not `reportValidity` which is something one might want to do as latter invokes interactive form validation using the browser's

[2020-05-18 18:56] basro opened #2565 "datachannel test leaks a PeerConnection object in Chrome and Firefox"
In both chrome and firefox `new RTCPeerConnection()` will leak unless closed.

This isn't much of a resource usage problem, but it's an annoyance when trying to look at the webrtc debug pages `about:webrtc` in Firefox and `chrome://webrtc-internals/` in Chrome. Since the modernizr test RTCPeerConnection will appear there.

This can be fixed by adding a `peerConnection.close()` [here](https://githu

[2020-05-18 19:18] kaityhallman commented on #2556
hey @rejas it works perfectly!

[2020-05-18 19:24] roblarsen commented on #2564
I think that's by design. I bet adding checkValidity and reportValidity tests would be pretty easy.

This implementation only tests support for interactive form validation.
To check validation for a specific type or a specific other constraint,
the test can be combined:
- `Modernizr.inputtypes.number && Modernizr.formvalidation` (browser supports rangeOverflow, typeMismatch etc. for type=number)
-

[2020-05-19 14:37] rejas commented on #2565
Thanks for the report. Fixed in v3.11.2

[2020-05-19 14:37] #2565 closed

[2020-05-19 14:39] rejas commented on #2556
Released v3.11.2 with the (hopefully) final fix. Thx for reporting it.

[2020-05-19 14:39] #2556 closed

[2020-05-19 19:34] smares commented on #2564
I understand, so actually `formvalidation` refers to interactive validation and `formvalidationapi` to non-interactive. Sorry, my bad then.

[2020-05-19 19:34] #2564 closed

[2020-05-19 20:43] kaityhallman commented on #2556
everything is working great! thank you @rejas, @MarkelFe and @patrickkettner 🎉

[2020-05-28 18:54] MarkelFe opened #2567 "Decrapting datalist.js"
Maybe I'm a little bit late but I think [datalist.js](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/elem/datalist.js) should be removed in v4, considering line 19 and 20 (dating back to 2012 😨). Also closing #2127 wouldn't be a bad idea if this get approved.

[2020-05-28 19:07] patrickkettner commented on #2567
dsgtm

[2020-05-28 19:09] MarkelFe commented on #2567
Do you want me to submit a PR?

[2020-05-28 19:10] patrickkettner commented on #2567
Sure!

On Thu, May 28, 2020 at 3:09 PM Markel F. <notifications@github.com> wrote:

--
patrick

[2020-05-29 08:34] #2127 closed

[2020-05-29 08:34] #2567 closed

[2020-05-29 21:08] SonaliAvaya commented on #1825
![Still facing "Security" error ]
(https://user-images.githubusercontent.com/62263280/83305533-fa20a600-a1ce-11ea-81cf-04bb0cf450cb.png)

[2020-05-30 06:04] rejas commented on #1825
@SonaliAvaya I am not sure this is the place to post this. Sicne it seems you got this error from running cypress. Or where are you using modernizr?

[2020-06-01 11:32] #2319 closed

[2020-06-01 11:40] #2085 closed

[2020-06-01 11:40] #2418 closed

[2020-06-02 18:38] SonaliAvaya commented on #1825
No i am running specs file on cypress
and cypress supports firefox 67 beta version which i am running

On Sat, May 30, 2020 at 2:04 AM Veeck <notifications@github.com> wrote:

[2020-06-02 20:44] rejas commented on #1825
Again I ask @SonaliAvaya : are you using modernizr in your project?

[2020-06-02 21:28] SonaliAvaya commented on #1825
No i am not using modernizr but i am using cypress and having issue

[2020-06-03 00:48] patrickkettner commented on #1825
@rejas the original comment appears to be deleted, so I think we are good.

@SonaliAvaya as I am sure you noted, this is not the correct place for the issue. Best of luck solving it!

[2020-06-07 16:08] derwaldgeist commented on #1333
Just stumbled upon this when naively trying to import Modernizr as an ES6 module. Hey guys, it's 2020 now. Just about time :-)

[2020-06-07 20:13] patrickkettner commented on #1333
@derwaldgeist #2108

[2020-06-08 13:46] alsotang opened #2571 "add support for indexeddb 2.0"
https://caniuse.com/#search=indexeddb

Now the indexeddb detect script only detects basic indexeddb apis.

But some browser versions implement 1.0 and some 2.0.

So we can add a new script to detect 2.0 support.

In my opinion, 2.0 add some new apis compared to 1.0. Such as `getAll/getAllKeys`.

So we can use `'getAll' in IDBIndex.prototype` to determine whether the browser supports it.

[2020-06-08 13:46] alsotang commented on #2571
https://github.com/Modernizr/Modernizr/blob/c1a3e04b33d9021e9c7d415f0ea749c0d8092ce4/feature-detects/indexeddb.js

[2020-06-09 15:26] MarkelFe commented on #2571
I was wondering whether a new file should be created or add it to indexeddb.js as happens to webp (for example). I vote for creating a new file, especially as we can't for example put the 2 caniuse id in one file.

[2020-06-10 02:17] alsotang commented on #2571
Creating a new file is better imo. Because 1.0 and 2.0 support are two different features. And caniuse also distinguish they two.

In my business situation, I wanna use indexeddb. I write a script to collect browser support.
The support ratio of 1.0 is 100%, while 2.0 is 99.54% because some users using ios < 10.3. So if care about the 0.5% users, I cant use 2.0 api.

[2020-06-10 02:18] alsotang commented on #2571
btw, this a my detect condition:

1.0: `'indexedDB' in global`
2.0: `'getAll' in IDBIndex.prototype`

[2020-06-11 11:10] Markel opened #2572 "Clipboard API"
I was thinking that it would be interesting to create detections for the various Clipboard APIs.

Here are [the caniuse compatibility tables](https://caniuse.com/#search=clipboard%20API) and the [MDN Docs](https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API)

I would need to give a thought about how this could be approach, unfortunately, I'm going to be pretty busy until mid-July (time

[2020-06-13 09:36] MarkelFe commented on #2572
Love to see how 2 days ago I was saying that I was pretty busy and now I have opened a pull request (I continue to be busy, but it is funny)

[2020-06-22 10:56] iwasherefirst2 opened #2574 "dragndrop stoped working?"
I am using this build for a couple of years now: http://modernizr.com/download/#-fontface-backgroundsize-borderimage-borderradius-boxshadow-flexbox-hsla-multiplebgs-opacity-rgba-textshadow-cssanimations-csscolumns-generatedcontent-cssgradients-cssreflections-csstransforms-csstransforms3d-csstransitions-applicationcache-canvas-canvastext-draganddrop-hashchange-history-audio-video-indexeddb-input-in

[2020-06-22 12:54] MarkelFe commented on #2574
Hi Adam 👋, the drag and drop test was removed in version 3.0.0 back in September 2015. It was due to mobile browsers supporting the API but not making them available to end users, this behavior resulted in false positives. It doesn't appear on the website as the web is providing now the 3.6.0 version (a little bit outdated, but newer than 3.0.0).

You may [check the changelog](https://github.com/M

[2020-06-22 13:26] iwasherefirst2 commented on #2574
@MarkelFe thank you for that detailed response. I understand that it was dropped in `3.0.0` but it strange that it stopped working, because I was using Modernizr 2.8.3 and it worked since 2015 till recently.

Anyway, since it has false positives, probably good to remove it in my code aswell.

If I happen to find out how to detect dragndrop without false positives, I will come back.

Cheers,

[2020-06-22 13:26] #2574 closed

[2020-06-23 08:17] syntheso opened #2577 "MediaStream Recording API"
Hello,

It is possible to detect the [MediaStream Recording API ](https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API) yet? I cannot see this on the feature list.

Thanks,

[2020-06-28 16:50] MarkelFe commented on #2577
Hi, as far as I know we don't have a feature detection yet. Maybe we could detect it with `mediaRecorder` object?

[2020-06-28 16:58] syntheso commented on #2577
Hi,

This is what I am using which seems to work fine:

[code]

[2020-06-28 19:17] MarkelFe commented on #2577
Yeah this test should be pretty straight forward. I'm bookmarking this and I will get back in 1-2 weeks (I'm pretty busy 😅).

Anyway if you want to do it yourself you would only need to change the log messages to `var result = true` and instead of a return change it to a `addTest` passing on the variable. You may even be able to use something like

[code]

as the object will probably be undefined

[2020-06-29 13:24] mrleblanc101 commented on #2465
The certificate is expired again blocking all install throught bower...

[2020-06-29 13:35] mrleblanc101 opened #2578 "Expired Certificate - Let's Encrypt"
Hi,
Since June 28th, the Modernizr certificate expired.
The website is now marked as «Not secure» and every install throught bower fail with error:
`bower modernizr#* CERT_HAS_EXPIRED certificate has expired`
<img width="487" alt="Capture d’écran, le 2020-06-29 à 09 35 17" src="https://user-images.githubusercontent.com/17392251/86012366-e0e86080-b9eb-11ea-8d56-afd59c0ad1b7.png">
<img width="743"

[2020-06-29 14:09] patrickkettner commented on #2578
Thanks! Auto renew script broke. this is fixed

[2020-06-29 14:09] #2578 closed

[2020-07-02 12:17] AnderssonChristian opened #2580 "css/vhunit sometimes fails"
The css/vhunit test sometimes returns false on Chrome v79/Windows 8.

After some manual debugging it seems `getComputedStyle` gives `height` to be 0 instead of the expected 10. I can reproduce this anywhere between 30-70% of the time when I refresh the page.

It feels like some kind of race-condition is going on. Could it be that the styles aren't always applied on time? I have over 30 feature-tes

[2020-07-02 12:22] AnderssonChristian opened #2581 "Add support for ResizeObserver"
As far as I know this feature-detect does not exist. I'll be happy to create a PR for this if needed.

[2020-07-02 13:58] MarkelFe commented on #2581
We probably can check for the `ResizeObserver` existence to check whether it is supported or not

I'll leave links around here for the metadata :)

[MDN](https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver)
[Web.dev article](https://web.dev/resize-observer/)
[Specification](https://www.w3.org/TR/resize-observer/)
[Caniuse](https://caniuse.com/#feat=resizeobserver)
[A Digital Ocean tuto

[2020-07-02 15:50] Markel opened #2583 "AppVeyor failing tests"
Okay so lately AppVeyor has been failing tests when everything should be alright, it probably has something to do with dependencies, but I'm leaving here the failed test links to have them sorted:

Node 10 (it may be a different error):
[https://ci.appveyor.com/project/rejas/modernizr/builds/33584351/job/r5ep279yhw242qu6](https://ci.appveyor.com/project/rejas/modernizr/builds/33584351/job/r5ep279y

[2020-07-02 20:12] rejas commented on #2583
yeah, something isnt right when using node 14....

[2020-07-02 20:17] #2581 closed

[2020-07-16 09:00] rejas commented on #1688
Closing since #2420 got merged

[2020-07-16 09:00] #1688 closed

[2020-07-19 15:09] stretch327 opened #2586 "IndexedDB test crashes with a security error when running in iframe on Safari because open test isn't wrapped in try-catch"
The IndexedDB test uses a try-catch to test if indexedDB is available on window, but then does not wrap the call to the open method which fails. I've taken a screenshot of the place where it fails.
<img width="752" alt="indexedDB_fail" src="https://user-images.githubusercontent.com/10066775/87878118-3cd15400-c9b0-11ea-93e7-517a5cf21b50.png">

[2020-07-22 10:51] mehmettahameral opened #2588 "Add Support for Augmented Reality / Virtual Reality"
It would be nice to have detection that checks browser support for AR/VR.

Example AR on the browser: https://www.aybola.com/ar/

[2020-07-22 12:51] Markel commented on #2588
Hi 👋! That's a pretty good idea! However in order to implement it we would need to specify the technology the VR/AR on the web uses. I've search a little bit and found about [WebXR](https://developer.mozilla.org/en-US/docs/Web/API/WebXR_Device_API), is that what you are talking about?

As a sidenote, detection of WebXR should be pretty straightforward, simply detecting if `navigator.xr` is null.

[2020-07-22 12:58] Markel commented on #2586
Hi Greg 👋! Thanks for informing, I guess we could move the check inside the `try`? But I'm not sure, I'm not very familiar with the IndexedDB test 🤔. Moreover I don't have a Mac (or iPhone) so if you are open to submit a PR it would be very welcomed!

[2020-07-22 13:58] mehmettahameral commented on #2588
🙋‍♂️
Not only WebXR, but also device information.
Please find the list of AR supported devices here: https://developers.google.com/ar/discover/supported-devices
So if you can keep up-to-date that list, that'd be great.

[2020-07-22 14:13] roblarsen commented on #2588
A static list of devices is basically the opposite of Modernizr.

The WebXR detect looks like an easy PR for someone 🏆

[2020-07-22 14:43] Markel commented on #2588
Yeah, a list of devices goes against the idea of Modernizr. The only thing that I think that could be feasible is if inside the result of `navigator.xr` or another object gave us a clue about whether AR is supported. However I would find it incredibly lucky if such object existed, specially as Modernizr runs on the browser, not the device

[2020-07-22 15:31] Markel commented on #2577
Maybe a `good-first-issue` tag on this issue would be nice! 🤔

[2020-07-23 10:05] #2572 closed

[2020-08-07 09:40] Markel commented on #2588
Okay, I've been checking out the WebXR specification and god just kill me if it is not extensive. As I see it there are only two options: we go all in or we don't but both don't make sense. A simple `navigator.xr` test would be stupid, as anybody who works with this technology is definitely capable of doing that simple check without adding an entire new library. On the other hand, I find that doin

[2020-08-07 09:44] mehmettahameral commented on #2588
@Markel It's not WebXR that's true but have you tried https://www.aybola.com/ar/ on your mobile?

[2020-08-07 09:54] Markel commented on #2588
@mehmettahameral yep, tried on my 3 mobile browsers (Firefox, Opera and 'Browser') and it works perfectly

[2020-08-07 10:02] mehmettahameral commented on #2588
@Markel cool 👍 so my main request was adding supported devices into Modernizr and keep maintained it. However, as far as I can see, storing static information is against Modernizr. So I think we can close the issue now.
_(If anyone needs further comment/question, please dm me.)_

[2020-08-07 10:02] #2588 closed

[2020-08-10 01:30] glomotion commented on #1427
Chrome 84.0.4147.105 in Mac 10.15.6 is incorrectly reporting false:
https://codepen.io/glomotion/pen/gOrpoXG
<img width="795" alt="Screen Shot 2020-08-10 at 11 30 08 am" src="https://user-images.githubusercontent.com/1452237/89746432-eb267000-dafc-11ea-883f-dc4effc9b44c.png">

[2020-08-10 09:06] dibsyjr1 opened #2589 "Cookie test doesn't currently set the cookie with required attributes for Chrome"
Google plan on blocking cookies in the near future that aren't set with certain attributes (SameSite = 'None' and Secure), the Cookie test doesn't currently set these properties showing warnings in dev tools that it'll be blocked in a future version of Chrome, could these attributes please be applied so that there's no problems in the near future with people's existing functionality.

[2020-08-10 09:45] Markel commented on #2589
Yeah, we probably should solve this. Do you have a link to the announcement in which they detail the changes?

[2020-08-10 10:19] dibsyjr1 commented on #2589
I've got a couple of websites, there's the Chromium site where they detail the launch timeline as well as a bunch of helpful links about it here:
https://www.chromium.org/updates/same-site

Then there's also this Chromium blog post about preparing for the changes:
https://blog.chromium.org/2019/10/developers-get-ready-for-new.html

[2020-08-10 13:32] Markel commented on #2589
I'm thinking that maybe we don't need to set up the cookie to be cross-site. The cookie should not be used in other websites (moreover, it is deleted once cookies are tested) and the need for a secure environment may result in bugs on HTTP sites.
Regardless, we should set up a `SameSite` value, as it is a good security practice, even if it is `strict`.

What do you think @dibsyjr1 ??

[2020-08-10 13:57] dibsyjr1 commented on #2589
Well the one issue I have is that i'm using the cookies test to make sure users have cookies enabled, otherwise I force redirect them to an error page. I admit asking for it to allow for cross-site might be a bit much, only other thing I can think of is if there were an option for either strict or cross-site? If not I can just work out some other solution, it may be that i'm the only one having th

[2020-08-11 10:45] Markel commented on #2589
I mean if they have cookies completely disabled `strict` cookies won't work. Maybe we can have options, although I admit that it may be impossible to check cross-site cookies, as we would need 2 domains (probably, not completely sure)

[2020-08-11 14:30] kucherenkoag commented on #2580
Hi @AnderssonChristian.
I've experienced sort of this recently.
Try to add `position: absolute` property to the first `testStyles` argument of `vhunit` test, like so:
[code]

[2020-08-12 10:43] dibsyjr1 commented on #2589
Maybe it'd make more sense to just stick with strict, this seems more like a very specific issue that i'm having than a more widespread one.

[2020-08-17 15:11] chris13524 opened #2590 "Flex gap detection does not work when inside display:none iframe"
I believe this is because [`scrollHeight`](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/flexgap.js#L28) does not get computed by the browser until an actual layout is performed. And since the iframe is `display:none`, no layout happens.

Possible solutions:
 - convert to async test to wait until iframe is displayed

Test case:

[code]

modernizr-flexgap-issue-iframe.html:

[2020-08-17 16:39] chris13524 commented on #2590
Using `window.addEventListener('resize', ...)` works. However this does not work in a "normal" situation due to the lack of a resize event. Would need some code to detect we are in a `display:none` situation first, and then add the resize event listener. Possibly by using `getComputedStyle()` and seeing that everything is blank.

Would converting this to an async test be acceptable for backwards c

[2020-08-19 07:25] shadeed commented on #2590
Hello Chris, I was looking for a way to detect the support for flexbox gap, but I didn't find the CSS class in the official modernizr build. Is this feature still not released yet?

Sorry that my question is not related to the issue.

[2020-08-19 11:43] Markel commented on #2590
Hi @shadeed the feature is already in the codebase [under the css folder (or click here)](https://www.github.com/Modernizr/Modernizr/tree/master/feature-detects%2Fcss%2Fflexgap.js) and should be available in the last version available **on Github**. The problem resides on the fact that the web is outdated (I think it works with v3.6.0), it is a problem that has been for a time now. Apart from buil

[2020-08-19 11:45] rejas commented on #2590
I guess that would be acceptable. But maybe @Markel and @patrickkettner have some opinion on this too?

[2020-08-19 12:15] Markel commented on #2590
I honestly don't have a clue whether converting a test to async causes compatibility problems @rejas 😅

If it doesn't I would go for it, I think async should be the future (I actually have written my few tests asynchronously)

If it does... I mean we haven't released v4 yet so we have that possibility 🤷. Maybe we should create a v4 branch and maybe merge #1333 there (seeing that the PR is becoming

[2020-08-20 11:39] dmke opened #2592 "Outdated version on modernizr.com/download"
As the title said, the website creates a build with Modernizr v3.6.0.

[2020-08-20 13:13] Markel commented on #2592
Yep, has been like that for a long time, sorry for the inconvenience. If I'm not wrong the problem resides on the need for a redeployment, but @patrickkettner may correct me. Moreover, he probably will be able to give you a better answer than me.

As my own suggestion (have been thinking about it for a while now) maybe the server should retrieve the necessary Modernizr files from the Github API in

[2020-08-25 15:25] chris13524 commented on #2590
Just submitted a PR #2593 to fix this

[2020-08-27 11:40] #2433 closed

[2020-09-01 13:28] Markel commented on #2583
Maybe we should contact appveyor through their [forums](https://help.appveyor.com/discussions) or [any of the other methods](https://www.appveyor.com/support/)???

[2020-09-02 19:37] Markel opened #2595 "Add simple test for the property value"
Hi 👋

### What is proposed
This should be a relatively easy PR to get done. Every Modernizr test has a `property` tag on their [metadata](https://github.com/Modernizr/Modernizr/blob/master/HOW_TO_WRITE_FEATURE_DETECTS.md#metadata), this tag is always* lowercase without any punctuation. The idea would be to create a test that throws an error* whenever a property doesn't respect by this rule.

*[The

[2020-09-03 10:43] Markel commented on #2595
Okay, I should have checked before writing an issue 🤦. [An error is actually thrown if you put uppercase symbols](https://github.com/Modernizr/Modernizr/blob/1baf805e9eb54710f6ad122a4f6557f6e369c530/test/browser/integration/classes.js#L12-L14), but not for symbols like spaces or others. So yeah, the issue should continue, but you may want to [check this issue](https://github.com/Modernizr/Moderniz

[2020-09-03 12:32] Markel commented on #2583
[Done](https://help.appveyor.com/discussions/problems/28111-code-1073741819)

[2020-09-03 13:06] Markel commented on #2580
@AnderssonChristian did @kucherenkoag's answer solve your problem? Just to add it as a reference to `knownBugs` while the bug is solved

[2020-09-03 19:05] #2583 closed

[2020-09-05 14:52] Markel commented on #2589
Hey, I just realized that we have a issue about that #2444, although I don't really know how that could be implemented without various servers

[2020-09-06 17:55] adzo261 commented on #2595
Hi, can I take this issue?

[2020-09-06 18:07] rejas commented on #2595
Sure, go for it

[2020-09-08 08:24] rejas commented on #2595
Merged!

[2020-09-08 08:24] #2595 closed

[2020-09-08 13:18] Markel commented on #2595
I don't know, but I quite like this format to create small changes that need to be done. Like explaining the things related to the change and give like some idea from where to start. What do you think @rejas ? @adzo261, maybe you could give us some feedback :)

[2020-09-08 13:57] adzo261 commented on #2595
Yes, I like this way of presenting an issue. It was indeed helpful for me. Pointers on where to start for small issues and conceptual overview for striking changes can make it less overwhelming for new comers. Also, I would vote for having an issues' template if we don't have already.

And regarding the codebase, it is well structured and maintained. And members and contributors, you guys rock🤘.
I

[2020-09-08 14:25] Markel commented on #2595
Yeah, I had been thinking of issuing a PR to add issue templates (including test requests, bugs, ...) for a while, but I just have been too lazy to start writing them 😅. I'll probably will start working on it next.

🥰😍♥♥

I think that we don't 🤔. It may be interesting to consider creating it, but that's something that maintainers would need to decide

[2020-09-09 20:06] rejas commented on #2595
I love the idea of better issue templates, it would really help in a lot of areas (bug reportes, maintainers etc)

As for slack /discord/gitter: I like that there is only one place for working on this project. Everything is here in github and can be discussed in issues. Adding some other software/website into the mix would add more work keeping up to date with bug reports / questions while not off

[2020-09-14 06:33] beshur opened #2604 "Safari 14 audio test returns empty values for typical formats"
I am working on a project and noticed that in Safari 14 (technological preview on Mac Catalina) `Modernizr.audio` returns this:

`{ogg: "", mp3: "", opus: "", wav: "", m4a: "maybe"}`

However, it plays MP3 just fine on other sites, most online test suites show it can play MP3 and M4A.

[2020-09-14 07:00] Markel commented on #2604
Confirmed using Browserstack, and it is definitely something about Safari 14 and not the device. Now, why does it happen, no idea... Nothing in the changelog seems to say anything about audio... It may be anti-fingerprinting technology? Or simply just a bug from Safari 14?

[2020-09-14 17:14] Markel commented on #2604
Maybe have to do something with the bunch of things related to audio of [release 113??](https://developer.apple.com/safari/technology-preview/release-notes/), but honestly I don't even know if that is the last version. I'm not very familiar with Safari (don't even own a iOS device)

[2020-09-15 05:23] beshur commented on #2604
Safari 14 is the next stable version (currently in beta), coming out with the next Mac OS version later this year.

While something changed in Safari, [some other site](https://html5test.com) for testing HTML5 features do a different check and yield positive results for mp3.

[2020-09-17 08:38] beshur commented on #2604
Apple just released Safari 14
https://www.macrumors.com/2020/09/16/apple-releases-safari-14-for-mac/

[2020-09-17 08:44] Markel commented on #2604
Yeah, we should get to it. But sorry, university is slowing me 😅😅

[2020-09-17 08:46] beshur commented on #2604
That's going to break a lot of sites, more people inbound, I can assure you.

In the meantime I found that `codecs` is missing from `canPlayType` in Safari.

[2020-09-18 15:51] Markel commented on #2604
@beshur What do you mean by that?

[2020-09-19 11:21] Markel commented on #2604
I mean we cannot delete the codecs part as that wouldn't make sense as the container and the codecs are two different things (something even more apparent in the video test, which is also affected by this bug). Honestly I don't really know what can we do in this case...

[2020-09-24 22:51] xdhmoore commented on #1095
I think there are 2 tests that could be done:
1) to determine if the `<video>` (or `<audio>`) tag is supported.
2) to determine if the element is playable due to media engagement scoring.

You can detect #2 by trying to `play()` something and looking to see if the promise is rejected with a `NotAllowedError`.

[2020-09-25 14:04] ray007 commented on #2411
Not sure about how to codify this into a `Modernizr` rule, but the test should go like this:

1. add an element with attribute `style="background: conic-gradient(red, green, blue)"` to the document
1. check if `window.getComputedStyle(element).backgroundImage != "none"`

and then remove the element from the document again I guess...

[2020-09-25 14:30] Markel commented on #2411
I've been searching through the css feature detects and maybe [the background position one](https://www.github.com/Modernizr/Modernizr/tree/master/feature-detects%2Fcss%2Fbackgroundposition-shorthand.js) related the most to what you are talking about @ray007

[2020-09-28 07:19] ray007 commented on #2411
Did a quick check with Chrome, Firefox and Edge (the old one), and
[code]
seems to do the right thing.

[2020-09-28 11:54] AlexTechNoir commented on #2253
Hello!

I know it's an old issue, but I also have this exact problem. I did everything just like OP, but Modernizr doesn't assign classes to html tag. Docs say that it should do this by default.

I'm using Next.js 9.5.3 and styled-components 5.2.0

My **modernizr-config.json**:

[code]

In styled-components' GlobalStyle I have:

[code]

What can I do to resolve this?

[2020-09-28 12:52] roblarsen opened #2605 "3.11.3 is not on GitHub?"
I am working on an update to HTML5 Boilerplate and running the build I saw a new version of Modernizr generated. Dependabot made the change three months ago and we hadn't run a build into master in the interim. The thing is- I don't see the release here on GitHub and since the site is a zombie, there's no mention of it there. The latest tag is [v3.11.2](https://github.com/Modernizr/Modernizr/relea

[2020-09-28 12:59] rejas commented on #2605
You are correct, I didnt tag that release. Fixed that.

[2020-09-28 12:59] #2605 closed

[2020-09-28 15:00] rejas commented on #2253
hi @AlexTechNoir what version of modernizr is being used here?

[2020-09-28 16:17] AlexTechNoir commented on #2253
3.11.3

[2020-09-28 19:45] rejas commented on #2253
Could you try changing the line
[code]
in your config into
[code]
?
The test prefix seems pretty weird to me (we dont use that in our code)

[2020-09-29 07:11] AlexTechNoir commented on #2253
Changed. Re-built. No tags still.

[2020-09-30 20:12] rejas commented on #2253
Could you post how your modernizr js looks like after it got build?

[2020-10-01 07:40] AlexTechNoir commented on #2253
**modernizr.js**:

[code]

[2020-10-02 18:04] ricknjacky commented on #2577
Hi @Markel ,I want to contribute to this issue. I am new to the codebase, can someone help me here a bit, where the changes are to be made and just some guidance :)

[2020-10-02 18:12] patrickkettner commented on #2577
[code]

would be the modernizr-y way of checking

Modernizr usually doesn't add detects for things that are this straightforward to detect, as it is just adding bloat to the web

[2020-10-02 18:19] Markel commented on #2577
Hi @ricknjacky :)
Absolutely, okay the browsers tests are contained inside the `feature-detects` folder, so the first thing it would be creating a file called `mediastream.js` file there.

Now we have to create the test (that's the complicated part), the feature detects are divided in two parts: the metadata part and the detect. For the metadata I recommend you checking [the metadata documentation

[2020-10-02 18:21] Markel commented on #2577
Oh, @patrickkettner beat me! 😅 His solution works too!

About adding "bloat" to the web, you're the maintainer, so your call 😊!

[2020-10-02 18:41] ricknjacky commented on #2577
@patrickkettner is the issue still up for grabs? or you planning to not add this functionality to it?

[2020-10-02 18:42] patrickkettner commented on #2577
go for it!

On Fri, Oct 2, 2020 at 2:41 PM Jaikishan Brijwani <notifications@github.com>
wrote:

--
patrick

[2020-10-05 13:12] Xenonym commented on #2586
Shouldn't this have been resolved by #2336?

[2020-10-06 12:07] ray007 commented on #2411
So at the end it may look like this:
[code]

[2020-10-06 13:20] rejas commented on #2411
Yeah, probably :-) Feeling ready to make a PR for this?

[2020-10-06 13:25] rejas commented on #2586
Maybe @stretch327 can comment on that? What version were you using? Something >= 3.7?

[2020-10-06 13:53] rejas commented on #2253
Using the modernizr js you psoted I get this added to my html element classes:

`<html class="js is--chrome is--webkit webp webp-alpha webp-animation webp-lossless" lang="de" itemscope="itemscope" itemtype="https://schema.org/WebPage">`

So technically your css should work. Do you see those webp classes in your webpage too?

[2020-10-08 09:40] AlexTechNoir commented on #2253
No webp classes. I've rebuilt everything again, still nothing. Maybe Modernizr is JS-specific and doesn't work correctly with Next.js...

[2020-10-08 09:42] patrickkettner commented on #2253
no.

can you please share the url of a page exhibiting this behavior?

[2020-10-08 10:55] AlexTechNoir commented on #2253
Here (html tag has only lang attr that I wrote manually):

https://portfolio-ruddy-phi.vercel.app/

[2020-10-08 10:57] patrickkettner commented on #2253
your bundles do not appear to contain Modernizr. Which chunk should be containing it?

[2020-10-08 11:14] AlexTechNoir commented on #2253
Sorry, I'm not qualified enough about bundles. I don't do bundle config since it's done under the hood.

[2020-10-08 11:18] patrickkettner commented on #2253
no worries. I would guess there is an issue with your build step, then. Modernizr is either not being included, or it is being removed as unused code by terser

[2020-10-08 11:21] AlexTechNoir commented on #2253
Thanks, Patrick! I'll check it.

[2020-10-09 13:27] ray007 commented on #2411
I had hoped posting the code here would be enough. And that somebody would verify it.
Will try to find some time...

[2020-10-11 20:01] HeroProtagonist commented on #2536
👋 I would like to take a crack at this one.

[2020-10-12 07:01] rejas commented on #2536
Go for it!

[2020-10-14 01:49] HeroProtagonist commented on #2536
PR submitted!
If desired, I could also add detection for `rel=preload` in the same directory in another PR

[2020-10-15 23:59] jmmarco opened #2611 "AVIF Support missing?"
I was looking for support with the new [AVIF image format](https://github.com/Kagami/avif.js). But it doesn't seem to be included if you type: __image__ or __avif__ on the website:
<img width="1369" alt="Screen Shot 2020-10-15 at 21 01 40" src="https://user-images.githubusercontent.com/3438337/96197915-aa4a3d80-0f29-11eb-8416-2c5afca4cfb4.png">

I cloned the project and found that feature support

[2020-10-16 08:33] rejas commented on #2611
The website is unfortunately outdated until @patrickkettner finds the time to update it :-(
Also: avif detection got only merged in the future v4 branch, it isnt in the v3 branch

[2020-10-16 08:33] #2611 closed

[2020-10-20 16:07] HeroProtagonist commented on #2536
Is it ok to do browser detection for the IE11 edge case pointed out on the PR?
https://github.com/Modernizr/Modernizr/pull/2610#issuecomment-709717161

[2020-10-21 14:18] rejas commented on #2536
At least a note / warning should be added to the docs of the feature detect. Not sure if detecting IE11 specifically should be done....

[2020-10-25 10:28] knittl commented on #2460
Indeed, this regular expression looks like it was intended match any `'return'` not followed by another `'return'`. But `[^return]` does not mean "not the string 'return' at this position", but rather "not any of the characters in the group at this position".

It would be really helpful to have a list of expected input and output. As mentioned earlier, it is not exactly clear what the code is supp

[2020-10-25 10:37] knittl commented on #2460
A better (more maintainable?) solution might be to use `.replace` with a callback function, see #2613: every line with at least one `'return'` is matched, then use a callback to remove everything between the last `'return'` occurrence in this line and the end of line. WDYT?

[2020-10-25 15:27] heidar55 commented on #2577
May i work on this issue?

[2020-10-25 19:44] rejas commented on #2577
If @ricknjacky doesnt show up in the next 24 hours go for it :-)

[2020-10-26 06:50] #2536 closed

[2020-10-28 13:32] #2571 closed

[2020-10-30 11:15] livthomas commented on #2611
If anybody wants to get the same output as on the website before it's updated, follow these steps:
[code]

You'll find the result in `modernizr.js` file.

[2020-11-02 22:52] GeremyHanjra opened #2614 "Uncaught ReferenceError: Modernizr is not defined"

[2020-11-03 08:49] rejas commented on #2614
hi @GeremyHanjra can you give more information on your setup where this error occurs?

[2020-11-17 18:39] OliverJAsh opened #2615 "Exif orientation test incorrectly returns `false` in iOS Safari version 12 and below"
**Type of bug**

- [ ] Differences between Can I use & Modernizr
- [ ] False positive
- [x] False negative
- [ ] Modernizr error

**Describe the bug**

The Exif orientation test returns `false` in iOS Safari 12.

**How to Reproduce**
https://stackblitz.com/edit/js-rq1mxv?file=index.html

**Expected behavior**
It should return `true`.

**Additional context**
iOS Safari only honours Exif orientation

[2020-11-18 01:55] GeoMarkou commented on #2234
Just ran into this issue. Is the recommended solution really to allow unsafe eval in the CSP? Is there no other way to detect arrow function support in the browser?

[2020-11-23 12:18] Markel commented on #2615
Sorry for the late response @OliverJAsh

🤔💭 So this is kind of a partial support, how do you think we should approach this @rejas ?

(Background for whoever needs it: Modernizr only has two states: supported or not supported, parcial support is not contemplated)

[2020-11-23 12:23] Markel commented on #2234
Yeah, I agree with @GeoMarkou . Moreover, a test which result in a false negative due to errors with CSP doesn't work correctly, as arrow functions may be implemented but they are not detected correctly. I'll try to look further into the issue on the weekend :)

[2020-11-23 14:21] rejas commented on #2615
Ah, partial support... That already came up in https://github.com/Modernizr/Modernizr/issues/2476
But other than asking caniuse how they define partial support, not much has happened in that direction: https://github.com/Fyrd/caniuse/issues/5119
Not sure how we can map that to our data...

[2020-11-24 15:35] OliverJAsh commented on #2615
Perhaps the test should just check for _full_ support. Anything less will not pass the test?

[2020-11-25 09:37] Markel commented on #2577
As a note, even if #2606 has been closed (not merged), the issue stills needs to be worked on :)

[2020-11-26 15:35] hieroshima opened #2616 "Upgrading lodash due to CVE-2020-8203"
Hi,

On the newest version 3.11.3 as a dependency you are using lodash 4.17.5 where high security issue is detected: https://nvd.nist.gov/vuln/detail/CVE-2020-8203 - are you considering to upgrade this to lodash >= 4.17.20 for 3.x version?

Thanks

[2020-11-27 09:39] rejas commented on #2616
Thx for the info, just released v3.11.4 with the updates

[2020-11-27 09:39] #2616 closed

[2020-12-08 05:31] onassar commented on #2248
I just updated Chrome (to 87.x) and find this happening when it's within an iframe. Anyone else running into this?

[2020-12-08 05:35] onassar commented on #1911
Jumping in here: I noticed some tests return false positives when run within a iframe that's being hidden. Being able to re-run tests (eg. when the iframe is shown) would be helpful.

[2020-12-10 12:10] Markel commented on #2248
Hi @onassar 👋
Does it make a difference whether the iframe is hidden or visible? Saying due to https://github.com/Modernizr/Modernizr/issues/1911#issuecomment-740388485.

[2020-12-10 12:52] toddwong opened #2619 "Wrong property name of es6class test"
**Type of bug**

- [ ] Differences between Can I use & Modernizr
- [ ] False positive
- [x] Modernizr error

**Describe the bug**
in Modernizr.metadata result, the `property` and `cssclass` of this test is "es6class", but  actually it is "class".

**How to Reproduce**
`modernizr -d detections.js -f es6class -o setClasses`
When include this script in html page, `Modernizr.class` is true, but `Moder

[2020-12-10 15:22] onassar commented on #2248
Yep when it's hidden. This was working okay before hand :(

[2020-12-13 12:51] #2619 closed

[2020-12-13 12:51] rejas commented on #2619
Thanks for the report, will be fixed in v4

[2020-12-13 13:30] toddwong opened #2623 "es6symbol throws error `"Symbol" is undefined` in IE11"
**Type of bug**

- [ ] Differences between Can I use & Modernizr
- [ ] False positive
- [x] Modernizr error

**Describe the bug**
The "es6symbol" test throws `"Symbol" is undefined` error in IE11.

**How to Reproduce**

Run the es6symbol test in IE11, error will be thrown.

**Expected behavior**

No error thrown, but `Modernizr.es6symbol === false`

**Additional context**

Modernizr version : `3.1

[2020-12-16 19:03] #2623 closed

[2020-12-17 19:59] Identekit opened #2625 "Content Security Policy (CSP) blocks application of inline styles"
**Type of bug**

- [ ] Differences between Can I use & Modernizr
- [ ] False positive
- [X] Modernizr error

**Describe the bug**
Code within modernizr-2.8.3.js is being blocked by the Content Security Policy because it requires inline execution.

**How to Reproduce**
1. Apply the following Content-Security-Policy header for the site:
`content-security-policy: default-src 'self'; font-src 'self';

[2020-12-17 22:44] Markel commented on #2625
Hi @Identekit 👋,
Is there any reason why you are using v2.8.3? Also, if it doesn't require too much finicking, could you see if the error continues to happen in the latest version?

Also, let's link #1263 (so everything is better documented :)

[2020-12-17 23:05] Identekit commented on #2625
@Markel
Thanks for getting back to me so quickly.

Version 2.8.3 is the most recent version available in NuGet...so that is the version I have.  Has this been fixed in a more recent version?  If so, when will the latest version be available in NuGet?

I also added a comment to #1263, thanks for linking this back to that.

[2020-12-17 23:15] Markel commented on #2625
I actually don't know if this issue has been fixed in newer version, I'm relatively new to the project so those "backlog" issues still get me. Maybe @patrickkettner knows something about it? 🤔

Regarding Nuget (first time I heard about it, I won't go to sleep without learning something new :), there isn't an official release of Modernizr there (as far as I know) and the unofficial package is outda

[2020-12-17 23:48] Identekit commented on #2625
@Markel
I just loaded in the version you found, (v. 3.4.0) but unfortunately it appears to have the same issues.

![image](https://user-images.githubusercontent.com/57924280/102557018-17d82e80-407f-11eb-91e0-004d2e50fadd.png)
![image](https://user-images.githubusercontent.com/57924280/102557048-27f00e00-407f-11eb-9478-b3d3d4c48401.png)

[2020-12-18 05:20] emados commented on #1911
Rerunning tests or being able to invalidate them is also needed for our scenario, switching to / from responsive mode while testing we need the `touchevents` flag to be reset. What's the reason this not implemented so far?

[2020-12-20 10:34] Markel commented on #1911
I would have to check, but probably v4 allows to re run tests with `testRunner()`, but getting it merged is going to be a great effort #2594

(As a note to myself, I should get on it, at least solving the conflicts which was the main objetive when I took it from #2108)

But yeah, it simply hasn't been a priority 🤷

[2020-12-20 17:40] onassar commented on #1911
Fair enough. I wonder if it'll become a bigger priority, as it looks like Chrome is changing pretty notably in at least a couple cases whereby things are failing.

[2020-12-28 15:33] bartverdonck opened #2626 "modernizr.com TLS certificate has expired"
The SSL Certificat expired on 26/12/2020

[2020-12-28 15:52] Markel commented on #2626
@patrickkettner 👀👀

(It happens sometimes, sorry for the inconvenience @bartverdonck )

[2020-12-28 15:54] Markel commented on #2626
Oh wait, it seems that it has been resolved (I probably should have checked it before saying anything, sorry Patrick!)

[2020-12-28 18:58] rejas commented on #2626
It's a tradition :-) But good to see @patrickkettner still refreshing it. Happy holidays to all of you!

[2020-12-28 18:58] #2626 closed

[2020-12-28 20:34] Markel commented on #2626
Happy holidays 😘🥰

[2020-12-28 22:30] bartverdonck commented on #2626
thx for the fix, happy holidays

[2020-12-31 23:40] Markel opened #2627 "Happy 2021 🎉!!"
It's just that, happy 2021 🥳🥳🎉🎉🎊🎊 (at least to everyone who lives in the east, westerns will need to wait a little bit more, at CET is New Year now).

Hope everything goes better this year :)

I will close the issue in a day or so 😘

[2021-01-02 08:18] rejas commented on #2627
Happy new year to you too!

[2021-01-02 14:57] #2627 closed

[2021-01-07 18:13] KevinLaity opened #2628 "Modernizr website is out of date"
The modernizr.com website hasn't been updated since 2017 and the latest version downloadable version there is 3.6.0. This can mislead users into thinking that that is in fact the latest version. It could also encourage the use of this older version because it is the easiest way to build and install the library.

Version 3.6.0 has been flagged by our security auditors as being a security risk, beca

[2021-01-07 23:01] Markel commented on #2628
Hi @KevinLaity 👋👋

Yeah we're pretty aware of that, @patrickkettner manages the website and he doesn't have the time to update it. Don't know what to say apart from that 🙃

Sorry for the inconvenience, in the meantime you may build your file from one of the releases here on Github.

[2021-01-08 07:51] rejas commented on #2628
I can only reiterate what Markel wrote, Sorry for the inconvenience, but this is out of my or his hands right now :-(

[2021-01-08 07:51] #2628 closed

[2021-01-08 14:18] ripjal opened #2629 "Jquery +datatables causing CSP errors for inline style"
I have been trying to get rid of the unsafe-inline from the CSP style-src headers as it is vulnerable. While removing this, I am getting below errors in jQuery execution in chrome:

While debugging I found that it is failing at

`tmp.innerHTML = wrap[ 1 ] + jQuery.htmlPrefilter( elem ) + wrap[ 2 ]; `

in buildFragment method. At failing point ,elem is evaluated as a string which contains the html

[2021-01-08 14:29] roblarsen commented on #2629
https://bugs.jquery.com/ https://datatables.net/forums/categories/bug-reports

[2021-01-08 14:30] Markel commented on #2629
Hi! 👋

Which tests and Modernizr version are you using? It will probably be useful to understand the error.

Maybe this error is related with #1263 #2625

[2021-01-08 15:34] ripjal commented on #2629
@roblarsen  I dont think it is a bug in datatables as they are adding inline styles using java script in the right way by using the style property of the element which is acceptable .That is the reason chrome is not throwing error in datatables.

@Markel :I am just loading my application page which uses datatables internally to load the grid.I am not sure of the modernize version we are using in o

[2021-01-08 18:12] Markel commented on #2629
@ripjal So you think that it is an error from Modernizr or not? 😅😅

About the version, in the js file there's usually a comment at the top that specifies the version.

[2021-01-11 15:44] KevinLaity commented on #2628
It sounds like you've lost the ability to update the website. Can you at least stop pointing to it then? The comments of the built library still point to it as though it were the canonical home of modernizr.

Possibly add a warning to the Github page not to use it?

You might be putting users of modernizr at risk by leaving things as-is. My concern is not about my ability to build it.

[2021-01-11 16:13] Markel commented on #2628
Yeah there was an attempt of adding a note in #2481, but it seems like some problems arose (right now http://new.modernizr.com throws a 405 when you try to build anything). I guess a solution could be to modify the Readme in a way in which we suggest more to use a platform like npm, which actually has the last version (I actually don't know who updates it, gonna guess that @rejas?), make it more p

[2021-01-15 11:56] arhanta commented on #2614
I have encountered this error too. Perhaps this could help:

Version: 3.11.4
JS Console:
[code]

Attached generated modernizr.js (with npx modernizr): [modernizr.zip](https://github.com/Modernizr/Modernizr/files/5820267/modernizr.zip)

Location: Modernizr.addTest('localizednumber', function() {...
[code]

A null check fixes the issue:
[code]

Also issue goes away if I remove "forms/inputnumber-l10

[2021-01-15 16:16] toddwong commented on #2209
Stil failed in Chrome 87 with zoom 25% or 50%. It seems that the offsetWidth is always bigger than 1/zoom. I'd suggest change the style width to 8px and 16px to overcome this. Not sure is there any bad side effect?

[code]

[2021-01-15 16:18] toddwong commented on #2209
And actually generatedcontent and hairline are both affected, too

[2021-01-15 21:47] rejas commented on #2614
Thanks for the hint @arhanta I added your code fix to the v3 brach. Could you check it out and see if it fixes your issue?

[2021-01-18 13:09] arhanta commented on #2614
Looks good. I did wonder if there are any other places in code where such a check might be needed, and I see you found one more.

Am I somehow using Modernizr improperly, that such a thing (body without parent) happens?

[2021-01-18 17:06] Markel opened #2632 "Travis CI is migrating to the .com TLD"
**The question**
Travis CI is migrating to the .com TLD, it seems that the migration process hasn't been done for the Modernizr project, I guess it would be nice to do it (?) (Note: it may not need to be done)

**Do maintainers need to follow some steps to help you out?**
I don't know how the infrastructure is established but you [may check this link to check the news :)](https://docs.travis-ci.co

[2021-01-18 19:18] rejas commented on #2614
Good question but I am not that deep into the code. Are you using modernizr just simply on your page or do you add it via iframe or anything special?

[2021-01-19 12:36] foosel commented on #2628
Is it just me or is the website now completely down? In FF I get a protocol violation, and Chrome shows what seems to be a domain squatter in action.

[2021-01-19 12:52] Markel commented on #2628
Yeah @foosel, strange, some Whois say that the domain expired like 3 days ago while others say that the domain has been renovated. @patrickkettner you may want to check on this :upside_down_face:. But yeah, the http version is a domain squatter from namecheap while the https version, well namecheap couldn't care less about it and it just throws an error. You may build it from one of the Github Rel

[2021-01-19 13:08] foosel commented on #2628
@Markel thanks, that's exactly what I did already, just figured I'd send y'all a heads-up here too that something's up.

[2021-01-19 13:24] Markel commented on #2628
If someone arrives here and wants to see a status page here you have https://status.markel.dev/786965594 (I don't promise it will be up for all the eternity so take that into account if you're reading this 2 years/months from now).

PD: If you're in the present, don't check the main domain, is garbage and outdated :upside_down_face: (and incompatible with chrome)

[2021-01-19 16:15] mrleblanc101 opened #2634 "Website down"
Modernizr.com is down.
Which prevent custom build from being downloaded via bower.

[2021-01-19 16:32] rejas commented on #2634
@patrickkettner could you check it out?

[2021-01-19 16:33] rejas commented on #2632
Thanks for the heads up. Another project I help with (MagicMirror) just migrated over to github actions for this reason. Maybe we can / should do this too?

[2021-01-19 16:39] rejas commented on #2628
I started a discussion on the future of the website (https://github.com/Modernizr/Modernizr/discussions/2635) in the hope of getting the outdatedness fixed once and for all.
Yes, I am updating npm when a new release is due. But unfortunatly only @patrickkettner seems to be able to update the website so we are stuck with it (or maybe just lost it, I dont know).
I will add a note to the github readm

[2021-01-19 16:51] foosel commented on #2628
You might also want to remove the homepage link associated with the repository for now:

![image](https://user-images.githubusercontent.com/83657/105066033-d3c1ba80-5a7e-11eb-8801-8350c8d66cb0.png)

Maybe point it to the npm listing for now?

[2021-01-19 16:53] rejas commented on #2628
Good catch, changed it. Thx!

[2021-01-19 16:56] patrickkettner commented on #2628
there was a problem with the dns hosting. it has been corrected. the TTL
will need to clear before it works automatically. This is ~20 minutes.
In the mean time, anyone can set up an /etc/hosts entry pointing directly
to the IP address (40.114.55.165)

[2021-01-19 16:57] patrickkettner commented on #2634
there was a problem with the dns hosting. it has been corrected. the TTL
will need to clear before it works automatically. This is ~20 minutes.
In the mean time, anyone can set up an /etc/hosts entry pointing directly
to the IP address (40.114.55.165)

[2021-01-19 16:57] #2634 closed

[2021-01-19 17:56] Markel commented on #2632
We surely can, it would probably be an easy migration too as it is mostly and `npm test`, and migrating definitely has it advantages too, for example, it allows us to test in a single platform for Windows too (removing AppVeyor too). That being said, I'm not particularly keen on Github Actions, as it ends up eating other separate businesses that specialize on CI/CD and you create a great dependenc

[2021-01-19 19:03] Markel opened #2636 "NPM readme outdated"
**Type of bug***
A little slide with npm

**Describe the bug**
The [npm readme](https://www.npmjs.com/package/modernizr) is outdated, I actually though that npm updated it automatically with the Github but I guess that no :sweat_smile:

**Additional context**
Funny how I discovered it (this is a side story, nothing important): yesterday while solving merge conflicts for the v4 I realised that a pr

[2021-01-24 13:39] rejas commented on #2636
Mhh....
I added the warning to the v3 branch now too, lets see if that fixes it. Lets hope the npm readme is not only updated when a new release is pushed.

[2021-01-24 14:14] Markel commented on #2636
[Uh... It will definitely update by itself :) What? That why is this text a link? Oh, for nothing, don't click on me unless you want your dreams broken.](https://docs.npmjs.com/about-package-readme-files#updating-an-existing-package-readme-file)

Note: I just searched for it, I didn't knew before 😅

[2021-01-24 15:40] Markel commented on #2636
I'm going to close the issue as nothing can be done and is stupid to publish a new version solely to update the readme, just will have to keep it in mind for future versions

[2021-01-24 16:28] #2636 closed

[2021-02-26 16:20] blackfly06 commented on #2158
xss:ex/*XSS*//*/*/pression(alert("XSS"))'>

[2021-02-26 16:21] blackfly06 commented on #2158
';alert(String.fromCharCode(88,83,83))//';alert(String.fromCharCode(88,83,83))//";alert(String.fromCharCode(88,83,83))//";alert(String.fromCharCode(88,83,83))//--></SCRIPT>">'><SCRIPT>alert(String.fromCharCode(88,83,83))</SCRIPT>

[2021-02-26 17:21] rejas commented on #2158
anything you want to tell us @blackfly06  ?

[2021-03-11 22:39] daGUY commented on #2306
Did this ever make it into the release version of Modernizr? I still don’t see it on the website.

FYI, to make this work in Safari, you can replace `window.CSS.supports('--fake-var', "0")` with `window.CSS.supports("color", "var(--primary)")`.

[2021-03-12 07:38] Markel commented on #2306
The website is outdated and it is not recommended to use it 😔. Sorry for the inconvenience

[2021-03-13 00:42] developdeez opened #2642 "Custom Modernizr doesn't run in React when placed in Head tag"

[2021-03-13 01:15] #2642 closed

[2021-03-13 09:37] rejas commented on #2642
Was this a false alarm? ;-)

[2021-03-13 16:28] developdeez commented on #2642
Yes. Though the solution was to include it in the index.js

On Sat, Mar 13, 2021, 1:38 AM Veeck ***@***.***> wrote:

[2021-03-16 09:47] hieroshima commented on #2616
Hi.

3.11.4 version still contains Lodash 4.17.20 where the security vulnerability still exists. Are you able to upgrade lodash to 4.17.21? Here is more info: https://snyk.io/vuln/npm:lodash@4.17.20

Thanks

[2021-03-16 10:20] hieroshima opened #2643 "Upgrading lodash due to CVE-2021-23337"
Hi,

On the newest version 3.11.4 as a dependency you are using lodash 4.17.20 where high security issue is detected: https://nvd.nist.gov/vuln/detail/CVE-2021-23337 - are you considering to upgrade this to lodash >= 4.17.21 for 3.x version?

Thanks

[2021-03-16 15:26] rejas commented on #2643
Thx for the info. Released v3.11.6 with an updated lodash.

[2021-03-16 15:26] #2643 closed

[2021-04-05 13:05] DervishD opened #2645 "Usage of derogatory term in comment in `src/domPrefixes.js`"
**The question**

First of all, thank for adhering to the Open Code of Conduct. It is because of this that I'm writing to you, because a commented line in file `src/domPrefixes.js` uses the term "kebab-case", which is derogatory for the Arabic community. Having quite a lot of friends in that community, I think it's offensive for them and their culture.

**Do maintainers need to follow some steps t

[2021-04-05 16:19] rejas commented on #2645
Thanks for the report @DervishD we will definitly look into this and change it.
Is there some site dedicated to this topic where replacement names are discussed sicne there doesnt seem to be a consensus yet on what to call it? Found dash-case and hyphen-case in a quick search so I am not sure which of all those could be the most future-proof.

[2021-04-07 13:56] DervishD commented on #2645
Well, I'm not an expert, so I can't provide a suggestion for a future-proof term. It's impossible to know if a new term used to replace `kebab-case`  is going to be offensive or derogatory for a cultural group you're not familiar with. Best you can do is not using an already tainted term on purpose, like `kebab-case`. Beyond that, nobody can blame you.

I think that maybe `hyphen-case` is marginal

[2021-04-08 06:18] rejas commented on #2645
I tend to lean towards hyphen-case too, but to get more people into programming, maybe you want to provide the PR for this issue?

Also, to come back to my first post, is there some summary / community / forum online where this topic is discussed incl. possible alternatives?

[2021-04-08 08:52] DervishD commented on #2645
I don't know of any forum where this topic is discussed, in fact the only reason why I was aware of this was because having friends of that culture who warned me about it in the past, I noticed it in Modernizr, they didn't tell me anything about the term because of your project, was much before, so I'm a bit at a loss here. And yes, `hyphen-case` sounds better to me, too.

On the other hand, I'm h

[2021-04-10 12:14] Markel commented on #2645
First, hi! Thank you very much for making us aware of this issue.

Back to your question, the Modernizr project is a git repository (git is a technology to manage programming files in a way that favours collaboration and maintains a log of all changes). All repositories have a main branch (master is more widely used, but it's also derogatory), which shows the current state of the code.

Everyone h

[2021-04-10 12:56] DervishD commented on #2645
Markel, thanks A LOT for the references. I already use git for my projects, even though I have to confess I only use "Push" from VSCode, to move my changes at home to my GitHub repos. I know what that does, but not much beyond that, regarding git.

So, a PR is a Pull Request. I thought it was a "Problem Report" and googling it I got confusing information. Now it's crystal clear.

I'll fork the pro

[2021-04-10 14:43] DervishD commented on #2645
Well, turns out forking and creating a Pull Request (with the invaluable help of VSCode and GitHub) was extremely easy!

Thanks you all for your help.

[2021-04-12 08:23] Markel commented on #2645
Maybe it's time to close this issue, given that #2646 has been merged 🙂.

And just wanted to thank you again Raúl :)

[2021-04-12 08:31] #2645 closed

[2021-05-11 11:24] damian-cell commented on #2509
https://github.com/Modernizr/Modernizr/issues/2509#issue-577553045

[2021-05-11 14:03] rejas commented on #2614
@damian-cell your issue should be fixed (if you need the test) since v3.11.5

[2021-06-28 11:35] unalilker opened #2655 "Modernizr.com SSL certificate has expired"
Which causes some problems with bower installs.

![image](https://user-images.githubusercontent.com/15772881/123630377-1fdb0d00-d81e-11eb-8f2d-c5eabf40edb9.png)

[2021-06-28 15:37] unalilker commented on #2655
Seems to be renewed.

[2021-06-28 15:37] #2655 closed

[2021-07-09 10:49] t3chguy opened #2656 "Minification breaks config during generation"
Version 3.11.7

Related https://github.com/Modernizr/Modernizr/issues/1663 https://github.com/Modernizr/Modernizr/issues/2412

With the following config:

[code]

Generation without minification works correctly and has the following `_config`:

[code]

But if I enable minification it changes to:

[code]

Which has `enableClasses` set to `true` - this only ends up affecting rules added via `addTest

[2021-07-10 18:26] #2632 closed

[2021-07-29 04:47] saurabhtripathi opened #2659 "Vulnerability with Marked, does it impact Modernizr"
**If we are using modernizr@3.3.1 which uses marked , is this a big security issue, what is the severity? **

_For example Lodash vulnerability dosen't have big impact on Modernizr as per this ticket: https://github.com/Modernizr/Modernizr/issues/2313_

What about Marked?

[2021-07-29 09:25] Markel commented on #2659
Hi @saurabhtripathi 👋😃
Which vulnerability are we talking about?

[2021-07-29 17:32] saurabhtripathi commented on #2659
@Markel
https://snyk.io/test/npm/modernizr/3.3.1?tab=issues#npm:marked:20150520
this is for Vulnerable module: marked
Introduced through: marked@0.3.5
Detailed paths
Introduced through: modernizr@3.3.1 › marked@0.3.5
Remediation: Upgrade to modernizr@3.4.0.

**This was fixed in**
**Issue:** https://github.com/Modernizr/Modernizr/issues/2158
**PR:** https://github.com/Modernizr/Modernizr/pull/2027

[2021-07-29 18:23] Markel commented on #2659
I feel like it may cause more problems with the test suite, so I don't think that it is critical for you to update. Anyway, I encourage you to update if you are able to @saurabhtripathi

[2021-08-02 09:42] richex-cn commented on #2615
I'm also meet this problem in iPhone OS 12.0, and no solution has been found yet, So I used a temporary solution, just check userAgent is iPhone and version less than 13.3

[2021-08-05 08:58] #2659 closed

[2021-08-17 14:46] #2656 closed

[2021-08-19 15:41] thomas-lepage opened #2660 "Server Error."
Hi!
Your server is in error. The Nginx is returning a 502 Bad Gateway.
https://modernizr.com/

[2021-08-19 15:44] rejas commented on #2660
@patrickkettner could you take a look at this?

[2021-08-28 20:29] rejas commented on #2660
Seems to be fixed now.

[2021-08-28 20:29] #2660 closed

[2021-09-07 08:49] jnehlmeier opened #2662 "Building on Node 14 LTS causes quite some warnings"
[code]

So some packages warn about node v14+ and suggest upgrading the package. Some packages are outdated and unmaintained because they moved to a different package name.

You probably want to fix those warnings.

[2021-09-07 14:49] Markel commented on #2662
Yeah, probably we should solve this (and also maybe rebuild package-lock). Thanks for noticing!

[2021-09-07 16:40] jnehlmeier opened #2663 "With config enableClasses=true only css classes of async tests end up on html tag"
**Type of bug**

- [ ] Differences between Can I use & Modernizr
- [ ] False positive
- [x] Modernizr error

**Describe the bug**

I have selected a bunch of feature tests, some sync some async. However only the CSS classes of async tests end up on the html tag. Seems like the result of sync tests have been overridden.

**How to Reproduce**

Download Modernizr 3.11.8 from Github and install depend

[2021-09-08 10:55] jnehlmeier opened #2664 "inputtypes sub properties not visible when using JSON.stringify"
**Type of bug**

Modernizr error

**Describe the bug**

Using `JSON.stringify` on the `Modernizr` object results in JSON that does not contain `inputtypes` sub properties. Instead it shows `"inputtypes: false"`.

Reason is that https://github.com/Modernizr/Modernizr/blob/710f3bf4e0bac50c81ef4e9db9c10334a4484801/src/testRunner.js#L58 creates a Boolean property as the parent `inputtypes` property in

[2021-09-08 19:27] rejas commented on #2662
Yes, v3 of Modernizr does throw those warnings. I dont think we will fix them on that version (since people will complain that their old build pipeline isnt supported anymore and I do not ant to open that can of worms).
Rather I hope to release v4 (which has node12 as a minimum version) sometime this year.

Would you mind trying out the master branch since v4 is developed on there?

[2021-09-08 19:27] #2662 closed

[2021-09-09 09:27] jnehlmeier commented on #2663
Looks like because I removed all `options` (since I thought only code required by feature checks would then be included in the final output) the final call to `setClasses(classes)` after calling the `testRunner` call was missing in the final JS output.

It basically looked like
[code]
even though the `setClasses` method itself was present in the final JS output.

Adding `setClasses` to the `option

[2021-09-16 20:32] Trott commented on #2158
The vulnerable code here is used to generate metadata and documentation. It does not appear in the modernizr library used by the browser. So this is an issue for the `modernizr` module on `npm` because it is not the library used in the browser but rather the tool used to build the library used in the browser.

In other words, if some vulnerability scanning tool is flagging this in a web page, that

[2021-10-01 02:23] fabricetheytaz commented on #1538
The problem still seems to be present :-( I have selected all the tests except Beacon API and it works, but if I add the Beacon API test it no longer works (Uncaught ReferenceError: define is not defined)
Build > Copy to Clipboard or Build > Download

[2021-10-04 13:36] strarsis opened #2668 "Publish new release (on `npm`)?"
**What is proposed**
Publish a new release on `npm`, so new feature detects, e.g. `avif` image format support.

**How to do it**
Publish a new release to `npm`.

[2021-10-05 06:40] nithinag10 commented on #2668
I am trying to do an npm release. I am doing open-source work for the first time.

Steps I followed so far
1.  I pulled the repo by executing `git pull`
2.  I executed `npm ci` and `npm run` for testing purposes.
3.  I need the authorization to publish the package to npm.
4. I got this when I executed `npm publish`
<img width="1425" alt="Screenshot 2021-10-05 at 12 02 49 PM" src="https://user-imag

[2021-10-05 06:54] rejas commented on #2668
Thanks for trying to help @nithinag10 but only maintainers can publish a new release.

As for a new release @strarsis the plan was to not release a v3 with new feature-detects but wait for v4 with that. v3 should only get bugfixes.

Alas, that v4 release is getting a little stale, so maybe we need a v3 release with the latest feature detects. What do you think @patrickkettner @Markel ?

[2021-10-05 07:02] Markel commented on #2668
Yeah, I would release a v3 with the new feature detects. Honestly, I'm not entirely confident that v4 is going to release any time soon

[2021-10-14 12:06] selen-oruc opened #2676 "Marked Related Vulnerability Scope Confirmation"
**The question**

Hi,

Hope everything is fine. There are a few [issues ](https://github.com/Modernizr/Modernizr/issues/2158)opened related to **marked** and I'm wondering which versions are actually affected. As I reviewed your versions, versions before 3.0.0 are not available on [NPM ](https://www.npmjs.com/package/modernizr)and do not have package.json. Does that mean [CVE-2016-10531](https://n

[2021-10-18 14:11] amulchinock opened #2678 "Error: Can't walk dependency graph: Cannot find module 'env!env/file' from './node_modules/requirejs/bin/r.js'"
**Type of bug**

- [ ] Modernizr error

**Describe the bug**
When attempting to use the Modernizr runtime with through a compilation tool like Gulp, I get the following error from Node:
`Error: Can't walk dependency graph: Cannot find module 'env!env/file' from './node_modules/requirejs/bin/r.js'`

**How to Reproduce**
**_Install via NPM:_**
[code]

_**Initialise Modernizr**_
[code]

**Expected be

[2021-10-18 19:11] #2676 closed, assigned to nobody

[2021-10-29 00:53] DavorLovric opened #2681 "SSL certificate on modernizr.com expired preventing bower installs"
SSL certificate on modernizr.com expired preventing bower installs. :(

[2021-11-05 16:24] DavorLovric commented on #2681
@rejas I had to fix it quickly and can't test right now. I hope it now works. Thank you!

[2021-11-05 16:24] #2681 closed

[2021-11-08 16:10] paolobenve opened #2686 "jxl support"
https://github.com/leechy/imgsupport detects jxl, is there a plan to add it to modernizr?

Thank you guys for your work!

[2021-11-08 17:58] AntonioRedondo commented on #2012
So there is no official way to include Modernizr in a project programmatically from `package.json` and npm/Yarn? There is this [`npm-modernizr`](https://www.npmjs.com/package/npm-modernizr) package. But I don't think it's a good idea to use it.

The name of the npmjs.com [`modernizr`](https://www.npmjs.com/package/modernizr) package should actually be `modernizr-cli` since it's the library generat

[2021-11-09 07:50] niksy commented on #2012
@AntonioRedondo check out [`modernizr-esm`](https://github.com/niksy/modernizr-esm). It contains every Modernizr test as separate ES module so you can import and use what you want.

There is some effort in https://github.com/Modernizr/Modernizr/pull/2108 to do this in this repository, but project seems it’s like on life support which is shame. That is why I tried to "modernize" it with `modernizr-

[2021-11-10 19:03] dephraiim commented on #1217
This worked for me. It checked if the Vibration API was supported in the current browser.

[code]

[2021-11-11 01:41] roblarsen commented on #1217
@dephraiim that's the whole point of this issue (which I just realized I took part in more than 7 years ago)  Testing for the `vibrate` method in `navigator` doesn't actually tell you anything about the device. It tests if the API is present.

Here are my windows 8 laptop tests from 2014. The API was present in Chrome and Firefox, but the device didn't vibrate.  Still the case today.
👇

[2021-11-16 19:09] mrleblanc101 commented on #2681
This happen every year. Any plan on automating the renewal ?

[2021-11-16 19:12] roblarsen commented on #2681
It's every 90 days 🍾

[2021-11-26 10:29] Shurna83 commented on #2580
Hi everyone,
I experience this issue also with Chrome 94 on both Mac OS and Windows when I have a zoom level other than 100%. The exact level of zoom required to break the test seems to vary also according to screen resolution.
Hope this could help in better spotting the issue.

[2022-01-17 13:01] thomas-lepage opened #2683 "Server down"
Your server seem to be down since 14h...
https://www.saashub.com/modernizr-status

[2022-01-18 08:13] rejas commented on #2683
@patrickkettner ?

[2022-01-18 22:07] icetee commented on #2668
Due to the vulnerability of `markdown-it`, it would be a good idea to release a new version. https://github.com/markdown-it/markdown-it/security/advisories/GHSA-6vfc-qv3f-vr6c

[2022-01-21 13:55] thomas-lepage commented on #2683
@rejas @patrickkettner  Any update?

[2022-01-21 14:33] rejas commented on #2683
sorry, patrick is the only one who could help here and I got no other way to reach him then these issue :-(

[2022-01-24 06:55] simevidas opened #2684 "RSS feed won’t load"
The request for https://modernizr.com/feed hangs in Chrome and Safari for me. I guess the problem is the incorrect HTTP `Content-Type: application/octet-stream` header.

[2022-01-24 22:44] yogarasu commented on #2683
Currently the server seems to be recovering.

[2022-01-25 06:17] rejas commented on #2683
thanks for reporting. closing the issue for now.

[2022-01-25 06:17] #2683 closed

[2022-01-29 14:37] puzrin opened #2685 "IndexedDB should be closed before delete"
**Type of bug**

- [ ] Differences between Can I use & Modernizr
- [ ] False positive
- [x] Modernizr error

**Describe the bug**

https://github.com/Modernizr/Modernizr/blob/28d969e85cd8ebe5854f6296fd6aace241f6bdf7/feature-detects/storage/indexeddb.js#L52

IndexedDB should be closed before delete. In other case delete request is postponed until page close.

`req.result.close` should help. I'm not

[2022-01-29 19:38] rejas commented on #2684
Cant reproduce this, chrome and safari download the feed. Maybe you tried it during a downtime the homepage had this week?

[2022-01-29 23:00] simevidas commented on #2684
Yep, the issue does no longer occur.

[2022-01-29 23:00] #2684 closed

[2022-02-15 12:26] rejas commented on #2668
Just published version 3.12.0, hope it helps

[2022-02-15 12:26] #2668 closed

[2022-03-10 14:45] marcuspuchalla opened #2689 "Test for storagemanager ability to persist data"
### Question
Can a specific test be created to check if a browser can be triggered/forced to store user data permanently?

### Description
There is a [Persistence permission](https://storage.spec.whatwg.org/#persistence) in [browsers](https://caniuse.com/mdn-api_permissions_persistent-storage_permission) to flag data for being persisted permanently in the users' browser.

In, e.g., Firefox https:/

[2022-03-31 17:50] thomas-lepage opened #2690 "Modernizr.com expired certificat"
The certificate of the website is expired.

[2022-03-31 17:52] rejas commented on #2690
@patrickkettner

[2022-04-28 19:57] jiwanpokh commented on #2556
just run: npm install lodash

[2022-05-13 17:56] max19931 commented on #2425
why not run use a full test build and just report back the classes tag on the html body dom element?

[2022-06-20 10:33] uniejo commented on #191
I had the same problem with SameSite warnings. The following change, eliminates that warning, by adding SameSite=none and Secure options to the cookie.

[code]

[2022-07-04 01:36] GeorgeChan opened #2693 "About aspect-ratio CSS property"
**The question**
Can Modernizr increase the detection of "aspect-ratio" CSS property？

https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio

[2022-07-15 13:01] #2690 closed

[2022-08-08 13:50] tversteeg opened #2694 "ECMAScript modules in workers"
**Which feature do you want to detect?**
Whether a browser can load web workers as modules. This is instantiated with `new Worker('..', { type: 'module' })`.

**Which browsers do support this feature?**
Most modern browsers with a notable exception of Firefox.
https://caniuse.com/mdn-api_worker_worker_ecmascript_modules

**How could it be implemented?**
https://stackoverflow.com/a/62963963

[2022-08-30 16:57] mrleblanc101 opened #2695 "Expired certificate"
As it is the case every 3 months, the certificate for [modernizr.com](https://modernizr.com/) is expired which break every deploy that use a custom build of modernizr.

[2022-09-06 10:38] yogarasu opened #2696 "On M1 Mac (arm64) npm install fails."
**Describe the bug**

On M1 Mac npm install fails.
Perhaps this is not only m1 mac, but I think that it is a problem that occurs with arm64 terminal.

**How to Reproduce**

I use volta for node version control.
https://docs.volta.sh/guide/

[code]

[code]

**Expected behavior**

**Additional context**

I roughly understand the cause of this problem.
This is because the version of the `mocha-headle

[2022-09-09 12:30] tsarma commented on #2693
Detection of `aspect-ratio` is much appreciated.

[2022-09-12 19:43] rejas commented on #2696
Can this be closed now?

[2022-09-12 19:43] yogarasu commented on #2696
@rejas
OK!
Thanks

[2022-09-12 19:43] #2696 closed

[2022-09-13 09:49] Polm90 opened #2700 "canvas.js: no such file or directory"
I'm trying to compile modernizr using npm and a json file.
I've added "canvas/canvas" as feature-detct, as reported in the [configuration](https://github.com/Modernizr/Modernizr/blob/master/lib/config-all.json) provided in the documentation,

However, I obtain the error "no such file or directory" when I try to compile the library. The missing file is 'feature-detects/canvas/canvas.js' which is no

[2022-09-13 09:58] Polm90 commented on #2700
same issue for "event/customevent", "event/eventlistener", "input/input", "input/inputnumber-l10n", "input/inputsearchevent","input/inputtypes","input/placeholder","input/validation","storage/indexeddb","svg/svg","video/video"

[2022-09-16 07:58] mathiasbynens opened #2701 "Animated AVIF"
**Which feature do you want to detect?**
Support for animated AVIF images, a.k.a. AVIF image sequences.

**Which browsers do support this feature?**
https://caniuse.com/avif

Although all major browsers support AVIF for still images, only Chrome supports animated AVIF. Per @jensimmons’s [tweet](https://twitter.com/jensimmons/status/1570159700053823490), Safari will support animated AVIF in Safari

[2022-10-03 10:03] MentalGear opened #2703 "Detect PushManager"
**Which feature do you want to detect?**
It would be helpful to know if PushManager is available for notifications.

**Which browsers do support this feature?**
Chrome, Firefox should as well, but it has no "PushManager" in window.

**How could it be implemented?**
I'm not sure why Firefox has no "PushManager" even though canIuse shows browser support.

[2022-10-16 07:21] arya312 opened #2710 "Implementation of sticky header"
The header on this website hides as we scroll down to the end. One could use a sticky header that will help with the ease of going to whatever page of the website we want to go to.

Sticky header CSS can be added. A few lines of code from this website might work:

https://webdesign.tutsplus.com/tutorials/how-to-hide-reveal-a-sticky-header-on-scroll-with-javascript--cms-33756#:~:text=.%C2%A0Add%20t

[2022-10-16 07:24] arya312 opened #2711 "Alignment of the headings above install section to be corrected for better UI"
<img width="887" alt="Screenshot 2022-10-16 125349" src="https://user-images.githubusercontent.com/72682508/196023586-a23e7443-e1bf-443e-9d1a-f36f4cb4395e.png">

The alignment of this header could be done towards the left side, the extra part above the install section should be blank so as to differentiate between the two sides of the page whenever changing from one header to another.

[2022-10-16 07:27] arya312 opened #2712 "Footer looks pretty basic."
Framer-motion or other beautifying affects like color change on clicking/hovering can be added. Moreover, to differentiate the footer from the main page of the website, its color could be changed. iframe could be used to make the words pop-out and look more interactive.

[2022-10-16 07:30] rejas commented on #2711
Hi @arya312 this is the npm website, not the modernizr website. Nothing we can do about it.

[2022-10-16 07:30] #2711 closed

[2022-10-16 07:31] rejas commented on #2710
Is this about the npm website too?

[2022-10-16 07:31] rejas commented on #2712
Is this about the npm website too?

[2022-10-16 19:03] #2703 closed

[2022-10-16 19:18] #2694 closed

[2022-10-16 19:18] #2693 closed

[2022-10-17 07:07] FenixHongell commented on #2664
Assign this to me please.

[2022-10-18 06:15] kerabite commented on #2701
Hi, I would like to try contributing. Could I be assigned this issue?

[2022-10-18 07:10] mathiasbynens commented on #2701
FWIW, I looked into this a while back, and couldn’t find a good way to specifically detect _animated_ AVIF without depending on the `ImageDecoder` API. The problem is, the `ImageDecoder` API is itself not supported across browsers yet.

[Here’s what I ended up with:](https://mathiasbynens.be/demo/avif)

[code]

[2022-10-18 20:32] YashasviChaurasia commented on #2712
@josh @mislav @arya312 I would like to work on this issue.
Could you please assign it to me if it is available?
Thank you

[2022-10-19 06:06] rejas commented on #2712
@YashasviChaurasia what footer do you think will be done in this issue?

Because this repo is about the Modernizr library, not the website modernizr.com. But I think the original poster ment the footer on the npm site.

I will close this issue, if anybody wants to work on the modenrizr.com website, he should open an issue on the correct repository: https://github.com/Modernizr/modernizr-neue

[2022-10-19 06:06] #2712 closed

[2022-10-19 06:06] #2710 closed

[2022-10-19 06:07] rejas commented on #2711
I closed this issue, if anybody wants to work on the modenrizr.com website, they should open an issue on the correct repository: https://github.com/Modernizr/modernizr-neue

[2022-11-03 12:30] anita-chouhan opened #2717 "Empty prefix class"
**Type of bug**
Modernizr adds an empty prefix class to the `<html>` tag when using _Add CSS classes_ option _with prefix_.

**How to Reproduce**
1. Select the _Webp_ under the _DOWNLOAD_ tab.
2. Goto _OPTIONS_ and select _minify_ then in the input box for _Add CSS classes_ add has-
3. Download the build file.
4. Include the `modernizr-custom.js` in the head section of the website.

**Expected beh

[2022-11-16 07:38] kerabite commented on #2701
Apologies, but I am currently unavailable to work on this issue, so I will unassign myself. Thank you for the opportunity regardless.