[2017-04-20 20:07] patrickkettner commented on #2192
hey @NotMrSteve !
thanks for opening an issue.
We generally don't address bugs for old versions of evergreen browsers, since the market is almost always super duper small. Firefox 12 is a half decade old at this point, so we wouldn't be inclicned to fix it unless it is also an issue in later versions, or 12 was an ESR or really popular in some markets.

Is any of that the case?

[2017-04-20 20:15] NotMrSteve commented on #2192
None of that is the case, but it's literally a 3 line change to add the `try {} catch {}` around the offending code! (I've done it, but I can't push the code here) :)

And it doesn't occur in indexeddbblob because there exists a `try {} catch {}` around the offending call.

[2017-04-20 20:38] patrickkettner commented on #2192
is there still an issue in modern versions of firefox?

[2017-04-20 20:57] NotMrSteve commented on #2192
No, new versions are fine.

[2017-04-20 21:18] patrickkettner commented on #2192
While I understand the frustration of not fixing such a simple bug, it is a death-by-a-thousand-cuts thing from the maintainers point of view. We don't want to add code to support an old version of an automatically updated browse because it just means that a vast majority of folks who have to download the code will never ever use it. If we added simple fixes for all browser versions, we would more

[2017-04-20 21:18] #2192 closed

[2017-04-21 15:07] victor-tafro commented on #2184
3.4.0 and 3.5.0 are up on the site, this issue should be closed.

[2017-04-21 15:20] tomciopp commented on #1987
I can also confirm that this test breaks autofocus in forms. The solution is to remove the test but that kinda feels bad.

[2017-04-21 18:47] #2184 closed

[2017-04-21 18:51] patrickkettner commented on #1987
Another solution would be to do something like `const el = document.querySelector("[autofocus]"); el&&el.focus();` after the test runs.

The detect itself could be updated to cache and refocus `document.activeElement` as well

[2017-04-23 16:39] bs-thomas commented on #1781
I have the same issue.

[2017-04-24 11:16] entioentio opened #2193 "test_hyphens_find causes page to scroll to the top"
This line:

    result = window.find(testword + testword);

Makes browser (at least chrome) to highlight the text, which results in page jumping to the top. My initial idea is to save window position and revert it after the check, but it seems wrong. Any better ideas anyone?

[2017-04-25 20:41] victor-tafro commented on #2166
Any update here?

[2017-04-26 12:26] peijin1990 opened #2194 "Modernizr.load() is not a function"
when I used Modernizr.load(), I found there is a problem.Chrome told me:
Uncaught TypeError: Modernizr.load is not a function
I can't find this function.
Is it disabled?or has already been deleted?
please tell me. Thank you every much!

[2017-04-26 17:36] patrickkettner commented on #2194
Hey @peijin1990!

Modernizr.load was removed several years ago. If you want the same functionality, you can use yepnope which was the underlying library that powered modernizr

[2017-04-26 17:37] #2194 closed

[2017-04-28 11:19] mah-amsiq opened #2195 "bdi test failing in RTL mode"
Running `Modernizr.bdi` in RTL mode will always return `true` even though the browser does not support the bdi tag.

### Reproduce:
   - Set direction to RTL on html tag
   - Run `Modernizr.bdi` in a browser which does not support the bdi tag. The result should be `false` but ends up `true`

### Possible solution:
Force the direction to LTR on the container for the bdi element in the test.

[2017-05-01 05:00] abdul-kalam opened #2196 "Modernizr.positionfixed returns false in safari iphone 7"
Modernizr.positionfixed is returning false in safari (ios 10.3.1). As fas as I know safari ios supports position fixed from 5.0+. Please let me know if it is bug in Modernizr or I am missing something.

[2017-05-01 05:47] patrickkettner commented on #2196
[it has never been added to Modernizr because of that issue](https://github.com/Modernizr/Modernizr/issues/167)

[2017-05-01 05:47] #2196 closed

[2017-05-02 07:31] sarukuku commented on #1095
There's been race condition issues with this test as long as I can remember...

[2017-05-03 07:13] sarukuku commented on #1095
New browsers can these days autoplay video [even on mobile](https://webkit.org/blog/6784/new-video-policies-for-ios/). As testing the autoplay is a pain in the ass to do reliably by loading a video and trying to check if it has played or not how about lifting the limit of what "cuts the mustard" and relying on the return of Promise from the play() method instead of actually trying to determine if

[2017-05-03 07:45] jimmywarting commented on #1095
Thanks @sarukuku, I just learned that there is a `playsinline` attribute for iOS now

[2017-05-03 14:11] richiekastl commented on #2130
I'm having the same issue

[2017-05-04 18:14] alejandroiglesias commented on #2166
I was also wondering why such long test is needed. Isn't the following enough?
[code]

[2017-05-08 18:51] medinasod opened #2199 "cssomPrefixes is not defined"
I'm trying to debug this error on a site that I inherited. Am I missing a dependency?

**The line the error is coming from is commented on below:**

/\* Modernizr 2.8.3 (Custom Build) | MIT & BSD
 \* Build: http://modernizr.com/download/#-cssclasses-css_boxsizing-load
 \*/

[code]

Thanks for any help you can give.

[2017-05-09 01:28] fmp777 commented on #2166
alekseyg patch didn't work for me, I still get no-autoplay on ipad and iphone IOS10.

[2017-05-10 16:29] patrickkettner commented on #2199
Hey @medinasod
You using a very very very old version of Modernizr. Are you able to rebuild using the link in the comment at the top of your file?

[2017-05-10 16:43] medinasod commented on #2199
Hey @patrickkettner
Thanks for your help with this. Actually, when I follow the link it resolves to this:
https://modernizr.com/download/?boxsizing-setclasses
Which I'm not sure is equivalent. I thought about upgrading Modernizr, but the site I'm working on is quite large and complex and I want to avoid breaking it. It's a Drupal 7 site using the [Modernizr module](https://www.drupal.org/project/m

[2017-05-10 17:10] patrickkettner commented on #2199
it is equivalent, with one missing piece. Modenrizr.load. This was actually just yepnope under the covers, and if you use the cli tool to build, you can still include it in your options if you also include yepnope.js in the same page'/js bundle.

I totally appreciate the aversion to breaking other tings. I can say with a very high level of confidence that things should work if you follow the above

[2017-05-10 17:10] #2199 closed

[2017-05-10 17:13] medinasod commented on #2199
Thank you so much, @patrickkettner!

[2017-05-10 17:16] jpamental opened #2200 "Hoping for support for Variable Fonts (via support for font-variation-settings)"
Hi there -

Variable fonts are ticking along in their development, with a draft specification in the works and support in the nightly builds of Webkit, Chrome, Firefox and Opera. It would be great to get detection of support into Modernizr. It might be worth it to hook in to browser support for `font-variation-settings` (the low-level method of controlling variable font properties)

https://drafts

[2017-05-10 18:26] medinasod commented on #2199
@patrickkettner How would I include Modernizr.load? I don't see it as an option on the custom build page and it gets removed when I add it to the parameter string. Thanks again.

[2017-05-11 12:12] zachleat commented on #2200
I’ll leave a comment in support of this too ❤️

[2017-05-11 17:39] patrickkettner commented on #2199
hey @medinasod ,

sorry, I wasn't clearer. It isn't on the download page, as it has been depreciate and it is just a warning that says it has been removed. It also detects if yepnope is also included on the page, and deffers to that if present. You have to use the npm package manually in order to use it. That is what I meant by

Alternatively, include yepnope in your build/script, and then below w

[2017-05-11 19:37] jpamental commented on #2200
That was fast @patrickkettner :)

Looking forward to checking it out!

[2017-05-11 19:38] patrickkettner commented on #2200
:D it'll be a little bit before it gets merged, in the mean time, `'fontVariationSettings' in document.documentElement.style` will give you the same information without modernizr

[2017-05-11 23:16] medinasod commented on #2199
Ok, thanks for the clarification. I appreciate the help, @patrickkettner!

[2017-05-15 14:02] sathyalog opened #2204 "How to check browser is IE9 or less than IE9"
Team,

We were using Modernizr 2.8.3 in our project. The first thing to let you know all, I m new to Modernizr and not aware of complete documentation. However, I have gone through https://modernizr.com/docs to find out the script to check IE compatibility, but couldn't find a possible solution to check the browser version with IE9 or less than IE9. Could anyone help me to find out the same??

I n

[2017-05-15 17:26] ethanroday opened #2205 "Modernizr says flex-wrap is supported in UC on Android"
Modernizr does not seem to detect that `flex-wrap` is not supported in UC Browser for Android (http://caniuse.com/#search=flex).

With the following CSS, the background color of a page loaded in UC does not change:

    .mod-no-flexwrap body {
        background-color: red;
    }

Similarly, with `.mod-flexwrap`, the background color _does_ change where it shouldn't.

(I am using the following cus

[2017-05-15 18:41] ethanroday commented on #2205
Just to add to the confusion, UC _says_ it does support `flex-wrap`:

[code]

[2017-05-15 19:49] patrickkettner commented on #2205
hey @ethanroday!
Are you using testing US Browser or UC Browser mini?

[2017-05-15 19:54] patrickkettner commented on #2204
Hello Sathya,
The purpose of Modernizr is to test for features, not specific browsers. To check for IE (any version) would be against the entire purpose of Modernizr.

Why are you wanting to know if the browser is IE9?

[2017-05-15 20:59] sathyalog commented on #2204
Hi Patrick,

Oh ok, I got it :). I have an if condition where we were checking modernizr.csstransitions to execute some statements. On the same condition, I would like to also check if IE version less than 11 or 9 (project requirement). I thought we have some way to test this using modernizr and as I didn't found in docs I thought to check with your team. Apologies for that :). If we have some way

[2017-05-15 21:48] patrickkettner commented on #2204
Hey Sathya,
My question is _why_ is it a project requirement? What does IE 9 do/no do that you are trying to prevent? You should almost never need the actual browser, so this really feels like an [xy problem](https://meta.stackexchange.com/questions/66377/what-is-the-xy-problem).

[2017-05-16 06:44] hexalys commented on #2205
@patrickkettner
It's for UCWeb Android (the U3 Engine). They somehow [expose newer Webkit properties w/o the support](https://github.com/Fyrd/caniuse/pull/2857#issuecomment-252747354).

FYI: I have managed to solve this by discarding `flexBasis` or `flexWrap`with:
`('CSS' in win && 'supports' in CSS)`

I rely on a detect of UCWeb, it could work for you without it, since I think CSS.supports matche

[2017-05-16 09:35] sathyalog commented on #2204
Hi Patrick,

I am trying to prevent the execution of some piece of code if it's less than IE9 as our project do not support less than IE9 browsers.

Thanks

[2017-05-16 17:33] patrickkettner commented on #2204
I understand. WHY though. What will work/not work in IE9 SPECIFICALLY that makes you want to prevent it running there.

[2017-05-16 18:23] sathyalog commented on #2204
Ok. Let me explain with code.
if (Modernizr.csstransitions) {
            $root.parent().bind(defaults.events.transition, removeCookie);
}

On binding events we were calling removeCookie function, this we wrote initially to support IE browsers. But now this removeCookie is being called everytime in all browsers when we click on the slider which is breaking some functionality in our project. So, we

[2017-05-16 18:52] patrickkettner commented on #2204
Ok cool, moving in the right direction.

So, I totally understand being under a deadline and wanting to just get the thing finished, but I want to suggest that the way you are framing the problem is incorrect.

The issue is not that you want to run different code in IE 9, The issue is you want to run different code when a browser behaves in a certain way.

It sounds like IE is firing events in a d

[2017-05-16 19:02] roblarsen commented on #2204
$root.parent().bind(defaults.events.transition, removeCookie);
}

If that's your real code, then IE9 will never see the body of that if statement code because `Modernizr.csstransitions` would be false (it doesn't support CSS transitions). Only browsers that support CSS Transitions would get that binding.

[2017-05-16 19:19] patrickkettner commented on #2205
Thanks for the info @hexalys!

![image](https://cloud.githubusercontent.com/assets/465414/26124008/cc3abaf8-3a31-11e7-937e-4c790bfbba02.png)

We would just need to flex-wrap something with a known width and height and check the height of the container element
.

[2017-05-16 19:55] hexalys commented on #2205
Ah yeah, you could do that too. :) It seems too expensive, for my taste anyway.

[2017-05-16 20:01] patrickkettner commented on #2205
we do it in a number of places. some folks need accuracy

[2017-05-16 20:42] sathyalog commented on #2204
Hi Patrick,
yes. I might be framing it incorrect manner. Apologies for that :).

What's happening is...

When I click on slider next/prev buttons, click event is binding with above code on page load and removeCookie is being called in all browsers when I click on slider prev/next buttons which was not the requirement. This binding should happen only if it's IE browser else it has to execute else b

[2017-05-16 22:00] patrickkettner commented on #2204
Hey Sathyalog
That is exactly the thing you _should not_ be doing. You keep saying you want to execute code in IE. I am struggling to explain to you that you should be trying to run code based on the behavior of the browser, not the name of the browser.  You are saying that you want to remove a cookie if it is IE, but you are not explaining WHY you want to do that. You want to step back from your

[2017-05-16 22:00] #2204 closed

[2017-05-16 22:56] ethanroday commented on #2205
@patrickkettner Seeing a meme in a Github issue thread rather made my day. Seems like @hexalys answered your question, but let me know if you need any more information from me.

[2017-05-16 23:09] patrickkettner commented on #2205
@ethanroday we are good! :]

Going to see if UC could possibly change their behavior, and if not we will update our code accordingly

[2017-05-17 10:19] ctjhoa commented on #1799
@patrickkettner still no news?

[2017-05-18 07:37] ray007 opened #2208 "media-query max-resolution not working anymore"
Upgrading `Modernizr` from version 2.8.2 to 3.5 caused the media query
[code]
in one of my css files to stop working.

Interactive testing in the developer console (google chrome) showed the first part still returning true, but I couldn't get any resolution queries to work anymore.

[2017-05-18 09:18] patrickkettner commented on #2208
can you provide code/live site/reproduction? It is much more likely that there was a class change or collisson that is causing the problem, as we do not touch any of the native media query bindings

[2017-05-18 14:38] razdyn opened #2209 "CSS :nth-child pseudo-selector test fails in Chrome when zoomed out"
The CSS :nth-child pseudo-selector test reports false in Chrome 58.0.3029.110 (64-bit) when the page is zoomed out to 80% or less.

[2017-05-18 14:40] razdyn commented on #2209
Disregard, I realized I'm using 3.3.1, will test in 3.5.0 first.

[2017-05-18 15:43] razdyn commented on #2209
Same issue in 3.5.0.

[2017-05-23 04:32] beany-vu commented on #548
We can you if(Modernizr.pointerevents) {// handler for point event} to check if user touch on screen of Surface?
Btw, nice to meet you, Paul Irish. You are my idol :D

[2017-05-23 19:59] whmountains opened #2210 "Checkbox is incorrectly positioned"
![screen shot 2017-05-23 at 15 58 41](https://cloud.githubusercontent.com/assets/8680147/26373745/bc3031e8-3fd0-11e7-84ae-a6f95cc0457e.jpg)

Browser: Firefox 54
Operating System: Mac OS Sierra

[2017-05-24 06:57] patrickkettner commented on #2210
this issue is being tracked on the website's' repo, https://github.com/Modernizr/Modernizr-neue

[2017-05-24 06:57] #2210 closed

[2017-05-25 08:41] liqiyuanzi opened #2212 "where is modernizr.js?"
where is modernizr.js?

[2017-05-25 08:42] patrickkettner commented on #2212
there is not a single file any longer. you build a custom version yourself, at modernizr.com/download or using the [modernizr npm build tool](https://npmjs.com/package/modernizr)

[2017-05-25 08:42] #2212 closed

[2017-05-26 03:06] beany-vu opened #2213 "How to detect touch event on Kiosk screen?"
I know the Modernizr supports detecting touch event on iPad. On surface, I can use point event instead. However, I have no idea how can we detect a touch event on **Kiosk** screen. Anyone has recommendation for this case?

[2017-05-26 07:30] patrickkettner commented on #2213
What is the browser powering it?

[2017-05-26 08:11] beany-vu commented on #2213
The **Google Chrome**. I can detect the click event but no way for touch/point :|.

[2017-05-26 08:33] patrickkettner commented on #2213
Chrome supports PointerEvents , you can use that

[2017-05-26 09:08] beany-vu commented on #2213
I use this logic:
if (Modernizr.touchevents || Modernizr.pointerevents) {...//my logic}

Modernizr.touchevents works on iPad

Modernizr.pointerevents works on surface(Edge browser)

However, it didn't work on Kiosk. I realize that click event is okay on Kiosk. And I had a trick to detect this screen by a formula:  Kiosk = fullscreen + click detect.
Because the show room of my client always open we

[2017-05-26 15:36] beany-vu commented on #2213
Sorry for this issue, I think this screen support only the click event because I can see a pointer on it. I can detect the kiosk mode by checking if it's on the full screen mode. It's enough for the time being. It can be closed now.

[2017-05-26 15:36] #2213 closed

[2017-05-29 15:03] paulorely commented on #1095
The solution presented by @sarukuku is great, but it falls short in browsers that don't support Promises but **do** support video autoplay (notably IE 9–11).

His approach inspired me to explore another solution, which was succesfully tested on:

* IE 8–11, Edge (Windows);
* Chrome, Firefox (Windows, macOS, iOS, Android);
* Safari (macOS, iOS);
* Samsung Browser (Android).

[code]
A Promise return

[2017-05-30 08:52] sarukuku commented on #1095
@paulorely Excellent work! I've updated the [example](https://jsbin.com/rabadaloge/1/edit?html,js,console,output) to use your method. It has the opinionated image replacement fallback. I also tested the updated example with various old & new desktop & mobile browsers and it seems to perform very well (= doesn't work on Nokia Lumia & Androind <= 4.0).

I'll create a pull request of this for Moderni

[2017-06-02 07:47] kapilkd13 commented on #2039
Hi I am facing a similar issue. I have recently started a blog on github that uses modernizr.js. Problem is some of the icons are not rendered and I get a "this page is trying to load unsafe scripts". On loading this "unsafe scripts" I get the fonts. When I looked into the console I got
[code]
Here is my blog https://github.com/kapilkd13/blog
You can see the problem here https://kapilkd13.github.i

[2017-06-02 07:50] patrickkettner commented on #2039
@kapilkd13 as you can see in the error message, this has nothing to do with modernizr. You are attempting to load the font over http, when it needs to be loaded over https.

[code]

needs to be changed to

[code]

[2017-06-02 09:18] kapilkd13 commented on #2039
Hi @patrickkettner  I solved by changing `http://fonts.googleapis....` to `//fonts.googleapis...` so that it can load over both `http` and `https`. Thanks 😄

[2017-06-02 11:41] patrickkettner commented on #2039
thats generally considered an antipattern these days. If possible, _all_ traffic should be sent via https

glad its sorted!

[2017-06-06 14:57] klihelp opened #2214 "Update cdn"
Modernizr on CDN could have only for classes or all features.

https://cdnjs.com/libraries/modernizr is at 2.8
https://cdn.jsdelivr.net/modernizr/3.3.1/modernizr.js

[2017-06-06 22:17] patrickkettner commented on #2214
Thanks for reaching out! But unfortunately we have nothing to do with the CDN file, nor do we want to have the entire kitchen sink build there as it would encourage folks to ship WAY more code than they need

[2017-06-06 22:17] #2214 closed

[2017-06-07 08:08] MissXueBB opened #2215 "Seeking Help: A brief survey of handover process in Github"
Sorry for interrupting you and we are so sorry to raise questions that are not relevant to development here.

We have e-mailed questionnaires to @paulirish:paul.irish@gmail.com, @patrickkettner:patrickkettner@gmail.com, @SlexAxton:alexsexton@gmail.com. You can also reply us through email if you are interested in our research questions. Below is the content of our survey.

We're research students f

[2017-06-09 08:25] ViceIce opened #2216 "datauri test creates deprecation warning on chrome 59"
Resource requests whose URLs contain raw newline characters are deprecated, and may be blocked in M60, around August 2017. Please remove newlines from places like element attribute values in order to continue loading those resources. See https://www.chromestatus.com/features/5735596811091968 for more details.

The warning is thrown at [feature-detects/url/data-uri.js#L75](/Modernizr/Modernizr/blob

[2017-06-09 09:04] Ollie-w opened #2217 "Flexbox Internet Explorer 10"
I have tried using both the flexbox and flexbox legacy options. Neither give an accurate result. I want to use flexbox for IE 10 + 11 and give a fallback layout for 9.

[2017-06-09 18:23] patrickkettner commented on #2217
Hiya!
IE's flexbox is the flexbox-tweener version

[2017-06-09 18:23] #2217 closed

[2017-06-14 09:23] bugnano commented on #1818
There is a bug in the web builder of Modernizr, in the sense that if I build Modernizr from the command line, everything works fine.

But, if I bulid Modernizr from the Web (https://modernizr.com/download?setclasses), the generated file does not work, as it is missing the

var tests = [];

line.

[2017-06-14 21:16] elektromntr commented on #2147
Seems like hav similar problem here.
@ryanseddon Where and how should I add this part of code?

[2017-06-14 21:18] patrickkettner commented on #2147
you set it in the right hand column on the web builder, or in your modernizr config object. This is done before you generate your modernizr file

[2017-06-15 06:52] wd0401 commented on #806
Hi,
I use Modernizr.load like this:
Modernizr.load([
    {
        test: window.JSON,
        nope: FOL_GLOBAL.ctx + '/js/lib/json2.min.js'
    },
    {
        complete: function() {
            // FOL_GLOBAL.scriptsToLoad contains scripts included on pages using <freeman:require/> taglib
            require(['jquery', 'common','mediaMatch','enquire','responsive', 'body.header','searchbox'].conca

[2017-06-15 10:35] patrickkettner commented on #806
Just a heads up, you don't need to ping maintainers when you comment on an issue as they already get email notifications for it.

modernizr.load was removed several years ago, in modernizr 3. You will just want to change your code to use yepnooe directly

[2017-06-16 01:30] wd0401 commented on #806
got it. thanks.@patrickkettner

[2017-06-16 10:02] flowen opened #2219 "getusermedia not returning correct values"
I used modernizr.getusermedia on a website with https enabled. I used this simple code:

[code]
It returned: console.log('getUserMedia() is not supported in your browser');
But modernizr.getusermedia returned true and the class was on the html element.

I started this on stackoverflow:
https://stackoverflow.com/questions/44494029/getusermedia-does-not-work-with-ssl-certificates-installed?noredirec

[2017-06-16 12:45] patrickkettner commented on #2219
What browser did you hit the issue in?

[2017-06-16 13:54] flowen commented on #2219
Chrome Version 58.0.3029.110 (64-bit)

[2017-06-16 15:31] patrickkettner commented on #2219
Chrome definitely has getUserMedia support. Can you post a repro on jsbin/codepen?

[2017-06-17 11:35] flowen commented on #2219
You can see it live here: https://flowen.me/

First ignore the errors from vimeo (not sure what that is). You'll see the log:
getUserMedia() is not supported in your browser
but Modernizr.getusermedia returns true. The code is here:
https://github.com/flowen/flowen.me/blob/master/src/js/depthmap-visualiser.js
line 139

[2017-06-20 11:08] tinocha commented on #2166
@alekseyg , I've tried adding the 2 lines playslinline and muted but modernizr is still not working to detect autoplay for iOS 10. Is it working for you ?

[2017-06-20 12:17] tinocha commented on #2077
Hi @patrickkettner , I'm also trying to detect autoplay playsInline on devices, and I have the same issue than others with iOS10. I succeeded installing modernizr but may I ask you how to add 'playsInline' in document.createElement('video') ?
Thanks a lot !

[2017-06-20 16:50] alekseyg commented on #2166
@fmp777 @tinocha If I remember correctly, iOS 10.1 or 10.2 had a few subtle changes that broke it. I believe to get it working again, I may have changed either the mp4 file or some other small thing. In the end, I moved away from Modernizr and adapted the code to a CommonJS module that I've been using in my projects. This issue has been open for so long that I'm not surprised if it's not working a

[2017-06-20 16:53] alekseyg commented on #2166
Modernizr seems, dare I say it, in need of modernization...

[2017-06-22 12:13] tlenex opened #2220 "EINTEGRITY: npm 5.0 integrity check and modernizr.com dependency"
https://stackoverflow.com/questions/44699090/eintegrity-npm-5-0-integrity-check-and-modernizr-com-dependency
Any hits will be much appreciated.

[2017-06-22 14:01] patrickkettner commented on #2220
You have an integrity check to know when files change. The error is the result of the files changing.

What is your question?

[2017-06-22 20:53] tlenex commented on #2220
Let's say we have this scenario:
1. In my work I have installed dependency with `https://modernizr.com/download?setclasses-flash`, so the `package-lock.json` has set up an `sha` checksum.
2. I go for a home and started working remotly, cloned my repo and run `npm install`
3. I have EINTEGRITY error, and my project can't run, because Modernizr and other devDependencies are not installed.

Questions

[2017-06-23 17:18] bs-thomas commented on #2216
@ViceIce So aside from ensuring that newlines do not exist in element attributes, do we have to do anything else?  Is it recommended to exclude this feature from the modernizr build for projects?

[2017-06-26 09:46] ViceIce commented on #2216
@bs-thomas I don't know. I only found the message on my debugger and checked where it comes from.

[2017-06-26 14:34] onmarketing commented on #878
Hi,

Via Google Page Speed Test:

Your page has 1 blocking script resources and 3 blocking CSS resources. This causes a delay in rendering your page.
None of the above-the-fold content on your page could be rendered without waiting for the following resources to load. Try to defer or asynchronously load blocking resources, or inline the critical portions of those resources directly in the HTML.
Re

[2017-06-26 17:15] philippsimon commented on #1663
I fixed the issue with this pull request: https://github.com/Modernizr/Modernizr/pull/2223

[2017-06-28 19:58] charoensaetan opened #2224 "Jaroen"

[2017-06-28 20:00] #2224 closed

[2017-07-05 12:46] Sysix commented on #1781
Any updates?

[2017-07-05 19:05] jarodtaylor commented on #1985
When will this become a PR and actually get merged in?

[2017-07-08 04:59] patrickkettner commented on #1985
@jarodtaylor PRs are welcome! Let me know if you would like help making it happen

[2017-07-08 05:09] patrickkettner commented on #2216
Hey @ViceIce thanks for the heads up! This actually doesn't affect anything other than causing some mild spam in your console.

@bs-thomas you almost certainly can remove this tet from your build unless you need to support IE7

Since it doesn't affect our test, and is needed for it, im closing as a wontfix - but thanks again for reporting!

[2017-07-08 05:09] #2216 closed

[2017-07-08 05:17] patrickkettner commented on #1818
@bugnano I am not able to reproduce this. Can you give me the specific build you are using to build that is getting this ur?

[2017-07-08 12:19] drjecker commented on #1985
Apologizes for dropping the ball on this. I think all that was left was to add in prefixing and test locally before submitting a PR. Will pick it back up, so we can get it implemented.

@patrickkettner You were of great help before, so I will probably call upon you again if I get stuck.

[2017-07-10 06:52] sonarforte opened #2225 "Uncaught TypeError: _modernizr2.default.mq is not a function"
When I use the `mq`  function, I get this error: `Uncaught TypeError: _modernizr2.default.mq is not a function`.

I'm using [modernizr-loader](https://github.com/peerigon/modernizr-loader) to create my package.

I'm able to access the modernizr object inside my js code, and when printed it looks like this:

[code]

Here is my modernizr config:

[code]

And my usage:

[code]

It's quite obvious tha

[2017-07-10 07:39] SlexAxton commented on #2225
Both of these seem like problems with importing Modernizr. Seems like it'd be worth it to check if just including modernizr globally had the same issues. My gut is that `window.modernizr.mq` will be available and that you'll end up needing a webpack global alias loader or something similar for your setup.

[2017-07-10 13:32] bugnano commented on #1818
I don't know whether something has changed in the web builder or not since I reported the bug, but at the time of reporting the bug it did not work, now I tried the same build, and everything works.

[2017-07-10 19:38] sonarforte commented on #2225
`console.log(window.Modernizr)` returns `undefined` as-is. Do you have any more info on what would be required yo use a global alias loader?

[2017-07-11 14:41] stof opened #2226 "Finer-grained selection for the inputtypes detect"
Currently, the inputtypes detect is all-or-nothing. However, the detection for the `range` type triggers a forced reflow in the browser (when profiling with 5x CPU throttling in Chrome, this detect takes 65ms to recalculate style and compute the layout). Paying this cost while I'm only interested in the `date`detection looks bad.

Would you consider allowing to configure the list of types we want

[2017-07-11 15:19] stof commented on #2226
note that I would also be satisfied with a way to exclude only the `range` detect, as this is the costly one.

[2017-07-11 19:36] kachkaev commented on #2012
Thanks for the link @patrickhlauke. Although your method works, I'm wondering if you can make the npm verion of the library workable. The problem with the non-npm package source is that the app now depends on the availability of your website and the network. Installing modernizr in a CI looks quite painful and feels potentially error prone.
How feasible would it be to fix the npm package for webpa

[2017-07-11 20:10] patrickhlauke commented on #2012
i'm assuming you meant @patrickkettner and not me ... confused me there for a second

[2017-07-12 08:02] kachkaev commented on #2012
Ah sorry!

2 @patrickkettner: Just tried your method and got this in `package.json` / `package-lock.json`:
[code]
[code]

Running `npm install` inside CI caused

[code]

i'll probably move Modernizr into `src` for now – fetching npm packages not from an npm registry feels like a bad idea.

[2017-07-12 11:29] adoerler commented on #2193
Hi,

today we came across the very same issue.
I've found out that the line causing the page scrolling to top is 157 in hyphens.js:
https://github.com/Modernizr/Modernizr/blob/5eea7e2a213edc9e83a47b6414d0250468d83471/feature-detects/css/hyphens.js#L157

i.e. `dummy.focus();`

In our case we have an website using modernizer and css-hyphens detection enabled.
Inside this site wie have a LightCase li

[2017-07-16 08:23] jlchereau opened #2228 "URGENT! M60 = August 2017: Modernizr.datauri.over32kb triggers chrome deprecation warning"
[code]

triggers:

[Deprecation] Resource requests whose URLs contain raw newline characters are deprecated, and may be blocked in M60, around August 2017. Please remove newlines from places like element attribute values in order to continue loading those resources. See https://www.chromestatus.com/features/5735596811091968 for more details.

[2017-07-16 08:37] jlchereau commented on #2228
Duplicate of https://github.com/Modernizr/Modernizr/issues/2216

[2017-07-16 08:37] #2228 closed

[2017-07-26 15:26] vasimi opened #2231 "H265 check"
It would be nice to have H265 support check in Modernizr. Edge and Safari already support HEVC.

[2017-07-28 18:17] patrickkettner commented on #2231
@MekliCZ would you be interested in helping create a feature detection for it?

[2017-07-28 18:29] patrickkettner commented on #2012
@kachkaev all that is happening is your lock file is being invalidated because of package changes. thats the point of the lock file. You just need to delete the lock file to upgrade your modernizr package.

[2017-07-29 04:08] #2200 closed

[2017-07-29 08:17] jilvin opened #2232 "Contibuting Guidelines"
Kindly add contributing guidelines to make contributions to this project easy.

[2017-07-30 07:39] #2219 closed

[2017-08-04 03:11] jiji262 commented on #548
So how to detect touch devices with Javascript?

[2017-08-09 15:36] marcelhadorn commented on #606
+1
Safari, Safari Mobile, Mobile Chrome on iOS, IE, Edge all don't support the following Filter:
[code]
Although modernizr says in Safari (only tested that one) that svgfilters is supported.

[2017-08-10 07:27] lol768 commented on #1262
Pretty disappointing this still appears to be a problem. I did also look at hashes but if as @quinncomendant says the styles aren't static then a hash is out of the question.

`strict-dynamic` is worth looking at if you _exclusively_ use nonces since I think it might help here by allowing the trusted script Modernizr to inject non-parser content and not have them be considered a violation.

[2017-08-10 07:42] patrickkettner commented on #1262
@lol768 prs welcome

[2017-08-11 20:30] nikolowry commented on #2012
It be awesome to programmatically use Modernize with ease -- I don't want it on the window, I don't want it to touch the `document.documentElement`.

I got it to work with mapping all the named modules and trying to figure out how to implement this dynamically in the future.

My use case:
Attempting to make all my Component classes standalone and able to add their own specific detects per Componen

[2017-08-13 21:20] Kruithne opened #2234 "3.5.0 'arrow' test not working in Google Chrome 60.0.3112.90"
**Test:** arrow (ES6)
**Version:** 3.5.0
**Browser:** Google Chrome Version 60.0.3112.90 (Official Build) (64-bit)

**Expected:** `arrow` class to be applied to the `<html>` tag, and `Modernizr.arrow` to be true.
**Result:** `no-arrow` class is applied, and `Modernizr.arrow` is false.

Feature verification via console:
[code]

[2017-08-13 21:37] Kruithne commented on #2234
**Problem identified:** The test uses `eval`, which was blocked by a CSP (Content Security Policy) directive to prevent unsafe evaluations. Closing issue, hopefully serves useful to anyone else encountering this failure.

[2017-08-13 21:37] #2234 closed

[2017-08-14 08:43] lol768 commented on #1262
@patrickhlauke What happened to the existing PR for this?

[2017-08-14 10:38] joomlabeat opened #2235 "Building custom version: drag and drop & select all"
What I should choose to include the drag and drop detection?
And isn't there a way to create a file that will include the whole library by a select all option?

[2017-08-14 10:57] patrickkettner commented on #2235
The drag and drop detect was removed because it was not reliable.
I would HIGHLY suggest not using a build with everything, it's several megabytes in size. But you can click the development version link on the homepage to take you to a version with everything checked off

[2017-08-14 11:06] joomlabeat commented on #2235
So currently there isn't a way to detect the drag and drop capabilities??

The "include-all" build isn't meant for a production site, rather for testing/experimenting - so to create a single file and use it for all the tests I would like to do - without having to go and generate files each time.

[2017-08-14 12:37] patrickkettner commented on #2235
Correct. There is not a reliable way to detect it

Ok sounds good

[2017-08-18 09:45] hinok opened #2236 "[Googlebot] typeof window.Modernizr is undefined"
Hey,
I've been working on a few experiments which focus on Googlebot. I've used `Modernizr` to detect some features and I've found that:

* `window.Modernizr` is always `undefined` (for Modernizr > `v3.0.0`)
* Even if `window.Modernizr` is `undefined`, It's quite easy to check that it has added CSS classes to `<html>` so something is working...
Classes below has been taken from the DOM and then se

[2017-08-24 04:16] badoet opened #2237 "Modernizr.csstransforms3d return false on chrome 60"
![screen shot 2017-08-24 at 12 15 54 pm](https://user-images.githubusercontent.com/527102/29649350-07457074-88c6-11e7-94e4-3888c20b1e0d.png)

[2017-08-24 05:45] patrickkettner commented on #2237
Can you provide a link to a repro? Thanks!

[2017-08-24 21:43] longridge opened #2238 "Modernizr CSS VMIN"
Within a couple of websites I've written, I test for css feature VMIN - using modernizr 3.5.0.

With android chrome and ipad (safari) - Modernizr identifies VMIN as fine - i.e. a positive test when in portrait mode - but the same test applied to same browser in landscape mode fails. (Chrome on IPAD is recognised whether portrait or landscape). IS this an issue for the modernizr test ie what is mod

[2017-08-25 14:42] ray007 commented on #2208
The difference is, old Modernizr added a class `no-touch` which I was using, new Modernizr adds a class `no-touchevents`.

[2017-08-26 08:18] #1747 closed

[2017-08-26 12:34] patrickkettner commented on #2208
@ray007 to be clear, this is resolved correct?

[2017-08-26 15:55] ray007 commented on #2208
yes it is.

[2017-08-29 20:11] jptredoux opened #2239 "datalist: opera (mobile)"
possible false positive reported on opera mobile on android

https://github.com/Modernizr/Modernizr/blob/master/feature-detects/input.js

`Modernizr.input.list` result is `true`

[2017-08-30 10:13] saraheagle commented on #1301
Adding overflow:hidden worked for me, although I had a problem with the width, not the height!
.flex-wrapper	{display:flex; flex-wrap:wrap}
.flex-item	        {overflow:hidden}

[2017-08-30 11:06] Ismaestro opened #2240 "Frameworks lists"
I'm working with Angular 4 and Angular CLI, and it would be awesome if we could have a list of tests that should pass with every framework (not only angular). For example, for projects using angular:

[queryselector, localstorage, eventlistener, ...]

In the web page could be a download button for every famous framework...

[2017-09-01 12:30] tothdavid opened #2241 "MIT License obligation is not met"
You define that the library is usable under the terms of MIT license, however even you don't meet it's requirements as it states the following:

The git repository itself is a copy of the software so the full MIT License should be included in the repository.

The full text is the following:

I would create the pull request myself, but I have no idea who the copyright holder should be.

Actually th

[2017-09-01 15:45] BB-000 commented on #1031
When using Modenizr with a class prefix, .no-js was not getting removed. I could fix it by adding the correct prefix to .no-js in my html, however I wanted it to retain its original behaviour, and have either .no-js or .js class on the html (mainly because some third party libraries make use of these classes)

So I replaced
{var r=new RegExp("(^|\\s)"+n+"no-js(\\s|$)");t=t.replace(r,"$1"+n+"js$2")

[2017-09-02 19:29] paolobenve opened #2242 "iphone/ipad fullscreen capabilities not detected"
I suppose that modern iphone/ipad support fullscreen, but Modernizr doesn't detect it

[2017-09-03 14:05] patrickkettner commented on #2242
@paolobenve which fullscreen are you referring to - how does a developer or user get into that mode

[2017-09-03 17:43] paolobenve commented on #2242
`if (Modernizr.fullscreen)`

[2017-09-03 18:01] patrickkettner commented on #2242
Not the modernizr feature. What are you doing on the device to get into fullscreen mode

[2017-09-03 18:34] paolobenve commented on #2242
no, my problem is that `Modernizr.fullscreen` gives me false on iphone/ipad.

Is it correct?

[2017-09-03 18:40] paolobenve commented on #2242
Let me ask the question in another way: since `Modernizr.fullscreen` doesn't detect fullscreen capabilities on ipad/iphone, is there a way to detect them on those devices?

[2017-09-04 20:49] patrickkettner commented on #2242
We are not communicating well.

I understand that modernizr is failing to detect fullscreen for you. I want to fix that. In order to fix that I need to understand how to replicate the failure properly. In ordet for me to be able to do that, I need you to explain to me the steps you are following on your ipad/iPhone that puts your ipad/iPhone into fullscreen mode so that I can fix modernizr to dete

[2017-09-05 13:53] roblarsen commented on #2242
[Can I use? Fullscreen API](http://caniuse.com/fullscreen/embed/)

[2017-09-05 14:23] paolobenve commented on #2242
@roblarsen, but how is possible that they didn't implemented the fullscreen api on ios safari? do they use any alternative method to go fullscreen?

@patrickkettner, `elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT)` is used to go fullscreen

[2017-09-05 14:43] roblarsen commented on #2242
@paolobenve I don't know, today is the first time I looked at the issue. It looks like [it was intentionall disabled several years ago](https://bugs.webkit.org/show_bug.cgi?id=108250)

[2017-09-06 21:41] patrickkettner commented on #2242
@paolobenve you said

If that's the case, I am confused as to why you opened the issue? What made you feel that it should be `true`?

[2017-09-07 13:53] patrickkettner commented on #2241
hey @tothdavid!

Are you a lawyer?

[2017-09-07 13:54] #2208 closed

[2017-09-07 16:27] roblarsen commented on #2241
@patrickkettner IANAL, but I'm shocked this hasn't come up before. I feel like, at some point, the project has to have had a real license included as I used it at SUPER-MEGA-INVESTMENT-BANK™ where I had to do things like reach out to individual developers to verify licenses for Gists.

Maybe people just saw that LICENSE file and thought that it was a copy of the actual MIT license:

The full text

[2017-09-07 17:04] patrickkettner commented on #2241
It actually has come up before, and we discussed it with lawyers specialized in software licensing and they confirmed this was permitted

[2017-09-07 17:57] roblarsen commented on #2241
That's surprising to me- mostly from being on the other side from lawyers telling me what I was showing them wasn't explicit enough to protect SUPER-MEGA-INVESTMENT-BANK™

[2017-09-07 19:09] patrickkettner commented on #2241
Would be more than happy to discuss it with any lawyer who has concerns, if you're ever able to refer them.

[2017-09-07 20:30] tothdavid commented on #2241
@patrickkettner no, I am not a lawyer, however the license text is pretty simple, I don't think that I would need to be one to understand it.
The license text is explicitly telling that the copyright and license notice shall be included. You don't even include a link, just that it is "MIT" (what could basically mean anything).
Even if a lawyer told you that this is probably OK what's the point of

[2017-09-08 11:14] Poky85 opened #2245 "False negative test for notifications on Android Chrome 60"
I get negative result in notifications test on Chrome 60 (Android) although notifications are supported here. It breaks on `!window.Notification`.

Test case https://codepen.io/Poky85/pen/gxNddr

[2017-09-09 17:45] igrigorik commented on #2236
@hinok can you ping me the URLs you're using in your tests here?

[2017-09-10 17:33] igrigorik commented on #2236
If you [log the error](https://developers.google.com/search/docs/guides/debug-rendering):

It looks like RTCPeerConnection test passes, because the interface _is_ exposed, but the constructor returns an error. In turn, DataChannel test tries to call the constructor and triggers the exception:
 https://github.com/Modernizr/Modernizr/blob/aff821e42996f8996ba872e217441266bc1debd1/feature-detects/webr

[2017-09-12 21:48] hinok commented on #2236
I'm pretty sure that I checked `window.onerror`, weird 🤔. I will check my tests and write a follow-up here.

[2017-09-12 22:45] #2236 closed

[2017-09-13 17:29] ericlaw1979 opened #2246 "localizednumber-setclasses triggers 'Not Secure' warning in Chrome 62+"
https://crbug.com/764760

1. Enable Chrome 62's HTTPBad Phase 2 (Warn {*} after editing) in chrome://flags
2. Visit www.indiatimes.com or webdbg.com/test/forms/modernizr.html

Observe: Omnibox shows "Not Secure" and Developer Tools Security Panel says a form was edited.
![image](https://user-images.githubusercontent.com/4192774/30391471-0f0fa72a-987f-11e7-9484-3fdf293abdd1.png)

Expect: No warning

[2017-09-14 18:37] eddr opened #2247 "Modernizr.hasEvent('touchevents') returns false on android 5.1, latest Chrome, Moto G device"
Hi

Any clue why is that so?
Am I using the right event to detect touch events?

Thanks

[2017-09-15 21:27] ericlaw1979 commented on #2246
This has been addressed on the Chrome side. https://chromium-review.googlesource.com/c/chromium/src/+/666118

[2017-09-15 21:27] #2246 closed

[2017-09-17 21:22] swanijam opened #2248 "Modernizr detecting stylable scrollbars incorrectly"
I'm using Modernizr to choose to hide all scrollbars when a page is being viewed in firefox. This is because I've styled the scrollbars using webkit's ::-webkit-scrollbar selectors and haven't found a suitable alternative for firefox.

Since it's best practice to keep from using the User Agent String, I'm following the most common recommendation to use Modernizr for feature detection instead of br

[2017-09-18 04:53] Kaiido opened #2249 "webgl detection should check against null, not undefined"
in [*webgl/extensions.js*](https://github.com/Modernizr/Modernizr/blob/5eea7e2a213edc9e83a47b6414d0250468d83471/feature-detects/webgl/extensions.js#L55)

     if (ctx !== undefined) {

should always match since `HTMLCanvasElement#getContext` returns `null` when an [unsupported value](https://html.spec.whatwg.org/multipage/canvas.html#dom-canvas-getcontext) is passed to it.

[2017-09-19 08:41] #1780 closed

[2017-09-20 03:05] 3zzy commented on #2172
Having the same issue, just including the modernizr on the page auto scrolls it to the bottom of the page on load.

[2017-09-20 18:52] patrickkettner commented on #2249
@Kaiido - would you be interested in creating a PR to fix it?

[2017-09-21 09:53] brongineers commented on #1538
confirm that error in  * modernizr v3.5.0.*
and that is happening in firefox only

[2017-09-22 21:22] eladkarako commented on #1894
without using <code>Object.defineProperty</code>:
[code]
<h4>If a browser is lacking <code>Object.defineProperty</code>,<br/>
it is most-likely too old to support passive events.<br/><br/>
But since we're not checking the availability of <code>Object.defineProperty</code>,<br/>
using the example above is a (slightly) better-practice,<br/>
since it relays on an older feature, and limits <code>try/c

[2017-09-22 21:32] WebReflection commented on #1894
hey, if you assign a variable like this `opts = {}` you might as well know this is absolutely a redundant operation `Object.prototype.__defineGetter__.call(opts, "passive", getter);` 'cause the following one is exactly the same in 1/3rd of the code `opts.__defineGetter__("passive", getter);`

Moreover, this is not a "_most-likely_", this is a certain statement:

there is no browser on earth that w

[2017-09-25 03:36] cliener commented on #1812
Any reason @myakura's fork hasn't been merged in? Seems to do the job.

[2017-09-25 03:41] patrickkettner commented on #1812
@cliener no PR was submitted

[2017-09-25 03:43] cliener commented on #1812
Just spotted that. Should have looked more thoroughly before commenting - sorry!

[2017-09-25 03:44] patrickkettner commented on #1812
no worries :D

On Sun, Sep 24, 2017 at 11:43 PM, Chris Lienert <notifications@github.com>
wrote:

--
patrick

[2017-09-26 15:11] drjecker commented on #1985
@patrickkettner Think I've got the prefixing in on this (see below), am ready to test it to see if this thing works, and could use some direction on next steps. [You had asked](https://github.com/Modernizr/Modernizr/issues/1985#issuecomment-231971608) if I wanted to test in the browser or the modernizr test suite. I've got no preference, other than whatever is the most straightforward/simplest.

[

[2017-09-26 18:00] JonathanDoelan opened #2251 "videoautoplay not working on Safari 11"
Because Safari disables "unmuted Videos" modernizr gives me a wrong result.
The modernizr-test here should include the html-tag "muted", so that the test returns a positive result!

[2017-09-27 15:28] everget commented on #2245
@Poky85 see `feature-detects/notification.js`
[code]

[2017-09-27 16:30] everget commented on #2182
@zyc8904
![image](https://user-images.githubusercontent.com/19395364/30925365-41e33ac2-a3ba-11e7-8a44-f624c87e26ba.png)

[2017-09-27 19:32] everget commented on #2249
@patrickkettner
I think there is no need to fix it, because in [webgl/extensions.js](https://github.com/Modernizr/Modernizr/blob/5eea7e2a213edc9e83a47b6414d0250468d83471/feature-detects/webgl/extensions.js#L55):
[code]
I propose to remove `ctx !== undefined` check because of it's uselessness.

[2017-09-27 20:45] everget commented on #2238
@longridge

[feature-detects/css/vminunit.js](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/vminunit.js)

[2017-09-27 20:56] everget commented on #2195
@mah-amsiq Possible PR ?)

[2017-09-28 04:22] muhammadridho commented on #2225
If you use `modenizr-loader`, try to put your modernzier feature media queries inside , modernizr.promises. like this

[code]

and put config options 'mq' in  .modernizr.rc
[code]

[2017-09-28 13:31] longridge commented on #2238
The full test I use (built around an "if else" statement) is  :

Modernizr.mq("only all") && Modernizr.cssvwunit && Modernizr.cssremunit && Modernizr.flexbox && Modernizr.boxsizing && Modernizr.cssvminunit && Modernizr.mediaqueries

The key feature which seems to cause a problem (in circumstances covered earlier) is
"Modernizr.cssvminunit"

Code can be seen using web inspector tools on site referr

[2017-10-02 15:49] andreasgroth opened #2252 "feature-detects/img/srcset.js, notes: wrong link"
The link URL for the first note in the metadata is wrong. In line 7 of feature-detects/img/srcset.js
[code]
A likely URL is https://www.smashingmagazine.com/2013/08/webkit-implements-srcset-and-why-its-a-good-thing/, which is mentioned in the article of the other note.

[2017-10-03 12:32] Colir commented on #2251
With or without this attribute, the test return false for me  - Safari 11 - Macos Sierra.
This test work well https://codepen.io/paulorely/pen/QveEGy
Thanks to @paulorely
https://github.com/Modernizr/Modernizr/issues/1095

[2017-10-08 18:26] UrielMhezzek opened #2253 "Build modernizr with config.json don't work"
I used your example https://modernizr.com/docs to build my modernizr.js.

After using the command `modernizr -c modernizr-config.json`, it will build modernizr.js. i implement the file in my header (or footer), it don't work.

Here my config [modernizr-config.txt](https://github.com/Modernizr/Modernizr/files/1367096/modernizr-config.txt) (renamed from json to txt) and the builded [modernizr.txt](h

[2017-10-08 18:28] patrickkettner commented on #2253
What does "it doesn't work" mean? In what way does it not work

On Oct 8, 2017 11:26 AM, "UrielMhezzek" <notifications@github.com> wrote:

[2017-10-08 18:29] UrielMhezzek commented on #2253
it don't put the classes in the html tag.

[2017-10-09 00:34] patrickkettner commented on #2253
It doesn't by default. Did you email the option in your config?

On Oct 8, 2017 11:29 AM, "UrielMhezzek" <notifications@github.com> wrote:

it don't put the classes in the html tag.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/Modernizr/Modernizr/issues/2253#issuecomment-335027836>,
or mute the thread
<https://github.com/noti

[2017-10-09 20:11] UrielMhezzek commented on #2253
Did you mean this?

Von: patrick kettner [mailto:notifications@github.com]
Gesendet: Montag, 9. Oktober 2017 02:35
An: Modernizr/Modernizr <Modernizr@noreply.github.com>
Cc: UrielMhezzek <marcogall@outlook.de>; Author <author@noreply.github.com>
Betreff: Re: [Modernizr/Modernizr] Build modernizr with config.json don't work (#2253)

It doesn't by default. Did you email the option in your config?

O

[2017-10-11 10:37] membla commented on #2166
Furthermore, Safari 11 specifically prevents autoplay on videos who contain an audio track so I reckon the base64 encoded sample video needs to have an audio track for proper detection.

[2017-10-12 02:19] ridoansaleh opened #2255 "Could i install modernizr v2.8.x ?"

[2017-10-13 15:33] rickdmer commented on #2248
I'm seeing this same issue with 3.5. Chrome is returning `false` for `Modernizr.cssscrollbar`.

[2017-10-17 10:50] craigster1991 commented on #2251
It's always returning as false for me on Safari 11 also.

Running macOS Sierra 10.12.6 (16G29)
Safari 11.0 (12604.1.38.1.7)

[2017-10-17 19:31] rickdmer commented on #2248
Stepping through the cssscrollbar test in 3.5, it looks like the test was failing because HTML element is hidden on page load and the element that it's testing on has no height or width at that point.

[2017-10-18 11:39] arc95 commented on #1262
Just wondering if Version 2.8.3 addresses this. Thanks.

[2017-10-20 09:40] m10 opened #2257 "vh units test breaks on some resolutions with Firefox from at least v56 when windows setting for High DPI ist not 100%"
Windows HighDPI scaling setting to 125%
[code]

[2017-10-22 01:49] mboevink opened #2258 "Is modernizr prefixedCSSValue cached?"
Or should I implement one when creating elements in bulk?

[2017-10-25 07:36] patrickkettner commented on #2258
hey @mboevink
cached in what sense? Its a sub microsecond operation - I would really be surprised if this was going to be the level of performance optimization an application would have at the top of its impacts

[2017-10-25 08:01] mboevink commented on #2258
Hey,
I meant in terms of taking an inordinate amount of elements from a server response. But if you think it has no real impact then it is case closed.

Cheers

[2017-10-25 08:01] #2258 closed

[2017-10-26 12:58] Skadi2k3 commented on #2166
iOS 11 is blocking playback of the dummy video element due to inline style "display:none;".

[2017-10-26 17:08] alekseyg commented on #2166
@Skadi2k3 Interesting. iOS 11 still works with my gist on the websites I'm using it, and it contains the `display:none` inline style. What works works, I guess though. ¯\_(ツ)_/¯

[2017-10-26 18:29] Skadi2k3 commented on #2166
@alekseyg But your gist is using elem.play() which you shouldn't use if you want to test the default browser behavior when hitting a video element with autoplay attribute. Now it is a test for autoplay OR can i inject and/or start a video without user interaction using JS. Removing display:none gets rid of the reluctance to start/download videos that can be excluded from rendering/downloading.

[2017-10-26 18:35] alekseyg commented on #2166
@Skadi2k3 Ah, I see. Generally, browsers that block autoplay, block both behaviors, so the test tends to work, and because I want to know which to load beforehand, I do end up injecting the video or slideshow based on the result, so the method works best for my purpose. If a browser blocks autoplay and you just wish to use it as a dynamic background or whatnot, what's the point of downloading the

[2017-10-26 18:58] Skadi2k3 commented on #2166
@alekseyg Well no need to argue here, when it comes down to testing it on a multitude of devices anyway :)

[2017-10-26 20:52] alekseyg commented on #2166
@Skadi2k3 I don't think we're arguing here at all; just discussing different approaches for different use cases. :)

[2017-10-27 08:41] gillez opened #2259 "Text-overflow ellipsis tooltip detection"
There is a discussion in #188 concerning detection of ellipsis feature detection, which I think was added.

However, if the text is truncated, Safari provides a tooltip with the full text.  No other browser does this automatically so I am providing this functionality myself through mouse-enter events.  This works, however, on Safari both the automatic tooltip and my tooltip are being shown.  There

[2017-10-31 02:50] Zygar opened #2260 "usage of display:flex on body triggers false negative on csstransforms3d in Webkit"
Heya!

I just discovered a super weird bug in 3.5.0 where the test for csstransforms3d returns a false negative in Webkit-based browsers if body is set to display:flex, and the text contents of the body exceed 205 characters.

Replicated on Chrome 61.0.3163.100 and Safari 10.1.2 (12603.3.8). Not present on Gecko.

Check [Codepen for isolated, replicable case.](https://codepen.io/anon/pen/RjPbNW?ed

[2017-10-31 08:25] lolmaus opened #2261 "hyphens test uses invalid CSS property"
On these two lines `text-justification:newspaper` is used:

https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/hyphens.js#L61
https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/hyphens.js#L67

But there's no such property.

Should probably be [text-justify](https://developer.mozilla.org/en-US/docs/Web/CSS/text-justify) but I dunno if such change is safe for

[2017-10-31 16:47] chris-corby opened #2262 "False positive for object-fit in Edge 16"
Edge 16 does support object-fit for images, but not videos. See: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/13603873/#comment-0

It now passes the Modernizr object-fit test, but this is no good if you are using object-fit for videos.

Is it possible to return false for videos only, or otherwise fail if object-fit isn't totally supported?

[2017-11-06 09:59] zhanziyang commented on #1663
@patrickkettner Are you still traveling?
Just kidding. `"classPrefix"` doesn't work either. Please fix it, thank you!

[2017-11-06 17:37] patrickkettner commented on #1663
yes, I am.

PRs are welcomed.

On Mon, Nov 6, 2017 at 1:59 AM, Chris Chan <notifications@github.com> wrote:

--
patrick

[2017-11-07 09:36] Colir commented on #1095
For IOS don't forget to add "playsinline" attribute to the video tag with @paulorely solution.

[2017-11-07 14:12] ehsankhfr commented on #1597
Please check the `modernizr-loader` for webpack.

[2017-11-08 13:04] kressly opened #2263 "Correction (Pull request to avoid type error)"
To avoid type error when using this with other libraries change

[code]

to

[code]

[Check Stackoverflow's link](https://stackoverflow.com/questions/47123639/how-to-solve-typeerror-iterator-is-not-a-function-with-prototypejs-when-jquery-i/47130870#47130870)

[2017-11-15 16:39] herschel666 commented on #1095
The test checking for the `play`-function to return a `Promise` gives a false positive on iOS. To get a valid result the resolving/rejection has to be checked, too.

[code]

[2017-11-19 01:44] kmxz opened #2265 "csstransforms3d test false negative on Firefox when page is loaded via XSLT"
Minimal working example:

[code]

[code]

On Chrome, when opening `demo.xml`, it alerts "Result: true", which is expected.

On Firefox, when opening `demo.xml`, it alerts "Result: false", which is a false negative. I've tested with Firefox 52 on Linux and Firefox 57 on Windows, both fires a false negative.

All other feature tests works well on both browsers when page is loaded via XSLT.

[2017-11-19 01:48] kmxz commented on #2265
A possible fix is to change
https://github.com/Modernizr/Modernizr/blob/d5f881a4de0d5fc1af85921ce9c7dc3919c6d335/feature-detects/css/transforms3d.js#L39

from `elem.offsetWidth === 7 && elem.offsetHeight === 18` to `getComputedStyle(elem).width === '7px' && getComputedStyle(elem).height === '18px'`, which surprisingly fixes the bug and kept the original idea.

[2017-11-22 10:18] gillez commented on #2259
Hi, do you have a comment on this please?

Thanks,
Giles

[2017-11-22 10:22] gillez opened #2268 "Is this github issues page still monitored?"
Hi, is this list still being monitored by anyone involved in Modernizr development?  I see that no-one has replied to any issues raised since early October.

[2017-11-24 09:36] leendertvb commented on #1095
@paulorely How can your code be only 4 lines and the current Modernizr approach (v3.5.0) is about 11KB of code to do the same? I see the Modernizr script has included 2 actual videos in the code, but without that, it is still pretty long compared to your code.

How reliable is your code? Can I safely use yours in a production website?

Thanks!

[2017-11-27 16:34] OliverJAsh opened #2270 "CSS feature detection request: `:focus-within` pseudo selector"
Would it be possible to add a feature detection for the new `:focus-within` pseudo selector?

[2017-11-29 01:52] MissAnichka commented on #171
We came across this issue as well so would like to leave a comment in case others out there are having the same issue as well. Try setting the value of the element to undefined! It worked for us:
`function clearInput(e, type) {
  e.preventDefault()
  let url = document.getElementById(`settings-${type}list-section-form-url`);
  let hrs = document.getElementById(`settings-${type}list-section-form-hr

[2017-12-03 03:20] ADTC commented on #2039
Hi, I'm getting this error in Modernizr 2.8.3 but I can't seem to find the problem. (I thought I'd just replace `http://` with `//` (relative protocol).) It appears to be the [lines 457-459 in the source code for v2.8.3](https://github.com/Modernizr/Modernizr/blob/v2.8.3/modernizr.js#L457). I went through everything in my project and I couldn't find any reference to the `woff` file it's trying to

[2017-12-03 11:29] Skadi2k3 commented on #2039
I can't replicate your error. Have you updated https://beta.molinosph.com/product/42 ?

[2017-12-03 11:42] ADTC commented on #2039
I have some updates **but I didn't change anything as far as Modernizr is concerned.**

_Weird, I don't get the error anymore in Firefox Inspect. Must have been an intermittent issue. Thank you guys for your attempts to replicate._

[2017-12-03 12:16] ADTC commented on #2039
@Skadi2k3 appreciate if you can remove the URL from your comment. Thanks. **You can say "Have you updated your site?"**

[2017-12-03 12:43] smth opened #2271 "IE 11 should fail SVG support?"
Am I right in thinking there is no way to test whether the browser correctly sizes SVGs? Namely that IE11 will mess up the aspect ratio, if only one dimension has a size (https://thatemil.com/blog/2015/03/15/sizing-svg-background-images-in-internet-explorer/).

Should either IE 11 fail the SVG test, or, there be some sort of SVG sizing test?

[2017-12-05 13:02] rubenswieringa commented on #2087
Hey @patrickkettner, anything yet?

[2017-12-12 13:59] bluzi opened #2272 "'probablySupportsContext' in WebGL support test"
Hello,

in [webgl.js](https://github.com/Modernizr/Modernizr/blob/5eea7e2a213edc9e83a47b6414d0250468d83471/feature-detects/webgl.js) you're testing if `webgl` and `experimental-webgl` are supported using a method called `probablySupportsContext` (and `supportsContext` as a fallback), but it seems like these methods are not available in Chrome (not even in Chrome Canary)

I also checked [MDN](https

[2017-12-13 12:41] paulorely commented on #1095
I have extended the test in order to check for muted and unmuted video autoplay support. Interestingly, if you combine `video` and `audio` autoplay tests, you get reliable results (as far as I've tested).

[code]

Usage:
[code]

Live test: https://codepen.io/paulorely/pen/Wdboem

[2017-12-14 23:40] cavemon commented on #1095
@paulorely thank you for this.  This seems to work well, although I am getting a console error in Desktop Safari:

`Unhandled Promise Rejection: NotAllowedError (DOM Exception 35): The request is not allowed by the user agent or the platform in the current context, possibly because the user denied permission.`

Is there someone to get rid of this error?

[2017-12-22 11:32] ghatwala opened #2273 "Updating the dependency package (phantomjs) version"
Hi All,

I was trying to build this package and whilst installing the dependencies  , it was giving me below errors.

Environment Details
[code]
Install project dependencies with npm install which is failing
[code]
Now as i already have a version of phantomjs binary(2.1.1) in my PATH , the errors seems to be coming as this package requires older version of the phantomjs which is not supported for

[2018-01-03 08:34] ghatwala commented on #2273
Hi All,

Just an update ..
Having a phantomjs ( v2.1.1) already installed in my PATH ( for my arch -ppc64le ) was able to install all the dependencies successfully . Had to just additional options to "npm install" for peer dependencies installation.

command used was

[code]
Below the diff of the "package.json" file.
[code]

[2018-01-03 08:34] #2273 closed

[2018-01-04 15:19] tlenex opened #2275 "502 Bad Gateway on modernizr.com"
https://modernizr.com is down currently. Any info when the issue might be resolved?

[2018-01-04 19:37] drinkops commented on #2275
As of 7:35:41 PM GMT Thursday 4th January 2018 also getting 502 error.

[2018-01-04 21:12] patrickkettner commented on #2275
this has been fixed, thanks for the report!

[2018-01-05 05:44] patrickkettner commented on #2272
Hey @bluzi!
A living standard is essentially just the latest, most up to date version of the standard. I don't have any insight to when they may be added to chrome. If you are interested in it, I'd suggest opening a bug (after checking to make sure one doesn't already exist) on crbug.com

[2018-01-05 05:44] #2272 closed

[2018-01-06 22:21] scsskid opened #2276 "Website: wrong label for web animations"
On website: 'animation'
But it's 'webanimations'

[2018-01-09 19:53] ryanpcmcquen commented on #1684
What keeps you from just doing this?
[code]
It looks like all are checked by default now though.

[2018-01-10 06:19] nicewahson commented on #1684
complex

[2018-01-11 09:30] ghatwala opened #2277 "mocha:test fails"
Hi All,

Getting test case failures on below test

[code]
Also tried to run test/unit.html using phantomjs , it hung at below

[code]
Also for test/index.html
[code]
Any pointers to help resolve the above errors.

[2018-01-11 12:11] rejas opened #2278 "State of the project?"
Hi guys and girls,
love modernizr and how useful it is, but I guess not only I am wondering if this project still gets maintained? When people from the community close their own PR because they get no reaction in half a year (see https://github.com/Modernizr/Modernizr/pull/2229#issuecomment-356705934) something has to be done I guess.
Do you need help, new maintainer, people to review etc? In what

[2018-01-12 01:50] ryanseddon commented on #2278
Yes I'm definitely guilty of having no time to work on this.

We need all of this, any help to get this going again would be forever appreciated.

@patrickkettner do you have any input on this.

[2018-01-12 01:52] ryanseddon commented on #2278
I guess my first ask would be triaging the build up of issues and pull requests and seeing what needs to be done, updated or closed. This way we can have an overview on where we stand.

[2018-01-12 09:47] patrickkettner commented on #2278
Basically I had a kid and got a new job, and haven't had the chance to sit down and go through it all.

but the first step would be triaging open bugs, as @ryanseddon mentioned

[2018-01-12 13:59] eligrey commented on #963
Read https://github.com/eligrey/hotlink.js/blob/master/hotlink.js#L144-L160 and https://github.com/eligrey/hotlink.js/blob/master/hotlink.js#L108-L120 to see how I implemented detection for this.

[2018-01-13 09:36] rejas commented on #2268
See my question and the developers answer in https://github.com/Modernizr/Modernizr/issues/2278 Do you want to help?

[2018-01-13 09:40] rejas commented on #2255
Of course, either download the release directly from this github page (https://github.com/Modernizr/Modernizr/releases/tag/v2.8.0) or specify it in your projects package.json like this

   ` "modernizr": "2.8.0"`

in the dependencies section. Or is that not what you meant?

[2018-01-13 09:42] rejas commented on #2241
Has anyone maybe a PullRequest ready for this that the developers can look at?

[2018-01-13 09:44] rejas commented on #2232
Especially in light of https://github.com/Modernizr/Modernizr/issues/2278 I would find some guidelines on how to support you guys (besides commenting on issues) helpful :-)

[2018-01-13 09:45] rejas commented on #2165
Hi @BobbyBabes maybe you can submit a PR to help the developers?

[2018-01-13 09:48] rejas commented on #2278
@patrickkettner first of all: congrats to the kid, hope it comes bugfree in v1 :-)

as for helping triaging: i can only ask in the issues for more infos but closing is of course not yet in my power (as is adding labels). Issue #2232 would be something though you guys should answer: how can we contribute exactly, what procedure does a issue/bugfix/pr has to adhere to?

[2018-01-13 10:25] BobbyBabes commented on #2165
I'm not using Gulp and Modernizr anymore.

At the time I "fixed" the issue by skipping injection of the Modernizr license by my Gulp script. Because it only contains that one line with the wrong/static version number, and not the actual license text.

[2018-01-13 11:15] #2241 closed

[2018-01-13 11:16] patrickkettner commented on #2268
Thanks for replying, @rejas.

[2018-01-13 11:16] #2268 closed

[2018-01-13 11:17] patrickkettner commented on #2255
@ridoansaleh we no longer host modernizr 2.X on modernizr.com, however you can follow @rejas' instructions to get the file yourself. It is also available on various public CDNs, like [cdnjs](https://cdnjs.com/libraries/modernizr)

[2018-01-13 11:17] #2255 closed

[2018-01-15 01:41] ridoansaleh commented on #2255
@rejas .. thanks for your info. That was  what i meant.

[2018-01-17 06:40] ghatwala commented on #2277
@admin - any updates/comments on the above test case failures  ?

[2018-01-19 07:21] rozek opened #2280 "some tests crash when run within an iframe"
Hello,

I just ran across two problems, where Modernizr tests crashed when run within an iframe. The fixes are trivial, how can I contribute them? Do you have an "official workflow"? (e.g., create new branch from master, fix in that branch, issue pull request - but who will then review that request and finally merge?)

Thanks in advance for any help!

With greetings from Germany,

Andreas Rozek

[2018-01-19 07:23] patrickkettner commented on #2280
Preform the PR as your mentioned and I will review and merge

On Jan 18, 2018 11:21 PM, "Andreas Rozek" <notifications@github.com> wrote:

[2018-01-19 08:04] rozek commented on #2280
Perfect, thank you!

[2018-01-19 08:30] rozek commented on #2280
Sorry for bothering you but...

...I do not seem to have the permission to create a new branch from master or publish a branch I created in my clone of your repository. Am I missing s.th.?

[2018-01-19 11:30] patrickkettner commented on #2280
Please push to a fork of the repo

On Jan 19, 2018 12:30 AM, "Andreas Rozek" <notifications@github.com> wrote:

[2018-01-19 12:12] rozek commented on #2280
Thanks for the hint, using forks rather than branches was new for me, sorry.

I did as instructed and started the PR - if you have any complaints, don't hesitate to contact me (it's my very first contribution to a GitHub project)

[2018-01-22 10:12] 450b opened #2282 "Object-fit check not working"
I wrote a fallback for object-fit in IE which is working, except the fallback is applied to all browsers.

So I wrote a simple check that logs if object-fit is supported in the current browser, I get the `object-fit not supported` log, in all browsers, not just in IE.

My code:

[code]

The above code logs `object fit is not supported` in all browsers.

[2018-01-22 14:24] sagudev opened #2283 "Dist"
https://github.com/cdnjs/cdnjs/issues/12402

Is there any full dist version of modenizr?

[2018-01-22 14:26] patrickkettner commented on #2283
No, as it would be over a megabyte and no site needs a majority of the feature detects. Having a custom build that are just the features you need will make up for nearly any advantage given by loading the bloated version from cdn

[2018-01-22 14:26] #2283 closed

[2018-01-30 05:19] ajhsu opened #2284 "Website certificate expired"
I think the certificate of letsencrypt for https://modernizr.com/ just expired few minutes ago.

![osx 2018-01-30 at 1 15 19 pm](https://user-images.githubusercontent.com/7029623/35549423-7dd1718a-05c0-11e8-9281-b0d104603865.png)

[2018-01-30 05:25] patrickkettner commented on #2284
updated! let me know if you are still hitting any issues

[2018-01-30 05:25] #2284 closed

[2018-01-30 05:34] ajhsu commented on #2284
@patrickkettner It works now, thanks for lightning fast renewing!

[2018-01-30 17:39] rejas commented on #2282
Does Modernizr add the no-objectfit no-object-fit tags to your html class also?

[2018-01-31 10:12] jonascarlbaum opened #2285 "cssvwunit detect fails on FF <= 56 (tested on 53+)"
[code]

Tested when `window.innerWidth == 1922` so `width == 961` and `compStyle == 952`.

I guess the test don't need to be such accurate? There is `19px` in difference, sounds almost like the scrollbar or something?

Since **FF** according to **caniuse** had support for `vw` since **version 19** (since 2013), this test would return `true` in these browsers, right?

[2018-01-31 10:26] jonascarlbaum commented on #2285
For now I did a local fix.

[code]

I don't know if this is considered a good or bad solution!?

[2018-01-31 14:42] OliverJAsh commented on #2270
I'd be happy to take a stab at this. I guess we want it to look something like https://github.com/Modernizr/Modernizr/blob/e6aafdec12f7cb7dba7a5033a54ac30ada91c927/feature-detects/css/checked.js?

We'd have to focus the element to see if it receives the style or not, though. Would that cause any issues?

[2018-01-31 22:57] patrickkettner commented on #2270
hey @OliverJAsh!
Yep, that is how you would reliably detect support. Changing focus is a nightmare, however. You would want to cache document.activeElement and reapply focus() after the fact.

[2018-02-01 11:40] OliverJAsh commented on #2270
Oh, neat!

If I was to raise a PR and add a test for this, how would I test the Modernizr test locally? Is there a testing framework I can use? Are the Modernizr tests tested at build time? I couldn't find any docs on this.

[2018-02-01 13:38] jsBrian opened #2286 "siblinggeneral-check gives false negatives"
The siblinggeneral-check seems to return a false negative for every browser I tested it on (latest Chrome, FF, Edge etc).

In the test, it checks if `elem.lastChild.offsetWidth == 200;`, but this lastChild is a style-element, so `elem.lastChild.offsetWidth` returns 0.

[2018-02-01 14:19] patrickkettner commented on #2270
add the file to the feature-detects folder, and then run `grunt test`. The results of the test are checked against caniuse data, so make sure to include [it](https://caniuse.com/#search=focus-within) in the metadata header.

the repo uses mocha, however the tests will be run at PR time, so by all means feel free to let travis to the work

[2018-02-05 11:25] OliverJAsh commented on #2270
https://github.com/Modernizr/Modernizr/pull/2287

[2018-02-07 23:46] GammaNu opened #2288 "Social link icons for Diaspora* & Mastodon"
Right now there is many many icons for many social media, but none for these free media :
- Diaspora* https://wiki.diasporafoundation.org/images/6/62/Diaspora-asterisk-large.png
- Mastodon https://upload.wikimedia.org/wikipedia/commons/4/48/Mastodon_Logotype_(Simple).svg

Can you do something for it soon ?

[2018-02-07 23:50] GammaNu commented on #2288
Modernizr include a social panel shortcut in footer. you can add your social media link via WP customize UI, but there is some missing icons

[2018-02-07 23:52] patrickkettner commented on #2288
are you suggesting to add links to something on modernizr.com's footer? If so, to what?

[2018-02-07 23:54] GammaNu commented on #2288
ok, i've got it... i'm not on the good repository... i'm about a wordpress theme named modernizr...

[2018-02-07 23:54] #2288 closed

[2018-02-08 00:08] GammaNu commented on #2288
I was thinking it was free software and try to improve it, but it's a commercial product with a free demo using the same name as you :/

https://presscustomizr.com/customizr/

[2018-02-08 21:10] rejas opened #2289 "Autogenerate info for license file"
Suggestion from https://github.com/Modernizr/Modernizr/pull/2279#issuecomment-361659536

Instead of manually adding the version info to the license file it should be somehow generated automatically.

[2018-02-08 23:01] #2270 closed

[2018-02-12 16:53] fgrs opened #2290 "no-flexbox not showing for IE9"
it works in IE8 and IE10 but not in IE9 any idea why?

[2018-02-13 09:37] fredrikekelund opened #2292 "Feature detect request: text-decoration-skip-ink"
Even though the W3C standard for Text Decoration Module Level 4 ([link](https://drafts.csswg.org/css-text-decor-4/)) is currently only an editor's draft, Chrome recently implemented `text-decoration-skip-ink` ([ref](https://www.chromestatus.com/features/5631679087509504)) and Safari has `text-decoration-skip`.

The web developer community are using our own hack-ish solution to implement the same b

[2018-02-14 14:14] MaartenUb opened #2293 "Bower install omits setclasses on custom build."
I installed a custom build via bower install:

`bower install https://modernizr.com/download?cssgrid_cssgridlegacy-setclasses.zip`

This creates a modernizr.custom.js, this file however does not contain the setclasses part:

`/*! modernizr 3.5.0 (Custom Build) | MIT *
 * https://modernizr.com/download/?-cssgrid_cssgridlegacy !*/
!function(e,n,t){function r(e,n){return typeof e===n}function o(){var

[2018-02-14 15:46] rejas commented on #2278
@patrickkettner @ryanseddon I am still wondering on how to proceed with reagrds to contributing. Should I make a list of PR that I deem worthy for a bugfix release?

[2018-02-15 03:58] ryanseddon commented on #2278
Yeah that makes sense, if you're keen and want to put in the work then I don't see why we couldn't make you a contributor to give you more control. @patrickkettner thoughts?

[2018-02-15 17:04] jesserosenfield commented on #1805
Would be great to fix this issue

[2018-02-16 14:36] rejas opened #2295 "Bugfix release proposal"
Hi, as promised here are my ideas on what could go into a bugfi release.

Taking "focus-within" as a precedent I also included some
**new tests**:
Add Font Display detection #2256
Add test for CSS custom properties. #2244 (for this i would add the reworked code from #2229 afterwards)

**Discussed extensivly**:
Use `roundedEquals` to test vw and vh units #2264
Brought across @myakura's code changes

[2018-02-16 14:36] rejas commented on #2278
add my ideas in #2295

[2018-02-21 20:14] liuhelen10 opened #2296 "Bug: "Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules""
## Problem
We are using the build [generated with these options](https://modernizr.com/download/?applicationcache-audio-backgroundsize-borderimage-borderradius-boxshadow-canvas-canvastext-cookies-cssanimations-csscolumns-cssgradients-cssreflections-csstransforms-csstransforms3d-csstransitions-filereader-flexbox-flexboxlegacy-fontface-generatedcontent-geolocation-hashchange-history-hsla-indexeddb-i

[2018-02-22 08:42] Ballrock commented on #1836
Hey, got the same problem.
When body.fake = undefined, head and body don't switch back their positions.

In my test, the problem seems to occur when modernizr is include at the bottom of body instead of being include in head.
Body is already render so getBody() return real body and body.fake = undefined.

Looks like a side effect and i dont think it was intended

[2018-02-26 14:02] #1726 closed

[2018-02-28 01:30] gmathis commented on #1095
This test gives a false positive for muted video autoplay when all autoplay is prohibited by the browser (e.g. Safari's "Never Auto-Play" setting).
It assumes that browsers that return a `Promise` from `play()` always allow muted video to autoplay.

Unfortunately, I think it's probably necessary to include actual video data (and ensure visible in viewport / `playsinline`), and listen for promise r

[2018-03-05 01:58] #1569 closed

[2018-03-05 01:59] #1812 closed

[2018-03-05 02:00] patrickkettner commented on #2295
Thanks a bunch. Added comments to relative links, and will release shortly

[2018-03-05 02:00] #2295 closed

[2018-03-05 11:46] rejas commented on #2295
Thx a lot @patrickkettner. Cant check the release out though, literally 1 hour away from boarding my holiday flight :-) back in two weeks to clean up and see whats next for modernizr :-)

[2018-03-06 18:02] Giovanni-Mattucci opened #2297 "Feature request: <link rel="preload" /> feature detection"
It would be great if there was feature detection for `rel=preload` on `<link>` elements.

Preload isn't supported in IE11 and Edge for now, and I'd like to provide a fallback to those browsers.

I've run into issues, where [the onload javascript handler on the `<link>` doesn't fire if `rel=preload` is set](https://stackoverflow.com/questions/49136399/onload-on-link-element-event-doesnt-fire-on-ie1

[2018-03-06 21:55] roblarsen commented on #2297
https://github.com/w3c/preload/issues/7

[2018-03-07 15:28] #2297 closed

[2018-03-07 15:32] Giovanni-Mattucci commented on #2297
I ended up utilizing the `supports` API through [Yoav Weiss's article](https://www.smashingmagazine.com/2016/02/preload-what-is-it-good-for/) detection code:
[code]
[preload_feature_detection.js gist](https://gist.github.com/yoavweiss/b1f798bb2be4e671107b#file-preload_feature_detection-js)

[2018-03-08 09:08] g-borgulya commented on #1623
I understand now that this is "AS DESIGNED" but I think that doesn't necessarily mean that this design is a good idea. People manage their projects with npm, automate their builds and environments with docker and other useful tools. If this project doesn't follow the logic of these modern tools then it's likely that it is simply not worth using Modernizr for modern projects.

I'm not deeply unders

[2018-03-08 09:11] patrickkettner commented on #1623
PRs are welcomed

[2018-03-12 16:10] mhadam opened #2298 "Passive event listener detection causes error for EdgeHTML 15"
This is handled under: https://github.com/rafrex/detect-passive-events/pull/3

[2018-03-14 10:12] sooth-sayer commented on #2251
Apparently, Safari 11 starts autoplayback only if video element is visible on the client area. So, if the video element style contains 'display: none' or 'height == 0' or 'width == 0' safari does not start it

[2018-03-15 10:16] annevk opened #2300 "probablySupportsContext is removed from HTML and not implemented"
It seems you can remove this from https://github.com/Modernizr/Modernizr/blob/master/feature-detects/webgl.js as it's not being run.

Source: https://github.com/whatwg/html/issues/3572.

[2018-03-15 10:19] bluzi commented on #2272
@patrickkettner

fyi: i checked with whatwg (the ones who maintain living standard), and it looks like `porbablySupportsContext` has been removed from the standard and won't ever be supported.

https://github.com/whatwg/html/issues/3572

[2018-03-15 12:38] kalitine opened #2301 "Modernizr.indexeddbblob is undefined"
Tested with the following configurations:

[code]
and
[code]
**Current behaviour**
In Chrome and Firefox:
[code]

**Expected behaviour**
[code]

or
[code]

If it's asynchronous, then using Promise would be nice.

[2018-03-15 21:50] jDrysdale commented on #1797
I know this issue is 2yrs old, but I ran into it today myself.

The .cssfilters feature detection in Modernizr gives a false positive in Edge 16 because Edge only partially supports css filters. In my case, I'm using [this duotone image / CSS Filter technique](https://css-tricks.com/using-svg-to-create-a-duotone-image-effect/), which requires `filter: url();`.

According to [caniuse](https://caniu

[2018-03-18 20:39] ham2qur commented on #2296
https://github.com/odoo/odoo/pull/22603/commits/33349ed34e45b7e06281c5947645c38b3b29e8b6

[2018-03-19 18:08] jescalan commented on #2296
I have also been consistently seeing this error, would be great to get a fix going! Would a PR directly to this repo help?

[2018-03-21 14:05] matte00 commented on #548
@jiji262
`       let supportsTouch = false;
        if ('ontouchstart' in window) // iOS & android
            supportsTouch = true;
        else if (window.navigator.msPointerEnabled) // Win8
            supportsTouch = true;
        else if ('ontouchstart' in document.documentElement) // Controversal way to check touch support
            supportsTouch = true;

        if (supportsTouch) {

[2018-03-21 14:17] roblarsen commented on #548
[EVERYTHING YOU (N)EVER WANTED TO KNOW ABOUT TOUCH AND POINTER EVENTS](https://patrickhlauke.github.io/getting-touchy-presentation/)

[2018-03-21 14:31] rejas commented on #2295
@patrickkettner so, back in action. just wondering why the package.json still says 3.5.0 and why the website isnt updated? can I help there somehow too?

[2018-03-24 20:18] stordoff opened #2303 "Beacon API breaks build"
Calling Modernizr via:
`<script src="js/vendor/modernizr-3.6.0.custom.min.js"></script>`

When Modernizr is built using `https://modernizr.com/download/?-beacon-localstorage-video-webp-addtest-setclasses-shiv`, Modernizr fails to load with the following issue:

Adjusting to `https://modernizr.com/download/?-localstorage-video-webp-addtest-setclasses-shiv` (i.e. removing the Beacon API) works fine.

[2018-03-27 14:10] handyaner commented on #1095
@sarukuku i tested your code https://jsbin.com/rabadaloge/1/edit?html,js,console,output
But it doesn't autoplay on an android with chrome 65.

[2018-03-27 14:25] sarukuku commented on #1095
@handyaner yep, there are still issues with the test that does not involve playing an actual video file. I've had this on my todo list for about a year now but haven't yet found time to look at it properly again. I'll probably focus on this when I need it next myself. So feel free to improve on others work in this thread 😄

[2018-04-09 07:13] alex-page commented on #1797
@jDrysdale Great points, I also noticed this in Safari doing the exact same thing.

[2018-04-10 21:59] benseven opened #2305 "Feature detect request: Web App Manifest (PWA Support)"
Looking to be able to combine feature detection for service workers — already in Modernizr — with a test for whether the browser supports / cares about the [Web App Manifest](https://w3c.github.io/manifest/), so as to progressively disclose the existence of PWA features to the user.

Example: A user on the 'my account' page of a membership portal who is on iOS 11.3 or later sees a promotion block

[2018-04-11 07:01] alex-page commented on #606
I also came across this issue in safari. I found a bug with adding svg filters from external files `filter: url( "filters.svg#deuteranopia" );`

For more information you can look here: https://github.com/alex-page/bug-safari-svg

[2018-04-11 08:51] odysseuscm opened #2306 "Feature detect request: css variables"
Hi,

detection of support for CSS variables would be nice. You can detect them like this:
(window.CSS && window.CSS.supports && window.CSS.supports('--fake-var', "0")

Thanks
Christopher

Update: Just found out the above method doesn't work on Safari (iOS) :-(

[2018-04-11 09:15] benseven commented on #2305
Thanks for the help!

I've started a *Codepen tracking my aims and tests*
<https://codepen.io/benseven/pen/mxoJYa/> - unfortunately as you'll see
from the results there, *testing this pen*
<https://codepen.io/benseven/pen/xWBPxP> based on your suggestion resulted
in a false negative from Safari on iOS 11.3 - according to this tweet from
a Safari engineer <https://twitter.com/rmondello/status/95625

[2018-04-11 09:17] benseven commented on #2305
Thanks for the help!

I've started a [Codepen tracking my aims and tests](https://codepen.io/benseven/pen/mxoJYa/) - unfortunately as you'll see from the results there, [testing this pen](https://codepen.io/benseven/pen/xWBPxP) based on your suggestion resulted
in a false negative from Safari on iOS 11.3 - according to [this tweet from
a Safari engineer](https://twitter.com/rmondello/status/956256

[2018-04-11 10:28] NOtherDev commented on #2305
This is problematic to use `BeforeInstallPromptEvent` as the only check. Lack of existence of such does not indicate the lack of "add to home screen" support nor lack of Web Manifest support.

Technically, to detect **just** the manifest support in any form (including the most basic ones), one should check if `<link>` tag supports the `rel="manifest"` value.

See the whole discussion here: https:/

[2018-04-19 17:24] johan commented on #210
These days, there's about three levels of input events support: I guess the initial `oninput` this probably is about (input events that don't have an `inputType` property) that Firefox supports might be called InputEvents 0, and then there's the latter type specified by the W3C specs [InputEvents Level 1](https://www.w3.org/TR/input-events-1/) and  [InputEvents Level 2](https://www.w3.org/TR/input

[2018-04-23 09:28] nseidel opened #2307 "'datachannel'-feature is giving a false-negative on iOS 11.3"
We've already tested Web-RTC on iPads with iOS 11.3 and all features were supported, including datachannel. Still, when I check with Modernizr, I get a false result. Any help would be appreciated. See also:
[my question at stack overflow](https://stackoverflow.com/questions/49315459/modernizr-datachannel-feature-with-ios)

[2018-04-24 10:04] rejas commented on #2295
@patrickkettner aou are probably busy with family but is there no other person active here anymore?

[2018-04-24 10:04] rejas commented on #2278
@ryanseddon I am still hoping this project isnt dead..

[2018-04-24 10:05] patrickkettner commented on #2295
@rejas sorry about that. i'll try to update this afternoon

[2018-04-29 16:42] Reechee88 commented on #2296
i am still faceing the problem

[2018-04-30 06:44] patrickkettner commented on #2296
There really isn't a way to fix this in chrome, outside of you shipping your code on the same domain as the css. That being said, you should almost certainly not be using `@​font-face` detection.

![image](https://user-images.githubusercontent.com/465414/39417113-0192ea80-4c07-11e8-8b2c-49529df3dab3.png)

The best course of action if you are finding this bug is the not use that detect. If you _do_

[2018-04-30 06:44] #2296 closed

[2018-05-03 05:59] HipsterZipster commented on #2297
Note all to all who read this. @Giovanni-Mattucci code snippet returns unsupported for Firefox versions  Firefox v59+ even though they do actually support `preload`.

[2018-05-03 10:42] rejas opened #2311 "Bugfix release proposal v2"
Following up my proposal in https://github.com/Modernizr/Modernizr/issues/2295 I recommend the next merges @patrickkettner. Also a release in npm would be nice but tell me if you need help in any way for that ;-)

**new tests**:
Add test for CSS custom properties. #2310

**bugfixes**:
Passive event listener detection causes error for EdgeHTML 15 #2299

**cleanups**
Update eslint #2304
Spelling #22

[2018-05-03 10:44] rejas commented on #2306
There is already a PR for this, I hope to get it included soon: https://github.com/Modernizr/Modernizr/pull/2310
Could you check if it works on your Safari (iOS)?

[2018-05-03 11:17] odysseuscm commented on #2306
I tested on iOS 11.3 (Safari), Android 8 (Chrome and Firefox), Windows 10 (Edge, IE 11, Firefox 59, Chrome 66) and Windows 7 (IE 9, 10, Firefox 3, 28, ESR) and Windows Phone (IE 11) and the results always were as expected. Good work!

Best

Christopher

Von: Veeck <notifications@github.com>
Gesendet: Donnerstag, 3. Mai 2018 12:45
An: Modernizr/Modernizr <Modernizr@noreply.github.com>
Cc: Christoph

[2018-05-03 19:40] patrickkettner commented on #1861
It's a feature, but the es6 rewrite would need to land first

[2018-05-03 19:53] ogonkov commented on #1861
@patrickkettner it is in progress?

[2018-05-03 19:56] patrickkettner commented on #1861
there is a long dormant branch, but most of the rewrite can be down with a
codemod. The real issue is how to get the builders working es6 modules for
browsers/node versions that don't support it. The existing branch does
regex and string manipulation to get it working, but a web version hasn't
been created

On Thu, May 3, 2018 at 12:53 PM, Alexey <notifications@github.com> wrote:

--
patrick

[2018-05-03 19:59] ogonkov commented on #1861
@patrickkettner why not migrate to webpack or something similar?

[2018-05-03 20:05] Giovanni-Mattucci commented on #2297
@HipsterZipster looked into it and found [the ticket for adding preload functionality in firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1222633#c130). It seems that the preload flag is disabled in Firefox?

Go to `about:config` and search for `network.preload` and it is false. If I set `network.preload` manually to `true` then it will evaluate supports preload correctly.

[2018-05-03 20:13] patrickkettner commented on #1861
the rewrite is what would allow us to move to that in a way that is performant. Many of the modules have cross dependencies, and splitting them into individual detects would be a net loss as it would not be able to properly dedupe between them. Lodash individual modules tried to do this, and they are deprecated and won't be updated after v5 for the same reason.

[2018-05-07 10:10] tlenex commented on #2220
I finally resolved this issue.

Our team moved away from URL dependency without SEMVER notation, in this case `https://modernizr.com/download?setclasses-flash` and used `modernizr-loader` with `webpack`. There are also equivalents for `gulp` and `grunt` tools available on npm, pick and use one you like the most.

After using them, we finally get rid of returning `EINTEGRITY` npm error without nuki

[2018-05-07 10:10] #2220 closed

[2018-05-08 18:14] past commented on #2311
Can we get #2309 in a new release as well? We would like to talk to sites about updating for that fix.

[2018-05-08 18:52] rejas commented on #2295
still no version update :-( @patrickkettner

[2018-05-08 18:53] rejas commented on #2311
the good news @past : since #2309 is already merged it would be included too.
the bad news : god knows when @patrickkettner kid lets him find the time for it as he is the only one still somehow active. for the rest of the team: who knows...

[2018-05-09 13:01] hobbesuk opened #2313 "Vulnerability with lodash"
Hi,

Are you aware of the vulnerability that SNYK shows for modernizr on the current version? https://snyk.io/test/npm/modernizr/3.6.0?severity=high&severity=medium&severity=low are there any plans to update the version of lodash being used?

Thanks

[2018-05-10 05:51] patrickkettner commented on #2313
yep! the couple of places we use lodash are not affected by this vuln, so it hasn't been a high priority for me to upgrade to v4. PRs are welcomed!

[2018-05-11 16:52] bastien-roucaries opened #2314 "Please require html5shiv instead of copy past"
Hi,

From a debian point of view it will be better to require even using node-extend of something like this, than to copy paste html5shiv.

It will avoid code duplication and improve security

Bastien rouca@debian.org

[2018-05-14 08:28] rejas commented on #2306
PR https://github.com/Modernizr/Modernizr/pull/2310 got merged, I hope it gets release soon so that you can close this issue

[2018-05-14 08:40] odysseuscm commented on #2306
Great, thanks!

[2018-05-14 09:25] rejas commented on #2314
Could you elaborate more on this (what doesnt go well with this and debian?) and are you interested in/capable of creating a PR for this?

[2018-05-18 04:18] #605 closed, assigned to paulirish

[2018-05-21 19:16] jmdiego opened #2316 "EINTEGRITY for custom url packages"
I have a private package installed using a url, npm install is always throwing me EINTEGRITY, where is the integrity check getting the checksum from? since it's a private package it doesn't make sense to get this error, there is no source for an "original" checksum but the same url it's getting it from, so, how can that be different?

I tried doing:
- npm cache verify
- prevent from lock file crea

[2018-05-22 07:45] rejas commented on #2278
@ryanseddon @patrickkettner @doctyper  as you three are the only responding to my requests since I started my interest in the Modernizr ecosystem could we finally have a discussion how you envision the future of this Modernizr-org here on github?
- Yes, Modernizr isnt as relevant as it used to be but it isnt finished yet. Neither in the sense that it isnt used anymore nor in the feature-complete s

[2018-05-23 02:24] xmars4 commented on #2296
If you're using google chrome, disable it's extension and check again

[2018-05-23 02:31] ryanseddon commented on #2278
@rejas I've just added you as a collaborator, feel free to start actually doing stuff.

Apologies for not giving this any attention but I've burnt out on this project.

[2018-05-23 02:32] ryanseddon commented on #2278
You'll need to bug @patrickkettner for any access needed for pushing changes out

[2018-05-23 07:32] rejas commented on #2278
thanks a lot @ryanseddon I'll try to be worthy of your trust. will take alook at what could go into a new release and then try to get a hold of @patrickkettner  have a nice day

[2018-05-24 17:27] #2278 closed

[2018-05-25 12:34] rejas commented on #2303
Seems to be aproblem with the download-builder at modernizr.com since manually building it works for me but using the builder over there doesnt. Could you open an issue at https://github.com/Modernizr/modernizr-neue ?

[2018-05-28 09:45] #2306 closed

[2018-05-28 09:45] #2311 closed

[2018-05-28 09:45] #2313 closed

[2018-05-28 09:50] rejas commented on #2300
thx for the info and sorry for the late reply. do you want to help move this issue forward with a PR?

[2018-05-28 09:56] rejas commented on #2277
Hi @ghatwala the tests can be run with
`npm test` `yarn test` or even `grunt test`
You shouldnt call them with `grunt -d -v mocha` that is not working at all.

[2018-05-28 09:56] #2277 closed

[2018-05-28 09:59] rejas commented on #2068
A new release has happened since then without marked.

[2018-05-28 09:59] #2068 closed

[2018-05-28 16:30] #2298 closed

[2018-05-28 19:31] rejas opened #2319 "gh-pages update from master fails"
When the travis script is triggered after a sucessfull build of the master branch it fails due to a "Permission Denied" Error:
https://travis-ci.org/Modernizr/Modernizr/jobs/384818182

The build itself is still reported as a sucess but our site https://modernizr.github.io/Modernizr still runs on its first version with modernizr v3.5

Could some one with access to the keys check out if there is som

[2018-05-31 12:21] #2300 closed

[2018-05-31 13:07] rejas commented on #2276
Thx for the report, made a PR and will merge it

[2018-05-31 13:07] #2276 closed

[2018-05-31 14:11] rejas commented on #2292
Hi @fredrikekelund Would this PR https://github.com/Modernizr/Modernizr/pull/2269/files fulfill that need in your opinion?

[2018-05-31 14:52] fredrikekelund commented on #2292
Hi @rejas! Thanks for alerting me to the PR. It's not really what I was looking for, no – `text-decoration-color` support is not tied to `text-decoration-skip-ink`. It seems they are actually part of the ]CSS Text Decoration Module Level 3](https://drafts.csswg.org/css-text-decor-3/) and [CSS Text Decoration Module Level 4](https://drafts.csswg.org/css-text-decor-4/) standards respectively

[2018-05-31 14:55] rejas commented on #2292
Right, reading through your ticket and the PR a second time made me realitze my mistake too :-) Anyway, care to make a PR for this skip-ink feature?

[2018-05-31 15:59] rejas commented on #2290
cannot reproduce under my vm with current version of modernizr, see screenshot
<img width="402" alt="ie9" src="https://user-images.githubusercontent.com/1313547/40793276-4c559776-64fc-11e8-8b10-2455e7b9d49f.png">
can you give more information where it happens with which configuration?

[2018-05-31 16:10] rejas commented on #2252
Thx for the hint, fixed it :-)

[2018-05-31 16:10] #2252 closed

[2018-05-31 16:12] rejas commented on #2182
hi @zyc8904 hopefully variables land soon when v3.7.0 is released. still to ETA for it though, waiting for maintainers to react and publish something. closing this issue in the meantime.

[2018-05-31 16:12] #2182 closed

[2018-05-31 17:20] fredrikekelund commented on #2292
Sure! Could use a pointer or two, though. Would it be as simple as mimicking the PR you referenced? Ie calling `testAllProps('text-decoration-skip-ink')`

[2018-06-01 08:39] rejas commented on #2292
Well, since I am farely new to the party too I cannot help you as much as one of the original maintainers. But that PR could be a good starting point indeed. Not sure what the difference betweeen testProps and testAllProps is but I think thats in the code documentation.

[2018-06-05 10:46] schalkventer opened #2321 "Experiencing problem with 'remove' icon positioning on website"
![image](https://user-images.githubusercontent.com/14258328/40971534-45be6030-68be-11e8-987e-cb098aa94eb1.png)

https://modernizr.com/download?setclasses
OS: Windows 10.
Browsers: Chrome Version 66.0.3359.181 (Official Build) (64-bit)

[2018-06-05 11:09] rejas commented on #2321
Yeah, noticed that too and had a PR already prepared: https://github.com/Modernizr/modernizr-neue/pull/125 Hopefuly somebody  with access to the site repo merges it someday...

[2018-06-05 11:09] #2321 closed

[2018-06-06 05:33] patrickkettner commented on #2292
[code]

would do the job. `skipInk` could be whatever you want the detection to be named

[code]

[2018-06-06 06:42] greggman opened #2322 "detecting whether or not createMediaElementSource works?"
In older versions of iOS Safari and Android Chrome it was impossible to use an Audio tag to stream audio and connect that as input the the WebAudio API. You could manually load MP3s using binary XHR and `decodeAudioData` but not stream audio via `createMediaElementSource`

Sometime recently that was fixed. Both iOS Safari and Android Chrome now support this feature. AFAIK there is no way to detect

[2018-06-06 16:09] rejas commented on #2292
Thx, created a PR for this (https://github.com/Modernizr/Modernizr/pull/2324)

[2018-06-06 17:40] rejas opened #2325 "classPrefix is added even if no tests are added"
See https://github.com/rejas/gulp-modernizr/issues/20#issuecomment-395137875

Config looks like this

[code]

Results in this

[code]

[2018-06-07 01:07] #2325 closed

[2018-06-07 01:08] patrickkettner commented on #2322
@greggman can you post a codepen/jsbin/glitch/something of what you mean?

[2018-06-07 05:41] fredrikekelund commented on #2292
Thanks for getting a PR up so quickly! 👍 Will keep an eye out for when 3.7 is released then

[2018-06-07 08:51] #2292 closed

[2018-06-08 16:44] vijayaraghavanramanan opened #2328 "Emoji feature detection without canvas"
There's a discussion of emoji feature detection at Wordpress which also uses canvas to detect emoji, based on Modernizr.

https://core.trac.wordpress.org/ticket/42428

The discussion is the need to find a feature detection test which doesn't use canvas.

Although, the feature detection doesn't obviously violate privacy, some browsers may not like it and hence motivates the need for a different fea

[2018-06-09 09:08] rejas commented on #2130
Can confirm it still happens with Modernizr v3.6

[2018-06-12 08:45] rejas commented on #2171
Merged your PR :-) Thx.

[2018-06-12 08:45] #2171 closed

[2018-06-12 13:52] rejas commented on #2253
Hi @UrielMhezzek
I think you are missing the option "setClasses" here. Please try the following config for building your modernizr:

[code]

and report back if it still doesnt add clases to your html.

[2018-06-12 13:53] rejas commented on #2316
Hi @jmdiego what exactly are you trying to install and on which platform?

[2018-06-12 13:58] rejas commented on #2303
Opened issue at https://github.com/Modernizr/modernizr-neue/issues/126 closing this one.

[2018-06-12 13:58] #2303 closed

[2018-06-12 14:18] rejas commented on #2316
ah, did you try something like this:
[code]
?

[2018-06-12 14:50] rejas commented on #2139
hi @ricardobrandao v3.6.0 contains that test, enjoy.

[2018-06-12 14:50] #2139 closed

[2018-06-12 15:43] greggman commented on #2322
here's an example

     http://jsfiddle.net/greggman/540ptxka/show

It works in Safari iOS 10.3 and 11.4 but not in 8.2 (no idea about 9)

Safari gives no errors. There is no indication that it won't work. AFAICT the only way to know if it will work or not is to check Safari's version number.

The same is true of Chrome. It looks like it was suppose to start working as of Chrome 52 [(see issue)](h

[2018-06-12 15:59] ricardobrandao commented on #2139
Great, thanks! 👍

[2018-06-14 19:00] patrickkettner commented on #2322
I don't see any obvious failure pattern from the IDL, but I am far from well versed in webaudio.

It does seem like `analyzer.getByteFrequencyData` returns 0 for data, however. @greggman what do you think about constructing a fileblob of high frequency, calling createMediaElementSource and then checking the frequency after N ms? Closest thing I have that could work at the moment, I think

[2018-06-15 08:35] rejas opened #2331 "Feature test suggestion: IntersectionObserver"
Moved from https://github.com/Modernizr/modernizr-neue/issues/119:

@LucaRosaldi commented on 14 Feb

[2018-06-15 08:54] aFarkas commented on #2331
Please also have a look into the [supports test of the most used polyfill](https://github.com/w3c/IntersectionObserver/blob/d201f46c91f9c13c3b30e8f9e3b1e2607a2ae74b/polyfill/intersection-observer.js#L16-L31).

[2018-06-15 10:58] greggman commented on #2322
Since you can't play audio without a user gesture it's kind of hard to play a high frequency audio sample to see if it's possible to analyse audio.

[2018-06-15 15:10] rejas opened #2332 "Tests fail under node10"
`npm run test` fails when run under node 10:

[code]

[2018-06-18 12:37] rejas commented on #2248
@swanijam can't reproduce it here with v3.6. Can you pelase retest it with the latest (3.6) version or check if something like @rickdmer had is the cause of your problem?

[2018-06-19 14:51] valeriosillari opened #2335 "Detect if browser is an in-app one (as Facebook)?"
I need to detect if the browser in use is on IOS and an in-app browser, for apps as Facebook or Instagram.

Very specific case, I know ...

But wondering if I can detect it maybe using some options in Modernizr, also as "indirect" trick, like only IOS in-app browser could use a specific browser feature.

I am not sure if possible. anyone has some suggestions or faced the same problem?

Best

[2018-06-19 15:05] usb248 commented on #1781
same issue

[2018-06-19 15:05] patrickkettner commented on #2335
Why do you want to know this

[2018-06-20 11:41] valeriosillari commented on #2335
Really specific User case in a project. I need to know if the user is watching a page from iOS device inside an in-app browser, so I can trigger a special event only in this case

[2018-06-20 14:10] rejas commented on #1355
Removing milestone since @stucox never thought about it ;-)

[2018-06-20 14:11] rejas commented on #905
Removing milestone since @stucox never thought about it ;-)

[2018-06-20 19:45] patrickkettner commented on #2335
An in app browser isn’t a feature, it’s a browser. So we wouldn’t really be a good use for modernizr.

[2018-06-20 19:45] #2335 closed

[2018-06-21 12:45] valeriosillari commented on #2335
oki. i will also thinking to use a simple user agent for detecting tte case I need.
I close the issue :)

[2018-06-23 05:38] #2322 closed

[2018-06-27 21:40] blachawk commented on #1450
I'm also stuck with this problem.  Is there a way from the modernizr team to deploy or fetch a version of a modernizr js file that does not voilate CSP?

[2018-06-29 03:00] patrickkettner commented on #1450
hey @blachawk!
Nothing has changed since the last update. You would want to ensure your build is only what you need to actually detect, and then create a nonce for the file and add that as a whitelisted source for style-src (or whatever rule is being triggered)

[2018-06-29 11:30] rejas commented on #1450
Might be necessary to this info to the docs?

[2018-06-29 12:18] rejas opened #2338 "Cleanup JSdoc"
Check if links are still working / valid
Convert http to https

[2018-06-29 15:35] patrickkettner commented on #1450
given there are two comments in two years on the top issue for "modernizr csp", and knowing the worldwide CSP usage rates (which is...not high) I think putting this in the docs would cause more confusion than actual help. A blog post explaining how to go about using nonces would proably be best

[2018-06-29 15:38] rejas commented on #1450
I see. Speaking of blog posts, there is still one missing fro 3.6.0 https://github.com/Modernizr/modernizr-neue/pull/124
I'd also prepare a 3.7 one during the weekend.

[2018-06-29 15:43] patrickkettner commented on #2335
cheers!

[2018-07-01 14:41] rejas commented on #2261
Changed it in PR https://github.com/Modernizr/Modernizr/pull/2339 doesnt seem to affect the tests

[2018-07-02 14:30] rejas commented on #1781
Debugged a little and it seems to me that those two lines are the culprits:

https://github.com/Modernizr/Modernizr/blob/c5ffa86ccfa56a4a898b9004ea7a3aa337a09551/feature-detects/css/hyphens.js#L157

https://github.com/Modernizr/Modernizr/blob/c5ffa86ccfa56a4a898b9004ea7a3aa337a09551/feature-detects/css/hyphens.js#L170

Not sure how to replace the code or make it better, PRs are welcome :-)

[2018-07-02 15:16] rejas commented on #2331
Care to write a PR @aFarkas or @LucaRosaldi :-) ?

[2018-07-02 15:35] rejas commented on #2158
Was fixed a while ago with https://github.com/Modernizr/Modernizr/pull/2027

[2018-07-02 15:35] #2158 closed

[2018-07-02 20:35] rejas commented on #2193
Duplicate of #1781

[2018-07-02 20:35] #2193 closed

[2018-07-02 20:35] rejas commented on #1632
Duplicate of #1781

[2018-07-02 20:35] #1632 closed

[2018-07-02 20:36] rejas commented on #1781
PR was already there: https://github.com/Modernizr/Modernizr/pull/1633
Has to be tested though

[2018-07-03 04:43] #2119 closed

[2018-07-03 10:15] rejas commented on #2172
hi @tavosansal and @3zzy could you post your config for modernizr? we know that the hyphens test does some unwanted scrolling so maybe in your case it might be the same.

[2018-07-03 10:16] rejas commented on #2147
@tschallacka @elektromntr did it fix your problem?

[2018-07-03 10:17] rejas commented on #2143
@cascadiabooking is this issue still relevant for you?

[2018-07-03 10:33] rejas commented on #2111
Hi @timersys is still this relevant to you and if so, what does your modernizr config/build look like?

[2018-07-03 19:01] tschallacka commented on #2147
@rejas this was fixed in bootstrap https://github.com/twbs/bootstrap/pull/22113

[2018-07-03 19:04] #2147 closed

[2018-07-04 08:46] rejas commented on #2231
@patrickkettner is there some test that @MekliCZ (or whoever feels like taking over this issue) could take as a blueprint?

[2018-07-04 08:46] rejas commented on #2235
@joomlabeat so is your question answered? can this issue be closed?

[2018-07-04 08:53] rejas commented on #2173
Duplicate of https://github.com/Modernizr/Modernizr/issues/2130

[2018-07-04 08:53] #2173 closed

[2018-07-04 09:07] #2235 closed

[2018-07-04 09:35] rejas commented on #2144
@futurist I think a lot of those got corrected in the meantime. Can you confirm with the latest sources?

[2018-07-04 09:42] rejas commented on #1762
@qikkeronline still interested in writing a PR for this even after this long time?

[2018-07-04 09:50] rejas commented on #1645
@patrickkettner  he points out those two lines that look weird:

https://github.com/Modernizr/Modernizr/blob/4e56bfd8353f3aee25a1354e593ceec96cf1016b/src/testPropsAll.js#L38

and

https://github.com/Modernizr/Modernizr/blob/4e56bfd8353f3aee25a1354e593ceec96cf1016b/test/browser/src/testPropsAll.js#L71

The question is if the "testPropsAll" "testAllProps" mixup is intentional?

[2018-07-04 09:52] rejas commented on #2085
hi @Isthu would you be willing to create a PR for that so we can discuss it?

[2018-07-04 09:53] rejas commented on #2106
hi @landsman is this still an issue for you with modernizr v3.6 ?

[2018-07-04 10:14] dracos commented on #1645
Second quote should be https://github.com/Modernizr/Modernizr/blob/4e56bfd8353f3aee25a1354e593ceec96cf1016b/src/testAllProps.js#L42 I think :)

[2018-07-04 10:43] rejas commented on #1645
I think that line is okay @dracos but I let @patrickkettner decide sicne he knows the code best :-D

[2018-07-05 08:58] rejas commented on #2127
hi  @George3d6 could you create a PR for this? Thx.

[2018-07-05 09:30] rejas commented on #2134
Testing on my Chrome-67/Win-10 machine I get the correct 'false' as a result of this test. Does this error still happen to you and if so what kind of machine are you running it on?

[2018-07-05 09:51] rejas commented on #2112
chrome does support this feature pretty much since 2012, so why should it be false in your opinion @cmaness-ncino  ?

[2018-07-05 09:52] rejas commented on #2118
@TomMettam new tests are always welcome. are you still interested in providing a PR for this?

[2018-07-05 09:54] rejas commented on #1997
Current FF evalues to "true" so I am not sure if this is still relevant for @RedHatter ?

[2018-07-05 09:58] rejas commented on #1987
Duplicate of https://github.com/Modernizr/Modernizr/issues/1781

Not sure if @patrickkettner solution is better than the PR https://github.com/Modernizr/Modernizr/pull/1633

[2018-07-05 09:59] #1987 closed

[2018-07-05 10:46] rejas commented on #1707
Can't reproduce it either @SlexAxton Is this still happening for you?

[2018-07-05 11:17] pracucci commented on #2134
The issue was reported some time ago. I'm no more working on such project, so I'm going to close it, cause turn on the testing environment would require me time. Thanks anyway for checking it.

[2018-07-05 11:17] #2134 closed

[2018-07-05 16:43] George3d6 commented on #2127
Wow... talk about blast from the past.
Will try and see if I can add it this weekend.

[2018-07-06 06:48] rejas commented on #2127
Thx @George3d6 :-)

[2018-07-06 16:25] rejas opened #2343 "Test suite page not working"
https://modernizr.github.io/Modernizr/test/ doesnt work anymore, throws lots of errors on the console (and uses vb3.5 only)

Maybe related to https://github.com/Modernizr/Modernizr/issues/2319 @patrickkettner ?

[code]

[2018-07-06 16:41] rejas commented on #1637
hi @mwcz is this still an issue in chrome or got it fixed somehow in the meantime?

[2018-07-06 17:44] mwcz commented on #1637
@rejas I'll do a quick test to see if I can still reproduce it.  We removed the WebGL test from our modernizr build back in 2015 to dodge this issue, so I'll add it back in and see what happens.

[2018-07-06 17:53] mwcz commented on #1637
@rejas I'm not able to reproduce it any longer.  I reverted back to the exact modernizr file we had back then, with the full suite of tests, at version 2.8.3.  No luck reproducing, so I'd say you're right that this has been fixed in Chrome.

[2018-07-06 17:53] #1637 closed

[2018-07-08 13:47] Alexkho82 commented on #2338
#2338

[2018-07-08 13:53] Alexkho82 commented on #2165
#2165

[2018-07-08 13:56] Alexkho82 commented on #2289
#2289

[2018-07-09 07:38] rejas commented on #2338
@Alexkho82 could you please stop polluting the issues with your comments? or is there a reason for your cryptic posts?

[2018-07-10 10:59] #2261 closed

[2018-07-11 10:07] fwebdev commented on #1262
strict-dynamic is the Future of CSP
I guess it should be the appropiate way to deal with this Topic here.

https://w3c.github.io/webappsec-csp/#strict-dynamic-usage

https://speakerdeck.com/mikispag/making-csp-great-again-michele-spagnuolo-and-lukas-weichselbaum?slide=22

[2018-07-11 10:42] rejas commented on #1262
@lol768 you probably ment @patrickkettner in your question about existing PRs :-)

[2018-07-11 10:43] rejas commented on #1262
@fwebdev cant help you with knowledge about the state of CSP pull requests (or discussions around it) but would you be willing to push this issue forward?

[2018-07-11 14:18] qikkeronline commented on #1762
Hi @rejas, i've added it to my task list to see if i can make some time for this in the near future :-) thanks for the mention!

[2018-07-14 04:03] kireevevgenii commented on #1538
Hello! I have the same problem Uncaught ReferenceError: define is not defined. Yesterday i installed modernizr by using terminal with help of bower manager. After the install i did not find the modernizr.js file inside of modernizr folder where is usually being. But i found its a little bit deeper in src folder. Please can you help me how can i fix this bug?

[2018-07-14 08:52] rejas commented on #1538
HI @kireevevgenii did you also have "beacon" as a test in your config? And how did you call bower? (The file in the src folder shouldnt be used btw, normally you find your build in the dist folder).

Anyway, regarding the beacon issue @brongineers & @staimanovo I openend an issue in the websites repo, since it seems that it is a problem there an dnot in the modernizr code itself: https://github.co

[2018-07-16 19:45] lol768 commented on #1262
I blame the autocomplete :P

[2018-07-16 20:13] #388 closed

[2018-07-16 20:13] rejas commented on #388
Closed via #1250

[2018-07-18 08:01] rejas opened #2349 "History management support feature detection"
There was some WorkInProgress in https://github.com/Modernizr/Modernizr/pull/1270 to fix the History feature detect. The PR got abandoned but maybe some parts of it can be reused.

[2018-07-18 13:56] chrisalexander55 opened #2350 "Custom Feature Detection: No Such File or Directory"
ENV: OSX 10.11.6
WebPack: 4.8.3
Modernizr: 3.6.0
Modernizr-Loader: 1.0.1

.modernizrrc
[code]

webpack.config.js
[code]

Webpack appears to be correctly parsing its config and .modernizrrc but throws the following:

![screen shot 2018-07-18 at 9 43 18 am](https://user-images.githubusercontent.com/1727612/42886152-d5efcabc-8a70-11e8-93cb-5eea9b4c1bd8.jpg)

Any ideas what I am doing wrong? Thank you

[2018-07-19 07:46] michaelsteffen1982 opened #2351 "Update cdnjs-libs?"
Not really an issue, is there a reason libs on cdnjs are still on 2.8.3?
Can you please update them if the 3.*-releases are working fine? Many thanks.

[2018-07-19 09:14] rejas commented on #2351
question is who got the rights to do that, @patrickkettner ?

[2018-07-19 09:30] rejas commented on #2350
Looking at your crosspost there https://github.com/peerigon/modernizr-loader/issues/48 it really seems like an issue for the modernizr-loader guys/girls. Cant help you with webpack stuff, sorry :-(

[2018-07-19 09:30] #2350 closed

[2018-07-19 11:40] patrickkettner commented on #2351
we never maintained the cdnjs version, nor do we recommend anyone use it. It has far too much code in it than any modern website needs. It is from a time where there was a monolithic modernizr file. Since 3.0 moved to a bunch of modules that can create the exact build needed for your site, you can have the same practical use at a much smaller cost.

[2018-07-19 11:40] #2351 closed

[2018-07-19 11:47] rejas commented on #2351
Can we somehow make it "deprecated" there, maybe add some comments about it non-usefulness or something ?

[2018-07-19 11:51] patrickkettner commented on #2351
We don't own it, or ever had anything to do with it. Not sure how to go about doing it

[2018-07-19 12:13] rejas commented on #2351
I found some discussions on cdnjs githubs page https://github.com/cdnjs/cdnjs/issues/6100 Do you want to post here "our" stance :-)

[2018-07-19 12:18] patrickkettner commented on #2351
Go for it

[2018-07-19 12:30] rejas commented on #2351
Done :-) Lets see what the cdnjs people will say

[2018-07-26 19:33] rejas commented on #2282
@LancerOfTruth got to ask you the same question: is it not working in the js only or does modernizr add the html class tags also wrongly? and what modernizr version are you running?

[2018-07-27 16:55] niksy commented on #2278
Would also love to see this project updated and would like to work on this if possible!

[2018-07-27 19:02] duoeg commented on #1998
I just went through basically every option, and in my case, this was the test that cause the error:

`input[type="number"] Localization`

No clue why, but removing this test fixes it, and it reoccurs when I bring it back.

FWIW:
Modernizr 3.6.0 with Chrome 68 on Mac

[2018-07-27 20:04] patrickkettner commented on #2278
PRs welcome!

[2018-07-29 10:20] Malvoz opened #2354 "Modernizr.com TLS certificate has expired."

[2018-07-29 12:31] niksy commented on #2278
@patrickkettner there are a lot of open PRs which can be reviewed and merged and @rejas has shown interest in maintaining the project, but it seems like we’re "stuck" with only collaboration but no pushing rights. Should we focus on creating PRs and let other project managers handle all the publishing=

[2018-07-29 12:48] rejas commented on #2278
@niksy I got the rights to push, the problem is publishing IMO. I'd love to get the page back online and adding changelogs for 3.6 [with this PR](https://github.com/Modernizr/modernizr-neue/pull/130) Yes, unfortunalty only @patrickkettner is helping out from the original maintainers but he is busy with work / family which I dont blame him for, thats important).
But with those infrastructural probl

[2018-07-29 13:06] niksy commented on #2278
Yes, I completely understand issue with time, I’m in a similar situation myself!
But if we can all agree that this can become a point of project staleness, maybe core contributors can give more maintenance rights to people who have time and will to work on the project, for now just to bring it "from the ground"?

[2018-07-30 02:14] ryanseddon commented on #2278
I don't think I even have permissions to publish so can't help you there.

[2018-07-30 07:19] Malvoz commented on #2354
This is not an issue anymore, closing.

[2018-07-30 07:19] #2354 closed

[2018-07-30 11:33] LancerOfTruth commented on #2282
I've only tested it in the js.  I'm using modernizr-3.4.0.js so the version is 3.4.  I just created a quick test to see if Modernizr.objectfit was working here:

[code]
This always returns "Object Fit is NOT supported in this browser", even though I'm using Chrome version 67 and can visually see that object fit is supported.  I've tested this on the latest version of Chrome, Firefox, Edge, and IE,

[2018-07-30 11:39] rejas commented on #2282
Could you try it out with modernizr v3.6.0 ?

[2018-07-30 12:12] LancerOfTruth commented on #2282
@rejas That did it!  Upgraded to the latest version and it worked. Thanks!

[2018-07-30 12:47] rejas commented on #2282
Glad to hear that. Closing this issue for now since @450b didnt react.

[2018-07-30 12:47] #2282 closed

[2018-07-31 06:57] niksy commented on #2343
This is probably because new test files weren’t pushed when new version was published.

[2018-07-31 07:01] niksy opened #2355 "Tests stops at "mocha:test""
When running on Node 8, tests stop at `mocha:test` task.

[code]

[2018-07-31 07:02] niksy commented on #2332
@rejas Maybe we should first try to run it on Node 8 since it’s currently recommended for most users, and then work up to Node 10 support?

It works on Node 8, except there is an issue #2355.

[2018-07-31 15:18] rejas commented on #2332
@niksy I dont care where we start getting updated node versions to run :-)

[2018-07-31 18:39] acschwartz opened #2358 "Broken link in README.md"
Link to Open Code of Conduct is broken

[2018-08-01 05:58] niksy commented on #2358
@acschwartz PR welcome! Do you have alternative link?

[2018-08-01 06:50] niksy commented on #2355
@rejas When I update grunt-mocha to latest version, I get proper output but a lot of errors. I suppose setting larger version of grunt-mocha isn’t desirable right now?

What about using different runner for browser tests? For example, Karma is standard for these things so maybe we could use it? Also, PhantomJS is deprectaed and I didn’t see any support for using another modern headless solution li

[2018-08-01 07:37] rejas commented on #2355
@niksy yeah, the test suite is not really upgrade friendly (tried to update [mocha](https://github.com/Modernizr/Modernizr/tree/update_grunt-mocha) like you did with similar results). grunt-mocha isnt also very responsive to PRs.
So I'd also like to see a refresh in that area but without rewriting all tests etc pp. Using grunt and karma-chrome-launcher sounds good, but I havent any experience with

[2018-08-01 07:57] niksy commented on #2355
@rejas I would definitely go the route of setting up tests with minimal architecture changes, so only browser tests in Karma for now and then we will see for anything else later.

I have experience with Karma (on daily basis I would say :D) and I can set up test environment with Puppeteer. I suppose it would be too much work to do that since Mocha is browser friendly, but it remains to be seen :)

[2018-08-01 08:05] rejas commented on #2355
Have a nice vacation, those test issue probably wont go anywhere (it works somehow :-)

[2018-08-01 19:43] rejas commented on #2355
Will read a little about testing in the meantime, will need it for other projects (and work) too.

Maybe I pick up work on the update_chai branch again where I only try to replace the old expect.js lib with chai.js. Still two strange errors in it though, not sure where they come from (maybe mocha?) So, yeah that might be a starting point for you too?

Will need a node and brwoser based environment

[2018-08-01 20:31] patrickkettner commented on #2231
any of the [video detects](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/video.js) would be a great example. Bsically `canPlayType`

[2018-08-01 20:32] #1645 closed

[2018-08-01 20:35] dracos commented on #1645
Hi, sure I've misunderstood this, but if you could explain why it's not a bug that the modernizr output sets the same `ModernizrProto.testAllProps` variable twice, I'd appreciate it, thanks :)

[2018-08-01 20:39] patrickkettner commented on #2349
the browsers that are of concern are really quite old at this point, and mostly ones that autoupdate. I am also not comfortable having any code that could potentially screw up folks undo stack.

My druthers would be for a custom module be written and documented on github issues so if people want it they can use it in a custom build

[2018-08-02 10:58] niksy commented on #2355
So… I actually had some time and I whipped up initial conversion to Karma runner :D

You can see it here: https://github.com/niksy/Modernizr/commit/b58fec2d0eaa7a33d91f7cce80399ddcd0111f57

Every test passes in Chrome, so testing in other browsers is a process of setting up additional launchers and setting up Sauce Labs support.

This still needs coverage reporting and integration tests but we’re

[2018-08-02 11:45] patrickkettner commented on #2355
Open to it, historically we didn't because it crashed in older browsers which is one of the more popular situations to use modernizr

[2018-08-02 12:05] niksy commented on #2355
Ah, I see. So maybe we should still keep original implementation, but fix hanging tests?

[2018-08-07 09:46] #2331 closed

[2018-08-07 11:18] durbanski opened #2361 "Consider adding ESLint disable in Modernizr custom build output."
Hello everyone!

Is there any chance that you would consider disabling ESLint for this specific line of output:

[code]

I mean empty block in catch statement.

[code]

Our linter settings are complaining about some minor things we can fix automatically during our build process by using --fix flag, but this one is unfixable. Only possible by hand, which is bit of a pain as we want to keep "no-empt

[2018-08-07 12:40] niksy commented on #2361
@durbanski as @rejas says, Modernizr built code should be linted by your ESLint rules. You have `.eslintignore` as option to exclude this file from linting.

[2018-08-07 15:38] durbanski commented on #2361
Yup. This was easy. Sorry for taking your time on this.

I wrongly assumed that if we are bundling modernizr.js into our production pipeline, all files needs to pass linter.

Adding modernizr to .eslintignore made it work as expected.
Thanks!

[2018-08-07 15:38] #2361 closed

[2018-08-08 02:54] mreinstein opened #2362 "is it possible to avoid global/window pollution?"
I maintain a 3rd party library that is embedded on other people's sites. One of the requirements is not polluting the window object with stuff, and not adding classes to the html or body elements.

I have one global allowed for my library, let's call it `window.MINE`. Is it possible to attach modernizr to `window.MINE.Modernizr` rather than directly on the global window object?

[2018-08-08 02:57] patrickkettner commented on #2362
it is not a built in option currently, but on a built version of modernizr, at the bottom you will see where `window` is passed in. That can be modified to be your own object.

Im sure a PR to add the ability to do this would be welcomed, as would (the Herculean) one adding es6 support in general

[2018-08-08 02:57] #2362 closed

[2018-08-08 03:09] mreinstein commented on #2362
@patrickhlauke thanks!

Would this be argument that could be passed at build time? Something like this?

[code]

[2018-08-08 03:10] patrickkettner commented on #2362
it would make sense for it to be a config option, inside of the json object (thats where we have put the configuration options in the past)

[2018-08-08 03:11] mreinstein commented on #2362
so the global name would be declared in the `config-all.json` ?

[2018-08-08 03:14] patrickkettner commented on #2362
yeah, that is what I meant. Only reason im being pedantic is that you would
want this to be exposed to the builder as well as the cli version. If it
was just a flag, it would be restricted to the cli

[2018-08-08 03:16] mreinstein commented on #2362
should it be both available in the config json _and_ as a cli flag?

open for suggestions on what the cli and json config names should be... `-gn window.MINE`, `"globalName": "window.MINE",` respectively?

[2018-08-08 03:19] patrickkettner commented on #2362
sure!

window.MINE, "globalName": "window.MINE", respectively?

id probably want to to mention javascript or script or something, but in
general am fine with any sane option

On Tue, Aug 7, 2018 at 8:17 PM Mike Reinstein <notifications@github.com>
wrote:

--
patrick

[2018-08-08 15:58] SurajVerma commented on #1836
This issue still exists, using dev build 3.6.0 unminified version. <head> element moves below <body> element.

[2018-08-08 16:01] SurajVerma commented on #1836
This issue still exists, using dev build 3.6.0 unminified version. `<head>` element moves below `<body> `element. In my case, issue persist even if I remove localizednumber test. :(

[2018-08-09 10:16] rejas commented on #1836
Hi @SurajVerma could you post your config that you used to build he modenrizr js so we can try to reproduce it?

[2018-08-09 11:36] SurajVerma commented on #1836
Hi @rejas :)
I am using the raw development build as it is from. Removing input[type="number"] Localization test fixes the problem for me as well.

Head with number localization test in modernizr
![head-b](https://user-images.githubusercontent.com/5441349/43896437-6962527e-9bf6-11e8-827a-7a49863034eb.PNG)

Head without number localization test in modernizr
![head-a](https://user-images.githubuserc

[2018-08-10 06:08] cpearce opened #2364 "Performance and audibleness issues with autoplay detection"
(FYI, I'm a browser engineer working on Firefox's media playback engine...)

There's a few ways https://github.com/Modernizr/Modernizr/blob/master/feature-detects/audio/autoplay.js could be improved.

1. Your code tries to play an MP3 and if that isn't supported you fall back to trying to play a WAV file. I recommend you do that in the opposite order, i.e. try a WAV first and then fallback to MP3.

[2018-08-10 14:18] rejas commented on #1836
Opened a PR with a fix for this issue, hope it gets though the review of @patrickkettner :-)

[2018-08-13 16:19] #1836 closed

[2018-08-13 17:12] Nicholas-Eng commented on #2338
Hi, I would like to take this issue as my first bug.

[2018-08-13 18:12] patrickkettner commented on #2338
Go for it!

[2018-08-13 19:29] rejas commented on #2338
Of course it would be nice to have replacements for invalid links but I think getting old versions of links via archive.org would be more feasible.
as for links that dont have https? I'd say we leave those as is.

[2018-08-13 19:32] rejas commented on #2358
Do you know of any alternatives for such a CoC?

[2018-08-13 19:56] roblarsen commented on #2358
We used [Contributor Covenant: A Code of Conduct for Open Source Projects](https://www.contributor-covenant.org/)

[2018-08-13 21:06] Nicholas-Eng commented on #2338
@patrickkettner @rejas ok, ty

[2018-08-14 06:37] snout-o opened #2366 "Chrome WebView passing tests that should fail"
I'm currently trying to detect when a browser supports the uploading of files, primarily because we have users scanning our QR codes that take them to a website where the uploading of files is essential.

When using an Android QR scanner that opens a scanned URL internally within a WebView - rather than opening in an external web browser - we find that the File Upload functionality does not work.

[2018-08-14 06:45] patrickkettner commented on #2366
@snout-o the detect checks to see if the file input type is supported, not if it can be successfully uploaded. Depending on how they are blocking the support in the web view, this may or may not work. That would require a server side element, which we can't rely on in the library.

That being said, the [input detect](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/forms/fileinpu

[2018-08-14 06:52] snout-o commented on #2366
Thanks for the quick reply @patrickhlauke I have just performed a quick and dirty test of your code and can confirm i.type === 'file' is true within the WebView.

I'm not sure I'm capable of producing an adequate PR but I will certainly give it a go. Cheers!

[2018-08-14 06:56] patrickkettner commented on #2366
looks like the [regex](https://github.com/Modernizr/Modernizr/blob/3072bb9dc720345bd6d972aba60314e6fe34427a/feature-detects/forms/fileinput.js#L17) could be based on [this from ua-parser](https://github.com/faisalman/ua-parser-js/commit/a56c990ec32f105219570d398f3398f9373b5a75)

[2018-08-14 09:47] snout-o commented on #2366
Yep that worked well for my needs. I've made a pull request #2367 for this. I added an extra conditional regex since the original does not define the /i flag and I didn't want to risk affecting that check. I hope I did this right!

[2018-08-14 11:13] rejas commented on #2358
Sounds like a good option. One just has to add oneself to the list via PR and add the .md to ones own repo?

[2018-08-14 13:36] roblarsen commented on #2358
Yeah, there's a command line utility to add the markdown file.

If you're in there I'd suggest moving things like that to a .github folder. It really helps clean up a project's root and stays neatly integrated with GitHub.

[2018-08-14 19:18] cpearce commented on #2364
Sure, I'll put together a PR. :)

[2018-08-15 20:19] #2366 closed

[2018-08-26 15:17] theLine commented on #1781
Hi, I just purposed an other PR #2369 to this issue.
I think that saving the scroll position and restoring it, like in PR #1633, isn't a nice solution, because it won't really prevent the jumping (on really fast machines at least).

Unfortunately I wasn't able to really test it on many browsers/machines.

What do you think of this?

[2018-08-28 10:14] tzachyrm commented on #1568
+1

[2018-08-29 15:11] rejas commented on #1568
PullRequests are always welcome ;-) Glad to review them and help them get in shape.

[2018-09-07 14:31] RwwL commented on #1568
I just noticed [a Stack Overflow post](https://stackoverflow.com/questions/46919627/is-it-possible-to-test-for-scrollintoview-browser-compatibility) that suggests that `'scrollBehavior' in document.documentElement.style` is a sufficient test. The results I'm seeing for that do match up with the notes about who does/doesn't support the `behavior` option on https://caniuse.com/#search=scrolLIntoView

[2018-09-12 13:10] lekoaf opened #2371 "Modified Modernizr used to hack 380 000 British Airways clients"
https://www.riskiq.com/blog/labs/magecart-british-airways-breach/

[2018-09-12 14:48] rejas commented on #2371
Thx for the info, but whats the issue for us?

[2018-09-12 18:18] crhallberg opened #2372 "CSS Custom Properties missing"
Looks like this was added in May (#2229) but I do not see it in the documentation or the download options.

[2018-09-13 13:10] rejas commented on #2372
Correct, it was merged via https://github.com/Modernizr/Modernizr/pull/2310 but we havent released a new version since then. I hope @patrickkettner can take a look at the open issues for a v3.7 release and give his feedback so that we can get this out finally.

[2018-09-13 13:10] #2372 closed

[2018-09-14 02:28] PikachuEXE opened #2373 "Missing "News" for 3.6.0"
I can't find any change log in

- https://modernizr.com/resources
- https://github.com/Modernizr/Modernizr/releases

[2018-09-14 08:29] rejas commented on #2373
There is a PR (https://github.com/Modernizr/modernizr-neue/pull/130) contain the changelog, but I do not have publishing rights for the site. @patrickkettner can we please move forward with updating the site?

[2018-09-17 10:57] CaelanStewart commented on #1095
@paulorely, on Chrome 69, this code...

[code]
...throws the following exception...

[code]

And hence, the callback is not executed.

[2018-09-17 14:20] CaelanStewart commented on #1095
Just thought I'd add:

For my case (a home page hero video), I just checked if the video is playing 5 times over the space of 1s (and hiding the video and replacing with static image if it isn't playing at any point) which seems to work quite reliably. Android autoplays, but iOS does not (with no discernible flash of the video, either).

[2018-10-02 10:55] AdamReece-WebBox commented on #1998
Can confirm that removing `input[type="number"] Localization` also fixed our "scroll to the bottom on load" issue. +1
No idea what the number input type has to do with it.

[2018-10-05 11:14] jlchereau opened #2374 "Modernizr.speechsynthesis and Modernizr.speechrecognition in Headless Chrome"
Modernizr.speechsynthesis is true in HeadlessChrome despite the fact that without a profile, and therefore a language, voices are not available.

Like with #2375, speech recognition cannot work without access to the microphone.

See:
- https://github.com/GoogleChrome/puppeteer/issues/2141#issuecomment-370525613
- https://groups.google.com/a/chromium.org/forum/#!topic/headless-dev/OVXsRrZwGwM

[2018-10-05 11:18] jlchereau opened #2375 "Modernizr.getusermedia in Headless Chrome"
Modernizr.getusermedia is true in Headless Chrome despite the fact there is no access to teh Camera and Microphone to make WebRTC work.

[2018-10-05 20:30] evanrmurphy opened #2376 "FR: Detection for Array.prototype.includes()"
I don't see any feature detection in Modernizr for [`Array.prototype.includes()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes). I would find this useful, would others?

Perhaps we could add this to the [series of checks in es6/array.js](https://github.com/Modernizr/Modernizr/blob/v3.6.0/feature-detects/es6/array.js#L20-L28), or is `Array.prototyp

[2018-10-08 08:47] rejas commented on #2376
Would be nice to have something. Not sure if it is post-es6, will there every be an official es7?

[2018-10-08 17:17] evanrmurphy commented on #2376
Ok, I just confirmed that this is part of the [es7 a.k.a. es2016 spec](https://www.ecma-international.org/ecma-262/7.0/).

I could create a PR with a new file `feature-detects/es7/array.js` that basically just performs a check for `Array.prototype.includes()`. This would give us something for this and provide a place for other es7 checks to be layered on.

How does this sound?

[2018-10-09 10:20] rejas commented on #2376
Sounds good to me! PR are very welcome, but I have to point out that no new release will be coming until @patrickkettner shows up again....

[2018-10-09 10:21] rejas commented on #2371
Closing this since there doesnt some to be any steps necessary from modenrizr site and the OP didnt respond...

[2018-10-09 10:21] #2371 closed

[2018-10-09 10:28] jlchereau commented on #2374
Karma tests based on browser features.
It is certainly possible to test useragent, but isn't the point of Modernizr?

[2018-10-09 20:07] iandunn commented on #2313
While it's nice to know that Modernizr isn't affected by this, every developer who installs it is being notified that there's a security vulnerability. I spent 10 minutes looking into this before finding this issue that let me know it was safe to use. When you multiply that by [the ~50k people installing it every week](https://www.npmjs.com/package/modernizr), that adds up to a lot of wasted time.

[2018-10-10 02:45] limuyan opened #2377 "modernizr in iframe will occur error in safari browser."
safari iframe indexeddb

devices:mac,iphone,ipad
browser:safari

when Modernizr use in iframe page,it will occur error
"SecurityError:IDBFactory.open() called in an invalid security context"

shoud the following code include in try{}
var req = indexeddb.open(testDBName);

[2018-10-10 08:14] rejas commented on #2377
Duplicate of https://github.com/Modernizr/Modernizr/pull/2315
Not yet released though, still waiting for @patrickkettner to check his github notifications....

[2018-10-10 08:14] #2377 closed

[2018-10-10 08:15] rejas commented on #2313
Totally agree with you, alas I cannot do anything about it (by releasing a new version) since @patrickkettner is the maintainer here.

[2018-10-12 12:00] avpavp commented on #1095
Seems to work ok for me on Chrome 69.0.3497.100 (Official Build) (64-bit) Windows

[2018-10-13 08:10] rejas commented on #1095
Thx for the hint @avpavp indeed the specs only mention a function, not an object: https://www.w3schools.com/tags/av_met_pause.asp
@CaelanStewart is that a thing that might help you?

[2018-10-13 20:50] escodel opened #2378 "Adding navigator.connection.effectiveType"
Saw navigator.connection feature detection but not seeing this in the docs, on the site, or in the issues.

Basically proposing that detecting the effectiveType would be helpful for determining a more specific kind of connection (slow-2g, 2g, 3g, 4g).

More here: [MDN web docs](https://developer.mozilla.org/en-US/docs/Web/API/NetworkInformation/effectiveType) and [here](https://dev.to/addyosmani/a

[2018-10-15 17:17] rejas commented on #2378
Sounds like a good idea, want to provide a PR for it :-) ?

[2018-10-15 18:06] jlchereau commented on #2374
Correct!

[2018-10-15 19:29] escodel commented on #2378
@rejas Sure thing, I'll see what I can do soon. Thanks!

[2018-10-16 03:18] escodel commented on #2355
Not sure if this is related, but I saw this issue was still open and I'm now getting the following in my mocha:test task when running `grunt browserResults`

[code]

Tried updating grunt-mocha but got way more errors/warnings so reverted back to what's currently in use. Also tried installing grunt-mocha-phantomjs to no avail.

Node 8.12.0
npm 6.4.1

Any known way to resolve this? Thanks in advance

[2018-10-16 08:08] rejas commented on #2355
@escodel I have the same versions and can run `grunt browserResults` as well as `npm test` without hang-ups. The DepreactionWarnings shouldnt be a problem (yet) but no time to check those.
I am running on Win10, you too?

[2018-10-16 11:16] escodel commented on #2355
@rejas Yep, Win10 for me too. I’m thinking another package might’ve updated the version/path for PhantomJS. Will check when I get time later today.

[2018-10-16 11:18] rejas commented on #2355
Weird, I have this issue only on my mac book....

[2018-10-16 11:19] rejas commented on #2355
(and yeah, upgrading grunt/mocha leads to another path full of errors, that bug is not for the faint of heart))

[2018-10-16 13:55] rejas commented on #2374
Our tests for speechsynthesis and speechrecognition are fairly simple and just test for the existence of the APIs in the window object. Could it be that headless-chrome nonetheless has those APIs but just throws an error when they are accessed?

[2018-10-16 14:00] jlchereau commented on #2374
You are absolutely right.

My understanding is these API always require that the user "Allows" access to the microphone or webcam but ChromeHeadless runs without user profile, so there is no way to allow them.

See the links in my first comment.

[2018-10-16 14:15] rejas commented on #2374
I added some error handling in a branch "issue_2374" Could you test a build from that to see if it now reports a correctly "false" ?

[2018-10-16 14:48] escodel commented on #2355
Alright so I figured out the issue... kind of. `navigator.connection` was returning undefined causing PhantomJS to get hung up. The other feature-detect for connection has a polyfill but I think this is an issue with the version of phantom not supporting navigator [bug](https://github.com/ariya/phantomjs/issues/10647). Will try and update phantom again.

[2018-10-17 01:35] escodel commented on #2378
Ok so this is a pretty straightforward change, but it required changes to package.json for me in order to make sure PhantomJS was up to date (for some reason). Wondering if those changes can just be ignored if everything is working on your end (an extension of [Issue 2355](https://github.com/Modernizr/Modernizr/issues/2355)).

All this does is detect the presence of effectiveType. Is there anythin

[2018-10-17 12:30] rejas commented on #2378
Please submit a PR, I can take a better look at your code and comment there....

[2018-10-19 15:47] nali opened #2383 "CSS custom properties check returns false (incorrectly) in Edge"
The [custom properties check](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/customproperties.js) will fail in Edge (tested in version  44.17763.1.0).

The existing code does a check in the form of:
`supportsFn('--f:0')`
This returns `true` correctly in other browsers I've tested that support CSS custom properties, however Edge will return false.
When providing the check in

[2018-10-20 10:02] rejas opened #2384 "Firefox62: Caniuse result for ambient-light matches Modernizr's result for ambientlight"
Running `grunt browserResults` show this error on the testpage when testing against the caniuse db:
[code]

Find out who is wrong about this and why :-)

[2018-10-20 10:05] rejas opened #2385 "Edge17: "is able to be loaded in a SVG file" Error"
Running `grunt browserResults` show this error on the testpage when testing against the caniuse db with Edge 17 and 18:

[code]

[2018-10-20 10:07] rejas opened #2386 "IE11: Caniuse result for svg-img doesnt match Modernizr's result for svgasimg"
Running `grunt browserResults` show this error on the testpage when testing against the caniuse db under IE11:

[code]

Find out who is wrong about this and why :-)

[2018-10-20 10:16] #2378 closed

[2018-10-20 10:34] rejas commented on #2383
Can confirm its buggy :-) Happy to receive a PR.

[2018-10-20 10:39] rejas commented on #2338
Thx to @Nicholas-Eng

[2018-10-20 10:39] #2338 closed

[2018-10-20 11:10] nali commented on #2383
Thanks @rejas , have opened a PR. :)

[2018-10-20 13:30] rejas commented on #2355
Any news on updating phantom @escodel ?

[2018-10-20 14:08] rejas commented on #2048
Hi @mammad2c is this still an issue for you?

[2018-10-20 14:10] rejas commented on #1762
Fixed via https://github.com/Modernizr/Modernizr/pull/2330

[2018-10-20 14:10] #1762 closed

[2018-10-20 17:01] #2383 closed

[2018-10-20 21:39] Nicholas-Eng opened #2389 "niuse"

[2018-10-20 21:39] #2389 closed

[2018-10-20 21:55] escodel commented on #2355
@rejas I think it was an installation error on my part. Conflicting versions. It worked once I un/re-installed.

[2018-10-22 07:35] rejas commented on #2355
@escodel darn, I was hoping to find someone who knows a fix to the tests dont run on node10 and some other setups.... :-(

[2018-10-24 07:33] FlorianBurgevin commented on #907
Still the issue.

I build a library that can be used by other apps.
If the app already includes Modernizr, my custom build will override the app instance and cause problems.

How can I fix that?

[2018-10-29 21:31] jenkinshouse opened #2391 "Detecting PublicKeyCredential feature"
Is it possible to use Modernizr to detect the PublicKeyCredential feature (https://developers.google.com/web/updates/2018/03/webauthn-credential-management#the_solution)? This is a new cryptographic web authentication method being standardized by the W3C (https://www.w3.org/TR/webauthn/) and it would be great to use Modernizr to help determine if the browser is capable of supporting the standard.

[2018-10-30 11:14] jenkinshouse commented on #2391
Sorry - I’m a product manager, not a developer. I don’t know how to code.
Our industry needs this and it would be beneficial to web developers to
leverage a common tool like Modernizr instead of each developer trying to
figure this out themselves.
On Tue, Oct 30, 2018 at 5:25 AM Veeck <notifications@github.com> wrote:

[2018-10-30 15:12] cagross opened #2392 "Mixed content error: Refused to load the font 'https:'"
My page ([page here](https://www.horizonhomes-samui.com/)) is suddenly displaying an unidentified mixed content error in the JavaScript console, and my troubleshooting steps _seem_ to point towards the Modernizr library.  The exact error message is:

`Mixed Content: The page at 'https://www.horizonhomes-samui.com/' was loaded over HTTPS, but requested an insecure font 'https:'. This request has be

[2018-11-05 02:17] escodel commented on #2391
I’ve been dabbling with webcrypto lately and this is of interest to me. Perhaps I can get to it this week if no one is tackling this one and time permits?

[2018-11-05 21:44] jenkinshouse commented on #2391
Thanks, @escodel - we'd love to see this feature detection implemented!

[2018-11-07 03:00] escodel commented on #2391
@jenkinshouse - Looking at the Web Authentication API (webauthn) spec and the example you provided from Google Dev, I noticed there is more than just PublicKeyCredential associated with the API. However, will that particular feature detect meet your needs for the time being?

@rejas - Thoughts?

[2018-11-07 15:57] jenkinshouse commented on #2391
@escodel - we'll likely need more than PublicKeyCredential eventually but would certainly like to start with at least this.

[2018-11-08 09:33] rejas commented on #2392
Hi @cagross  soory for the late response. Looking at your page I see that you are using v2.5.2 of modernizr. This is an unsupperted version which I can you not help you with. Is there a possibilty for you to update to the lkatest version (3.6.0)?

[2018-11-08 09:58] cagross commented on #2392
@rejas OK yes, I do indeed see that my version is out of date.  I am currently working to update the theme on my site, which should hopefully update Modernizr in the process.

I should also note that it appears other, non-WordPress sites are having a similar issue ([see here](https://bugs.chromium.org/p/chromium/issues/detail?id=902115&can=2&start=0&num=100&q=&colspec=ID%20Pri%20M%20Stars%20Releas

[2018-11-11 17:20] yleviel-notarize opened #2394 "Modernizr npm published package points to wrong lodash"
Similar to #2313, retire-js notes that lodash 4.17.4 has a vulnerability.  I was about to submit a PR to update to lodash 4.17.11, and it seems this was already done in the package.json but not submitted as a new version to npm.  Can you publish a 3.6.1 with the latest so the following errors are not generated?

[code]

[2018-11-11 21:41] rejas commented on #2394
3.6.1 from master would be a little more than just this npm update. i'd love to get v3.7 though @patrickkettner

[2018-11-12 10:50] #2391 closed

[2018-11-19 10:19] many20 opened #2395 "autoplay.js missing in npm package and in release package on Github v3.6.0"
hi
the node_modules/modernizr/feature-detects/audio/autoplay.js
is missing in the npm package (v3.6.0) and also in the Release zip on Github (v3.6.0)

I tried out:
[code]
I get this error:
{ Error: Error: ENOENT: no such file or directory, open 'Z:\MergeBranch\Main\Src\Client\8_Program\DisplayHtml\DisplayEngine.Html\DisplayEngine.H5\node_modules\modernizr\feature-detects\audio\autoplay.js'
In modu

[2018-11-19 10:45] rejas commented on #2395
This is not surprising since Modernizr 3.6 was released in May, while the autoplay feature was only added in July. I wish I could tell you when 3.7 will be released but @patrickkettner doesnt seem to have time to do this :-(

[2018-11-19 10:45] #2395 closed

[2018-12-02 22:16] mschipperheyn opened #2396 "argparse / underscore.string security vulnerability"
https://snyk.io/test/npm/modernizr reports a security vulnerability. It can be solved by upgrading the `argparse` dependency.

[2018-12-03 09:44] rejas commented on #2396
Thx for the info. WOuld you like to submit a PR for this?

[2018-12-03 18:50] mschipperheyn commented on #2396
Sorry, I'm slammed. Best I can do right now is report it.

[2018-12-03 22:00] rejas commented on #2396
Proposed a PR at https://github.com/jonschlinkert/remarkable/pull/315 ...

[2018-12-03 22:21] rejas commented on #2374
Hi @jlchereau did you have time to test my branch?

[2018-12-07 17:40] strarsis commented on #1388
Ironically IE11 and Edge don't support `background-blend-mode` – but also not `@supports`.

[2018-12-10 08:02] mpreethi90 opened #2398 "Emoji shows false positive in Chrome 71"
<img width="140" alt="screen shot 2018-12-10 at 16 01 09" src="https://user-images.githubusercontent.com/20960378/49718391-e6a91480-fc94-11e8-8684-cd4c679481e3.png">

[2018-12-10 08:48] rejas commented on #2398
Which Modernizr version are you using and what is your config?

[2018-12-11 05:59] mpreethi90 commented on #2398
modernizr 3.6.0 (Custom Build)

  https://modernizr.com/download/?-adownload-blobconstructor-canvas-contenteditable-cookies-cryptography-customevent-dataset-emoji-es5-filereader-flexbox-localstorage-postmessage-queryselector-serviceworker-svg-video-websockets-webworkers-xhr2-setclasses

@rejas

[2018-12-11 11:38] rejas commented on #2398
@mpreethi90 can't confirm this, your build shows Moderniz.emoji = true in my Chrome Version 71.0.3578.80 (64-Bit)
Other browsers work correctly for you? Could language/country settings be the culprit? Any addons installed that might interfere?

[2018-12-11 13:56] cagross commented on #2392
Just to update you, after several weeks, an update to WordPress core (to v5.0), and several plugin updates, the issue seems to be gone now.  So I guess we can close this issue.

[2018-12-11 13:56] #2392 closed

[2018-12-13 06:59] mikehwagz opened #2399 "Vulnerability with underscore.string"
Hi there,

After installing with npm, there are 2 vulnerabilities found. One is with lodash discussed in #2313, but this new one is related to underscore.string and described here: https://www.npmjs.com/advisories/745/versions

I've also included the full `npm audit` for this vulnerability below:

[code]

I have no idea if vulnerable code is actually being used by modernizr, but I wanted to bring

[2018-12-13 08:54] rejas commented on #2399
Already created a PR for remarkable to get this updated: https://github.com/jonschlinkert/remarkable/pull/315 Hoping it gets merged soon....

[2018-12-13 08:55] rejas commented on #2399
Closing sicne this is a duplicate of https://github.com/Modernizr/Modernizr/issues/2396

[2018-12-13 08:55] #2399 closed

[2018-12-13 17:48] chris13524 opened #2400 "svgasimg test wrong on IE11"
I'm seeing that [caniuse](https://caniuse.com/#feat=svg-img) reports svg-img as being supported on IE11. But Modernizr reports it does not.

From basic observations, it appears IE11 supports `.svg` files in `<img>` just fine. (Go on [GivingTools.com](https://givingtools.com), the logo icon is in svg format. This works fine in IE11.) Perhapse Modernizr's [test](https://github.com/Modernizr/Moderniz

[2018-12-14 13:39] owensgit commented on #2394
Unfortunately, this is preventing me from using Modernizr at my company. Is there a timescale for a this to be published?

[2018-12-14 13:44] rejas commented on #2394
Sorry, cant help you as long as @patrickkettner is not resurfacing and getting the releases back on track. Neither do I have publishing rights, nor access to website etc which would need to be updated :-(

[2018-12-14 14:53] jucrouzet opened #2401 "media-source-extension-api is missing in published npm package"
[code]

[2018-12-14 15:02] rejas commented on #2401
that feature landed in the sourcecode after v3.6.0 got published. it will be released in v3.7.0 hopefully

[2018-12-14 17:02] wraithgar commented on #2394
There are 5 other people who have access to publish this on npm.  I don't want to @ spam a bunch of people here but also am not sure what the correct protocol is on an issue like this.

According to `npm info modernizr` these people have npm publish rights to this package.  (These are npm usernames)

[code]

[2018-12-14 22:22] dutchenkoOleg opened #2402 "Is Modernizr alive?"
I need this library, with all the latest updates.
But because of the vulnerabilities - I can not use it in my work.

Tell me, is the project generally supported?
@patrickkettner disappeared somewhere, and no one except him can accept PRs and publish the npm package?

If this is so, then it will be easier and faster for me to fork the Modernizr
and create own project and npm package

[2018-12-14 23:15] patrickkettner commented on #2402
There are no security vulnerabilities in the shipping version of modernizr. There are only minor issues on a subset of functions inside of libraries used to build the documentation. None of which ship in a built version.

I will be getting up to date on PRs and issues over the holiday.

[2018-12-16 09:35] rejas commented on #2402
@patrickkettner nice to hear back from you, was a little worried... anyway, wouldln't it make sense to move the remarkable entry into the devDependencies for consistency since it isnt actually used in the final build itself?

[2018-12-16 09:37] rejas commented on #2396
Lets wait for https://github.com/jonschlinkert/remarkable/pull/312 to be merged

[2018-12-16 09:45] rejas commented on #2394
Not sure if @ ping would trigger a reaction of half of those from the list. Looking at their github timeline some havent done anything the last year, some at least show up, some half better things to do. Lets just hope patrickkettner comes back during the holidays for some cleanups....

[2019-01-02 11:18] odysseuscm opened #2404 "Input[search] search event - documentation error"
The documentation and example wrongly states that the test for input[search] event is done like this:
Modernizr. search
-> returns unassigned on Chrome

But in fact it is done like this:
Modernizr.inputsearchevent
-> returns true on Chrome

[2019-01-04 08:49] rejas commented on #2404
You're right. Care to create a PR for that?

[2019-01-04 09:45] rejas commented on #2404
Thx for the quick PR.

[2019-01-04 09:45] #2404 closed

[2019-01-04 13:48] rejas opened #2406 "Errors when upgrading to jquery 3.3"
Tests fail when jquery v3.3.X is used:

unit-tests:

[code]

browser-tests:

[code]

[2019-01-08 19:13] rezende commented on #1817
Does this work on the latest versions of the library ? I am using an old Modernizr version (2.7.1) and it's not working either.

[2019-01-08 19:42] rejas commented on #1817
I assume it was fixed with this commit: https://github.com/Modernizr/Modernizr/commit/0239cb14df57cf884fdc717781809a5f96383747
Can you try version 3.6.0 and report back if it is fixed for good?

[2019-01-09 19:30] rezende commented on #1817
@rejas Will test and get back to the thread. Thanks a lot!

[2019-01-10 07:23] userofit123 opened #2407 "No output"
I have tried adding the code for detecting if WebP is supported, but there is not output, the only thing that gets added to <html> tag is class=" " with no class.

I have tried another random one also, and it too gave no class.

How can i fix this?

[2019-01-12 10:46] rejas opened #2408 "Chrome71: Caniuse result for touch doesnt match Modernizr's result for touchevents"
Error: expected true to equal false
    at Assertion.assert (http://localhost:9999/node_modules/expect.js/index.js:96:13)
    at Assertion.be.Assertion.equal (http://localhost:9999/node_modules/expect.js/index.js:216:10)
    at Context.<anonymous> (browser/integration/caniuse.js:308:28)

[2019-01-12 11:13] #2386 closed

[2019-01-12 12:11] rejas commented on #2247
hi @eddr sorry for not answering sooner. Two things:
1) you shouldnt use hasEvent, that is an internal method, just use the normal method like:
CSS

.no-touchevents .box { color: red; }
.touchevents .box { color: green; }

JS

if (Modernizr.touchevents) {
  // supported
} else {
  // not-supported
}

2) Modern Chromes (>=70) have changed their behaviour, I fixed it in the branch "issue_2408". Can

[2019-01-12 20:41] dutchenkoOleg commented on #2402
is the holidays are not over yet?
@patrickkettner  you need us \o/

[2019-01-12 21:30] acahir opened #2410 "Safari SecurityError"
I made the changes in  #2337 directly but it did not fix the SecurityError problem in Safari.

Opening this since all the others are already closed thinking the PR fixed the issue.

 @steffenweber @rejas

[2019-01-13 17:59] rejas commented on #2410
hi @acahir could you provide a url or codepen or somthign si,ilar where I can see myself the errors?

[2019-01-13 19:06] acahir commented on #2410
Just tried to create a slimmed down example and realized it's only happening when served locally on macOS via file:/// URI in Safari. The same file opened via Firefox using file:/// works fine, which is why I opened this issue. It does work in Safari from a http:// URI, even without the changes from #2337.

Example file to demo:
http://cahir.net/test/modernizr.html

To test the failure locally on

[2019-01-13 20:37] rejas commented on #2410
Closing it, keeping ot for future reference :-) Thx for the reply and demo

[2019-01-13 20:37] #2410 closed

[2019-01-15 09:22] ray007 opened #2411 "FR: add detect for conic gradients"
see https://caniuse.com/#feat=css-conic-gradients

[2019-01-15 09:32] rejas commented on #2411
hi @ray007 any idea on how to detect it? maybe even got a PR already prepared? ;-)

[2019-01-15 10:07] ray007 commented on #2411
Not yet. I have an idea going with svg and foreignObject to canvas, but was hoping somebody else might already have needed this.

[2019-01-21 14:33] horprogs opened #2412 "Option enableClasses always is true"
Hi! I try to build modernizr via https://modernizr.com/download?webp-dontmin&q=webp

Option `enableClass` always is `true`, but I don't select "Add CSS classes", and Modernizr always set classes to html tag, but I don't need it.
Via command `modernizr -c modernizr-config.json` same. Config
[code]
What I doing wrong?

[2019-01-21 19:52] rejas commented on #2412
Well, you are not doing anything wrong. Its a known issue that configuration options are not working see https://github.com/Modernizr/Modernizr/issues/1663
I'll try to get the corresponding PR into shape.
In the meantime you can edit your build modernizr file and change the line that says:` 'enableClasses': true,` to `false`
That might help, could you confirm that?

[2019-01-22 10:21] horprogs commented on #2412
Yes, if I set `enableClasses: false` it works.

Do you mean to test this branch?
https://github.com/Modernizr/Modernizr/tree/issue_1663

[2019-01-22 11:15] rejas commented on #2412
Good to hear that the "hack" works at least ;-)
Yes, thats the branch.

[2019-01-25 10:54] vazitron commented on #2209
Same issue in 3.6.0

Browser: Chrome Version 71.0.3578.98 (Official Build) (64-bit)
Platform: Linux

We run a customized build with this config:
[code]

[2019-01-25 13:32] rejas commented on #2209
Can confirm this now too. Culprit is this line: https://github.com/Modernizr/Modernizr/blob/c21ecfe5770ddab5dc3590d3ab2ce67ad4d65736/feature-detects/css/nthchild.js#L31
Using width in the test lets it fail since the pixel get rounded in unexpcted ways in these zoom levels.

[2019-01-25 13:33] rejas commented on #2209
Maybe you can try this branch @vazitron  and report if it really fixes your problem?

[2019-01-25 22:15] vazitron commented on #2209
@rejas Thanks for the fix. I've tried it, and it appears to fix the issue to some degree, but zooming exactly to 80% still breaks it.

See my repro:
https://codepen.io/anon/pen/qgbYaX -- build opened via link from modernizr.com
https://codepen.io/anon/pen/daGeoV -- the same build, just JS replaced with dist created with your pull request

Zoom:
50% - current is broken, yours is fixed
75% - current

[2019-01-26 19:25] EdenSG opened #2415 "modernizr.com TLS certificate has expired"

[2019-01-26 19:47] rejas commented on #2415
@patrickkettner this is kind of important, could you take a look at this?

[2019-01-27 13:49] rejas commented on #2415
Seems to be fixed, new certificate valid until april 2019. Would be good to know who's responsible for this...

[2019-01-27 13:49] #2415 closed

[2019-01-28 10:05] thomstak commented on #2394
Same issue here, hope it will be fixed soon

[2019-01-31 14:58] DarrenMack-OD opened #2416 "Not the same version that's in the NPM Registry"
This is not the version that NPM registry serves up... I can tell because the lodash version in NPM Registry is 4.17.4. But this version here has 4.17.11. Any ideas?

[2019-01-31 15:04] roblarsen commented on #2416
#2394
#2402

etc.

[2019-02-04 18:40] rezende commented on #1817
It worked!

[2019-02-04 21:27] CupList1 opened #2417 "need to integrate modernizer"

[2019-02-05 11:54] rejas commented on #2417
hi there, you need to be a little more specific where you need help. otherwise it's a little hard to know where you struggle to integrate Modernizr :-)

[2019-02-05 21:02] rejas commented on #1817
Good to hear. Closing this issue therefore.

[2019-02-05 21:02] #1817 closed

[2019-02-07 16:15] mooffie opened #2418 "Misleading comment (SVG filter)"
`svg/filters.js` contains the comment "Should fail in Safari". This gives the impression that the test fails to correctly detect  the availability of SVG filters in Safari. This impression is wrong.

The detection works correctly for Safari.

I tested it on two Safaris:

Safari 5.1: the test returns `false`.
Safari 9.1: the test returns `true`.

This concurs with https://caniuse.com/#feat=svg-filt

[2019-02-07 21:05] rejas commented on #2418
Sounds reasonable @mooffie Would you like to submit a PR for this?

[2019-02-08 00:12] cmoock commented on #2172
We encountered this same issue in all versions of Modernizr from 3.3.1 to 3.6.0. The culprit was the focus() call in CSS Hyphens. Short excerpt:

[code]

We were able to workaround the problem by removing CSS Hyphens from our Modernizr custom build.

[2019-02-11 06:53] huanghai21 commented on #2394
hi, @patrickkettner, we got the same issue. Hope it can be published soon to resolve the `prototype pollution` vulnerability came from the npm audit.
thx~

[2019-02-11 10:55] djibarian commented on #1623
Agree with the statements from @g-borgulya and @jeromecovington. I’m new to Modernizr and was expecting it to work as `import { feature } from Modernizr`. I’m too lazy to using it in a different way.

[2019-02-12 08:18] niksy commented on #1623
@g-borgulya @jeromecovington @djibarian I’ve made this possible in my fork of Modernizr: https://github.com/niksy/modernizr-esm

[2019-02-12 08:28] niksy commented on #1333
@ogonkov @alexturpin @adekbadek I’m maintaining [ESM build of Modernizr](https://github.com/niksy/modernizr-esm) if you’re still interested!

[2019-02-13 16:46] mrcoles opened #2419 "Emoji - Chrome 72, retina screen: false negative"
When I run the emoji detect code on a retina screen (window.devicePixelRatio === 2) on Chrome 72, I get a false negative for Emoji support. This is the relevant code:

[code]

from the most recent [emoji.js file](https://github.com/Modernizr/Modernizr/blob/5e3f359bfc9aa511543ece60bd8a6ea8aa7defd3/feature-detects/emoji.js) (appears to be v3.6.0?)

Here are some results I got testing on Mac OSX 10.1

[2019-02-13 16:47] mrcoles commented on #2398
@mpreethi90 does what you were seeing match what I just encountered? https://github.com/Modernizr/Modernizr/issues/2419 (Also, I think you’re seeing a false negative?)

[2019-02-13 17:00] mrcoles commented on #2419
Here’s a codepen I created: https://codepen.io/mrcoles/pen/WPKaOE?editors=0110

It shows where the referenced pixel ends up (on a retina screen) depending on whether we multiply the offset by devicePixelRatio or not.

<img width="316" alt="screen shot 2019-02-13 at 11 58 40 am" src="https://user-images.githubusercontent.com/136651/52729250-d4926d80-2f86-11e9-8b4a-905f3bad36d9.png">

and here’s wha

[2019-02-13 17:09] mrcoles commented on #1688
I just found this issue: https://github.com/Modernizr/Modernizr/issues/2419 which appears to be the same problem and came up with this subsequent PR https://github.com/Modernizr/Modernizr/pull/2420

[2019-02-19 16:59] evilebottnawi commented on #2402
/cc @dutchenkoOleg @rejas can we release new version of modernizr without security problem, https://github.com/peerigon/modernizr-loader use `modernizr` as deps so `npm audit` output problems

[2019-02-19 22:38] rejas commented on #2402
sorry, @evilebottnawi, only @patrickkettner has publishing rights and he is still not showing up. all other original maintainers are pretty much missing-in-action too so there's that :-(
I did however created a fork and published the current master as https://www.npmjs.com/package/modernizr-next v3.6.0-2019.2 if you need a package to install via npm.
I am also planning on merging some open PR into

[2019-02-19 22:41] rejas commented on #2394
Hi @all I published the current master under this package https://www.npmjs.com/package/modernizr-next if you are willing to try that out ;-)

[2019-02-19 22:53] SlexAxton commented on #2402
thanks for all your hard work over the last year @rejas - you're now a maintainer and a publisher.

[2019-02-20 08:27] niksy commented on #2402
And just like that, it seems like modernizr-next will be unpublished :D

@SlexAxton thanks for this, @rejas is doing great job of maintaining this project and with him having publishing rights, maybe we can continue on making this project even better!

[2019-02-20 09:35] MarioBinder commented on #2394
The dependency underscorce.string is also affected https://www.npmjs.com/advisories/745

[2019-02-20 09:57] evilebottnawi commented on #2402
@rejas thanks for working on projects, looks you have right on publish right now, can you release new version on npm? Big thanks!

[2019-02-20 16:38] rejas commented on #2402
Thx for the upgrade @SlexAxton ! That (and you) came out of nowhere ;-)

I'd love to do a new release of Modernizr @evilebottnawi alas the website (modernizr.com) isnt updated even for the latest release.

I created a PR to add the changelog for 3.6, not sure if it gets automatically deployed if I merge it. Can you clarify that @SlexAxton ? Or how where release-anouncments handled back in the days

[2019-02-20 16:40] rejas commented on #2394
yeah, not sure if we can get that fixed easily, since we dont use it directly... Any ideas @MarioBinder ?

[2019-02-20 17:32] SlexAxton commented on #2402
I think the website deploy might be a patrick thing on azure, but there’s a
modernizr-www repo that it sounds like you have a PR for? Seems peaceful to
merge that changelog and see if anything happens automatically and if not,
we can reach out to the right places and get you access.

Not sure a out release announcements. I assume updating the changelog on
the site is good enough these days. People

[2019-02-20 17:43] rejas commented on #2402
Ok, merged the PR https://github.com/Modernizr/modernizr-neue/pull/130 Lets see if something happens...

[2019-02-22 10:39] evilebottnawi commented on #2402
/cc @rejas what is status (no rush)?

[2019-02-22 11:59] rejas commented on #2402
so yeah @evilebottnawi nothing happened after I pushed the changelog of the 3.6 to the website repo.

So now I would REALLY like to hear from @patrickkettner how that site is maintained in the future. Any idea on how to get input from him @SlexAxton ?

In the meantime I created a branch for generating a CHANGELOG.md autoamtically, that might be a temporary solution to get infos out for those peopl

[2019-02-22 12:07] roblarsen commented on #2402
@rejas It looks like there is a job set up to publish from gh-pages

https://github.com/Modernizr/modernizr-neue/blob/master/.travis.yml

[2019-02-22 12:16] rejas commented on #2402
@roblarsen not sure if that is something that was used since I dont see any updates on that github branch after it was created. or does that work without git commits?

[2019-02-22 12:26] roblarsen commented on #2402
@rejas There is only the one commit, but he gh-pages branch also looks like the last published version of the site (it has 3.5 news) so maybe it was set up with gh-pages and travis and was only used for that one release? I don't really know. I'm just poking around to see what might be happening. It's tough to know since we can't see the other side (whatever machine it's hosted on.)

[2019-02-22 13:10] rejas commented on #2402
Thats the problem, nobody in this discussion really knows. Do you know how to contact @patrickkettner reliably (my guess would be twitter)? Or maybe https://github.com/alrra who seemed to have worked on that file too?

[2019-02-24 20:34] rejas commented on #2301
Hi @kalitine sorry for the late reply. Also unfortunatly I cannot reproduce this, neither with v3.6 nor with the current master. Which version did you use?

[2019-02-26 18:12] harrislapiroff commented on #2313
Adding my voice to the chorus here asking for a new release to be cut with this and a resolution to #2396.

[2019-02-26 21:28] rejas commented on #2313
Soon ;-)

[2019-02-26 21:34] #2412 closed

[2019-02-26 21:34] #1663 closed

[2019-02-26 21:52] rejas commented on #2402
Couldnt wait myself any longer, so I released a new version :-) Enjoy, hope it doesnt break anything!

[2019-02-26 21:52] #2402 closed

[2019-02-26 21:53] rejas commented on #2394
Released v3.7.0, wil be on npm in a short while

[2019-02-26 21:53] #2394 closed

[2019-02-27 16:04] ManuelBoucault commented on #2172
Having the same, including only the ```input[type="number"] Localization``` detection.
You can see the issue here : https://codesandbox.io/s/o6vzzvj7z

[2019-02-27 21:51] harrislapiroff commented on #2313
@rejas thank you!!

[2019-02-28 09:20] #2408 closed

[2019-02-28 17:50] jhbsk opened #2422 "CustomEvent & dispatchEvent vs. Event & dispatchEvent vs. createEvent, initEvent & dispatchEvent vs. createEventObject & fireEvent"
There are many ways to trigger events, and depending on what the browser actually supports, this can become a quite complex area.

I'm very surprised Modernizr does not have any feature detection for any event dispatching methods whatsoever, except CustomEvent.

In general, the [following are all valid ways to dispatch events](https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_

[2019-03-01 09:23] kalitine commented on #2301
Hi, sorry it was long time ago. I created a database for testing whether indexeddb is available (It was for private navigation in browsers).

[2019-03-04 10:14] evilebottnawi commented on #2402
@rejas looks we still have security problem with `modernizr > remarkable > argparse > underscore.string`? Can we update deps/replace/move to devDeps and release this as patch release?

[2019-03-05 12:35] rejas commented on #2402
@evilebottnawi as @patrickkettner already said in https://github.com/Modernizr/Modernizr/issues/2402#issuecomment-447507005 this isnt a real issue for us in the sense when modernizr is used.
yes, it would be nice (but not necessary) to have that fixed but none of the options are currently feasible:
a) have it fixed in remarkable. well, there are multiple PR for that issue open in remarkable (see h

[2019-03-05 12:45] evilebottnawi commented on #2402
@rejas thanks for clarify, very bad what it was not merged :disappointed:

[2019-03-05 12:59] evilebottnawi commented on #2402
/cc @jonschlinkert friendly ping

About https://github.com/jonschlinkert/remarkable/pull/312

I agree with https://github.com/jonschlinkert/remarkable/pull/312#issuecomment-447430773

Emotionless. The main problem here is not vulnerable deps, it is noise from other developers. Many young/not only young developers see this warning (from `npm`/`yarn`) create new issues. It is hard to explain each de

[2019-03-05 18:03] jonschlinkert commented on #2402
Well said. I’m also interested in the solution.

Sent from my iPhone

[2019-03-06 09:19] evilebottnawi commented on #2402
@jonschlinkert What is blocker merge https://github.com/jonschlinkert/remarkable/pull/312?

[2019-03-06 15:48] jamie-l-robertson opened #2423 "Fatal error: Generate is not a function"
This issue only started a day ago, when running grunt-modernizr im getting `Fatal error: Generate is not a function` at the Building your customized Modernizr stage. Looks like Modernizr is failing to build - https://travis-ci.org/Modernizr/Modernizr

This is on a clean install of grunt-modernizr and therefor Modernizr too, i can take a previous install and it works.

any help would be appreciated

[2019-03-06 22:17] rejas commented on #2301
So, would you mind if I close the issue then?

[2019-03-07 09:32] kalitine commented on #2301
Yeah of course! Thank you.

[2019-03-07 09:32] #2301 closed

[2019-03-09 10:01] rejas commented on #2416
fixed with v3.7.0

[2019-03-09 10:01] #2416 closed

[2019-03-12 18:47] #2126 closed

[2019-03-13 14:22] rejas commented on #2422
hi @jhbsk do you want to create a preliminary PR to get the discussion going?

[2019-03-13 15:26] jhbsk commented on #2422
Happy to have a stab at it @rejas !

[2019-03-14 16:29] #2396 closed

[2019-03-15 18:13] omzy83 opened #2425 "List all features"
I want to build a CSS3 feature testing page, so I was wondering if there is any way to get a list of all features that Modernizr can detect, and output them on the page? Instead of adding each feature manually.

So for example suppose Modernizr can provide a list of all features in a JS array, I'd just loop over the array and append the feature name to my `<ul>`. Example output would be:

[code]

[2019-03-18 08:53] rejas commented on #2425
That's a good question @omzy83 unfortuntunatly I am not as deep in the code to know if thats already possible. Might I ask why you want such a feature? If you are using/building Modernizr you should already know which features are tested in that build and you could check the root element for all supported/not-supported classes...

[2019-03-18 09:56] omzy83 commented on #2425
@rejas I wanted to build a page that would serve as a CSS3 browser test page. A bit like css3test.com

So a user could find out what features their browser supports.

[2019-03-18 10:48] rejas commented on #2425
You could iterate over the lib/config-all.json files "feature-detects" entry, in there "should" be all tests that Modernizr supports. You got to make sure of course that you build Modernizr with that config set.

[2019-03-18 20:31] Giovancruz opened #2428 "Modernizr touch events on not touch devices"
Hi,

I think that the Pull request #2409, to Modernizr is broken my site, because are setting True to Modernizr.touch events on no touch devices as follow:
Old Version:
![image](https://user-images.githubusercontent.com/16118429/54561389-4ead7c00-49a3-11e9-94f1-098a9710a11f.png)

New Version:
![image](https://user-images.githubusercontent.com/16118429/54561422-6422a600-49a3-11e9-8e50-7c4eff6ca4d6.

[2019-03-19 00:37] jessadejesus commented on #2004
where do I find the adblocker?

[2019-03-19 07:06] Mohsen-Khakbiz commented on #2004
@jessadejesus it's an extension in your browser

[2019-03-19 08:37] rejas commented on #2428
This is not a bug but a feature @Giovancruz ;-) The test detects if the browser is capable of detecting touches, not if the device is a touch dedevice. See the warning comment in the code:
https://github.com/Modernizr/Modernizr/blob/5afbd1205843ea0c3bb920f073a47efc783533b4/feature-detects/touchevents.js#L12

[2019-03-19 08:37] #2428 closed

[2019-03-19 08:38] rejas commented on #2376
HI @evanrmurphy since releases start flowing again, I wanted to ask if you are still interested in creating a PR for this?

[2019-03-20 15:45] BenRichter opened #2430 "Modernizr 3.7.1 sets .touchevents on Desktop-Chrome"
macOS High Sierra (v 10.13.6)
Chrome Version 72.0.3626.121 (64-bit)
Modernizr v3.7.1

After upgrading modernizr, the class .touchevents (instead of .no-touchevents) was set in Chrome.
- Firefox and Safari are working fine.
- Didn't zoom or else
- Incognito-Mode without Plugins has same effect
- Same in colleagues Vivaldi-Browser (chromium)

[2019-03-20 17:51] rejas commented on #2430
See #2428: The test detects if the browser is capable of detecting touches, not if the device is a touch device.

[2019-03-20 17:51] #2430 closed

[2019-03-20 20:15] patrickkettner commented on #2425
To do what you wanted, you an click on "development build" on the homepage ([modernizr.com/download?do_not_use_in_production](https://modernizr.com/download?do_not_use_in_production)). This is just everything clicked off for you. From there you can do BUILD, and **click open in codepen.io** to open a page with all tests running in it.

That being said, I wouldnt suggest it. Only a small portion of

[2019-03-20 20:15] #2425 closed

[2019-03-21 08:28] BenRichter commented on #2430
My bad. I guess there are hundreds of sites using this feature wrong.
In our case we're initiating https://github.com/ftlabs/fastclick to remove click delays on touch devices, if touchevents are enabled. But this will fire two events now... :/

[2019-03-21 09:22] rejas commented on #2430
I have to admit I find this confusing too. Maybe it is time to add another test for detecting if the device is touch-capable. https://ctrlq.org/code/19616-detect-touch-screen-javascript seems promising for detecting such devices. What do you think?

[2019-03-21 09:43] niksy commented on #2430
Just to chime in - I think feature test should tell if device is actually touch device; I think people expect that from this feature test.

[2019-03-21 10:22] rejas commented on #2430
If they expect that they are clearly not reading the documentation ;-)

Yes, this test also clearly needs a cleanup / refinement. But I dont think that changing its scope now would help sicne we dont know how many people use it wrongly / correctly. There for adding another tests (and updating the docs to point to that accordingly) would be the better path IMO

[2019-03-21 11:47] koskinpark opened #2431 "Desktop chrome touchevent tests returns "true" always."
Hello there.
I know about https://github.com/Modernizr/Modernizr/pull/2409
But question is "why"? Of course now it works as expected in terms of "description" of this test. But usage of this test was to detect real touch screens, not browser feature. I don't against last fixes for touchevents, but i'd say we need to have both possibilities to check any case:
1. Does this browser support touch feat

[2019-03-21 11:49] SlexAxton commented on #2430
This is one of the oldest and most recurring requests for modernizr. Everyone agrees it would be nice, but no one has ever been able to write a test without a significant amount of false positives.

The short version: there are a slew of devices that support touch events *and* mouse events (microsoft surfaces). Users even mix and match these events in single interactions with apps. Detecting suppo

[2019-03-21 12:00] roblarsen commented on #2430
There's been a lot of discussion here about this very issue. #869 is the most commented issue in the repo.

If you're unfamiliar with the complexity, this [remains a good place to start](https://patrickhlauke.github.io/getting-touchy-presentation/#Cover) although there are some changes (more complexity!) to the landscape since it was last updated.

As a Surface Pro user (touch! pen! mouse!) I can

[2019-03-21 12:13] roblarsen commented on #2431
See #869

Also check out [Getting touchy](https://patrickhlauke.github.io/getting-touchy-presentation/#Cover)

[2019-03-21 12:18] rejas commented on #2430
So you dont think that adding a new "simple touchdevice" test based on `('ontouchstart' in window)` would be an option? It would at least give those people that want to detect a touchdevice a starting point. And yes, I am pretty sure even if we add a BIG THIS TEST IS NOT 100% CORRECT warning sign in the docs/code we'd get open issues... But then we could at least request PRs or tell them that it a

[2019-03-21 12:30] roblarsen commented on #2430
What is a "touch device?" What is a "touch user." It's the wrong question to ask. Asking it and acting on it like it's a binary is usually harmful to end user experience.

Is my Surface Pro with a mouse, a pen and a touchscreen a "touch device?" How about my Note with the pen out? Yes and yes? Okay, maybe. Is it necessarily appropriate to give me _just_ a fat finger interface on those devices? Wit

[2019-03-28 09:10] nicolomonili commented on #2209
I can confirm this problem.
- Tested on Chrome **v73.0.3683.86** (Mac)
- With this custom version of **Modernizr v3.6.0**

[code]

Try to print **Modernizr** on console, with the browser zoomed < 90% the result is this
`{nthchild: false, flexbox: true, flexwrap: true, csspositionsticky: true}`

With browser zoomed >= 90% the result is correct
`{nthchild: true, flexbox: true, flexwrap: true, csspos

[2019-04-04 01:24] jessadejesus commented on #2004
the adblocker does not work. any suggestion.

[2019-04-04 01:27] jessadejesus commented on #2004
![Screenshot_35](https://user-images.githubusercontent.com/48699739/55523438-cbd33380-56bb-11e9-8c30-84d48b4b8498.png)

this is my error

[2019-04-04 05:50] rejas commented on #2004
we would need a little more info from you @jessadejesus how do you load Modernizr into your page, how did you build it, maybe we can see the page somewhere on the net directly?

[2019-04-04 06:36] jessadejesus commented on #2004
I don't know how it happened, I'm just loading 2 pages/tabs same content and then errors came out.

[2019-04-04 07:35] rejas commented on #2004
please be more specific on how you incorporate modernizr on your page. how does your code look like ?

[2019-04-06 18:22] asmarcz opened #2433 "Proposal: scrollToOptions detection"
When using `scrollTo` function you can choose between two syntaxes. The scrollToOptions object is not supported in Edge, Safari and IE.

`scrollTo` scrolls to 0, 0 when it is supplied "invalid arguments" so the support can be detected by this.

I don't know whether this is something worth being in Modernizr. I would appreciate any help with my first contribution.

[2019-04-09 08:33] rejas opened #2434 "FR: add feature detect for native lazy loading"
As described in https://addyosmani.com/blog/lazy-loading/
chrome  75 will add native lazy loading functionality.
Feature detection could be done according to the blog post with
[code]

[2019-04-11 18:08] DominikTrenz commented on #2307
We have the same problem. You can fix it by adding a empty string to the domPrefixes so the unprefixed "RTCPeerConnection" is tested for datachannel. Just a quick hack

[2019-04-14 08:40] baicaigithub commented on #1052
I just saw lebowskilebowski recently ff 63 on https://ceac.state.gov/.

[2019-04-15 09:31] gregmatys commented on #2431
it works incorrectly from 3.7.1 version where `window.TouchEvent` is added

[2019-04-16 15:28] ayumihamsaki opened #2435 "The download (build) page still creates V3.6.0"
Hi,

When I try to create a build at the following web page: https://modernizr.com/download/?setclasses

It still creates V3.6.0 and not V3.7.1

----

my own ref: https://github.com/octobercms/october/issues/3867

[2019-04-16 17:19] ayumihamsaki commented on #2435
Yes I can, just wanted to let you know about that issue.

[2019-04-16 19:04] rejas commented on #2435
Thx for the issue, will move it to the website repo.

[2019-04-18 13:02] rejas commented on #2307
Thx for the info @DominikTrenz and sorry for the late reply @nseidel
Seems like the datachannel test doesnt check for the unprefixed version:
https://github.com/Modernizr/Modernizr/blob/5afbd1205843ea0c3bb920f073a47efc783533b4/feature-detects/webrtc/datachannel.js#L20

Anyone of you want to take a stab at creating a PR for this?

[2019-04-18 13:12] rejas commented on #2433
hi @asmarcz this could be indeed something for modernizr. what you need help with foremost? on how to write a PR in general or on how to write a test for modernizr?

[2019-04-19 09:13] asmarcz commented on #2433
@rejas Thank you for response. I will look into it in two days. I will ask here if I get stuck.

[2019-04-19 21:04] #2307 closed

[2019-04-20 19:54] asmarcz commented on #2433
I have created test file in feature-detects folder and registered it in config-all.json. Then I generated bundle using `./bin/modernizr -c lib/config-all.json` however when I wanted to try out whether it works, I found out that there is an error in the bundle itself.

`modernizr.js:6866 Uncaught TypeError: Cannot read property 'removeChild' of null
    at Object.fn (modernizr.js:6866)
    at testR

[2019-04-21 12:36] rejas commented on #2433
Without looking at the cdoe I cant say anything for sure. Could you create a PR from your branch so I can have a look?

[2019-04-22 11:37] asmarcz commented on #2433
@rejas Turned out I misused Modernizr, my bad. I created a pull request. I tried to understand the Travis log but could not wrap my head around it. Everything seems to work OK when I build and test locally. #2438

[2019-04-28 18:21] ayumihamsaki opened #2439 "Is this a typo error?"
The following file code line: https://github.com/Modernizr/Modernizr/blob/8cfeb97459c13a250029c8b4d71dfe34b3dc163a/src/domPrefixes.js#L1

Is it meant to be this:

`define(['ModernizrProto', 'domPrefixes'], function(ModernizrProto, domPrefixes) {`

I'm guessing you don't want to write: `omPrefixes` when the filename is called: domPrefixes

My own ref: https://github.com/octobercms/october/issues/38

[2019-04-28 18:23] ayumihamsaki opened #2440 "The download (build) page still creates V3.6.0"
Not sure if I created the issue in the correct repo, so will create here as well.

As per here: https://github.com/Modernizr/modernizr-neue/issues/140

Hi,

When I try to create a build at the following web page: https://modernizr.com/download/?setclasses

It still creates V3.6.0 and not V3.7.1

----

my own ref: https://github.com/octobercms/october/issues/3867

[2019-04-28 18:23] patrickkettner commented on #2439
No, it's intentional. It is importing omPrefixes (I.e. prefixes for the Document Object Model and CSS Object Model

Thanks for the sanity check!

[2019-04-28 18:23] #2439 closed

[2019-04-28 18:28] ayumihamsaki commented on #2439
Thanks for quick reply.

[2019-04-28 20:38] rejas commented on #2440
Duplicate of https://github.com/Modernizr/modernizr-neue/issues/140

[2019-04-28 20:38] #2440 closed

[2019-04-29 16:55] ayumihamsaki opened #2441 "Your Website Changelog is out of date"
Just to let you know your website is out of date with your release information it's still stuck on V3.5.0 and the current version is V3.7.1 see here: https://modernizr.com/news

[2019-04-29 21:22] rejas commented on #2441
Thx for the info, I am aware of this though but cannot change anything about it since @patrickkettner is as far as I know the only one capable of deploying (I cant even get the page to build locally). But please report in the future errors on the website in the correct repo (https://github.com/Modernizr/modernizr-neue) Moving your report there now.

[2019-05-02 18:00] pauldraper commented on #199
:thinking:

[2019-05-03 17:33] rejas commented on #2417
Closing due to inactivity

[2019-05-03 17:33] #2417 closed

[2019-05-03 17:36] CupList1 commented on #2417
What can we use modernizr for? We read through your documentation and we are still confused. Is there a way we can use it for look and feel of the site to look the same across all browser and devices?

Co-founder
MoneyBrag.com<http://MoneyBrag.com>
5900 Wilshire Blvd 26th Floor
Los Angeles California 90036
www.MoneyBrag.com<http://www.MoneyBrag.com>

On Feb 5, 2019, at 3:54 AM, Veeck <notification

[2019-05-03 17:53] rejas commented on #2417
You mean the Documentation at https://modernizr.com/ ?
Like it sys: "Modernizr tells you what HTML, CSS and JavaScript features the user’s browser has to offer."
It wont automatically change your site to look the same. It merely tells you which feature a brwoser has (or has not) so that can work around that.
I'd take a look at your moneybrag site but then again I dont want to take the risk ;-)

[2019-05-03 17:56] CupList1 commented on #2417
Thank you so much. How can we do the integration? Also the look and feel on windows is different from the look and feel on the Mac and other browsers as well like chrome

Co-founder
MoneyBrag.com<http://MoneyBrag.com>
5900 Wilshire Blvd 26th Floor
Los Angeles California 90036
www.MoneyBrag.com<http://www.MoneyBrag.com>

On May 3, 2019, at 10:54 AM, Veeck <notifications@github.com<mailto:notificati

[2019-05-03 18:15] rejas commented on #2417
Again, please look at the documentation available at www.modernizr.com or search for a tutorial online like this: https://www.tutorialspoint.com/How-to-include-Modernizr-in-HTML-document

Also please understand that I cannot do any support here for your moneybrag business site. Contact your webmaster or whoever is in charge of that to get it fixed.

[2019-05-03 18:17] CupList1 commented on #2417
I understand where you are coming from but we need help with the documentation

Co-founder
Oyalo Inc
5900 Wilshire Blvd 26th Floor
Los Angeles California 90036
www.Oyalo.com<http://www.Oyalo.com>

On May 3, 2019, at 11:15 AM, Veeck <notifications@github.com<mailto:notifications@github.com>> wrote:

Again, please look at the documentation available at www.modernizr.com<http://www.modernizr.com> or

[2019-05-03 18:44] rejas commented on #2417
Sorry, I will not wast any more time on this as long as you seem to be unwilling to read any documentation I provide.

[2019-05-03 18:44] rejas commented on #2407
Closing due to inactivity

[2019-05-03 18:44] #2407 closed

[2019-05-06 07:15] alexandroid commented on #1052
For posterity (also shows up on the main page):
![lebowski](https://user-images.githubusercontent.com/555063/57211108-500b2600-6f9c-11e9-8766-ef90478be78f.png)

[2019-05-06 18:46] colorcrate opened #2444 "FR: Detect support for third party cookies"
By default most browsers will accept third party cookies, but newer versions of [Safari blocks them by default](https://superuser.com/questions/1292504/how-to-allow-third-party-cookies-in-safari-11-0-3-13604-5-6). There's a (mostly) pure JS solution [here](https://stackoverflow.com/questions/3550790/check-if-third-party-cookies-are-enabled#answer-34991552), but it needs a third party server to fun

[2019-05-08 07:43] gautam1168 commented on #2275
@patrickkettner Its giving 502 error again 8 May, 2019 1:13pm(IST)

[2019-05-13 15:26] rejas commented on #2444
hi @colorcrate yeah, a server side solution wouldnt be a good idea. A PR for a client side only solution would be welcome though...

[2019-05-15 01:20] wisniewskit opened #2445 "Modernizr.hiddenscroll does not work propertly for sites specifying custom scrollbar CSS"
If a site is using a rule like `::-webkit-scrollbar { width: 5px; }`, then Chrome Mobile yields different `offsetWidth` and `clientWidth` values for the test-div that Modernizr is using, regardless of the fact that the scrollbars are still visually hidden. Likewise if the page has set the width to 0 or hidden the scrollbars, then the test will also fail.

I assumed the test could take this into ac

[2019-05-15 13:01] rejas opened #2446 "Re-add saucelabs support"
Saucelabs support got removed when switching to gulp for the dev-pipeline. Wasnt maintained anyway on our side, so no real loss here.
If anyone wants to re-add it, feel free to do that :-)

[2019-05-15 13:02] rejas opened #2447 "Re-add coverage / coveralls support"
Testing coverage with coveralls got removed when switching to gulp for the dev-pipeline. Wasnt maintained anyway on our side, so no real loss here.
If anyone wants to re-add it, feel free to do that :-)

[2019-05-15 13:04] #2332 closed

[2019-05-15 13:04] rejas commented on #2355
Fixed via #2429

[2019-05-15 13:04] #2355 closed

[2019-05-15 13:38] #2406 closed

[2019-05-16 06:36] rejas commented on #2447
For reference, here is the latest report on coverage: https://coveralls.io/github/Modernizr/Modernizr

[2019-05-17 13:14] tlenex commented on #2316
I had similar issue and I recommend you moving away from modernizr.com dependency for those two reasons:

1. It is **non-versioned** link dependency, thats why you get EINTEGRITY error while checking package sha hash with the one in your package-lock.json/cache (#2220).
2. modernizr.com sometimes goes down, so it is not that reliable package source as we could wish for (#2275).

I recommend switch

[2019-05-18 18:21] meowsus opened #2450 "Purpose of contextMenu test"
This test fails in all non-Gecko browsers and [even that support is going away](https://developer.mozilla.org/en-US/docs/Web/API/HTMLMenuItemElement).

Is this test useful any longer?